<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Gastos</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Gastos de la Empresa">
			<h:form id="formCriteriosBusqueda">
				<p:outputLabel value="FECHA INGRESO" styleClass="DispBlock" />
				<p:calendar value="#{gastosBean.criterioBusquedaFecha}"
					navigator="true" styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="DESCRIPCIÓN" styleClass="DispBlock" />
				<p:inputText value="#{gastosBean.criterioBusquedaDescripcion}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="PROVEEDOR" styleClass="DispBlock" />
				<p:inputText value="#{gastosBean.criterioBusquedaProveedor}"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton id="btnBusqueda" icon="#{msg['i.buscar']}"
					actionListener="#{gastosBean.obtenerGastos}"
					value="#{msg['btn.buscar']}"
					update=":formTablaListadoGastos, :mensaje" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formTablaListadoGastos">
				<p:dataTable id="tablaListadoGastos" var="gastos"
					value="#{gastosBean.listaGastos}" paginator="true" rows="10"
					reflow="true" paginatorPosition="bottom"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowStyleClass="#{gastos.gastos.activo eq true ? null:'desactivo'}"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo" icon="#{msg['i.nuevo']}"
							actionListener="#{gastosBean.nuevoGasto}"
							update=":formNuevoGasto" oncomplete="mostarPanelInsertar('')" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:tooltip for="btnEditar" value="#{msg['lbl.editar']}" />
						<p:tooltip for="btnEliminar"
							value="#{gastos.gastos.activo eq true ? msg['lbl.desactivar']:msg['lbl.activar']}" />
						<p:commandButton id="btnEditar" update=":formEditar"
							oncomplete="mostarPanelEditar('')" icon="#{msg['i.editar']}"
							action="#{gastosBean.cargarEditar}">
							<f:setPropertyActionListener value="#{gastos.gastos}"
								target="#{gastosBean.gastos}" />
						</p:commandButton>
						<p:commandButton id="btnEliminar" update=":formEliminar"
							oncomplete="mostarPanelEliminar('')"
							icon="#{gastos.gastos.activo eq true ? msg['i.eliminar']: msg['i.activar']}">
							<f:setPropertyActionListener value="#{gastos.gastos}"
								target="#{gastosBean.gastos}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{gastos.gastos.fecha}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{gastos.gastos.descripcion}" />
					</p:column>
					<p:column headerText="Proveedor">
						<p:outputLabel value="#{gastos.gastos.proveedor.nombreComercial}" />
					</p:column>
					<p:column headerText="Precio Unitario">
						<p:outputLabel value="#{gastos.gastos.precioUnitarioCosto}" />
					</p:column>
					<p:column headerText="Cantidad">
						<p:outputLabel value="#{gastos.gastos.cantidad}" />
					</p:column>
					<p:column headerText="Subtotal" styleClass="TexAlRight">
						<p:outputLabel value="#{gastos.subtotalFacturado}" />
					</p:column>
					<p:column headerText="Iva" styleClass="TexAlRight">
						<p:outputLabel value="#{gastos.iva}" />
					</p:column>
					<p:column headerText="Total" styleClass="TexAlRight">
						<p:outputLabel value="#{gastos.totalFacturado}" />
					</p:column>
					<p:column headerText="Valor Retencion" styleClass="TexAlRight">
						<p:outputLabel value="#{gastos.valorRetencion}" />
					</p:column>
					<p:column headerText="Valor Retencion(Iva)" styleClass="TexAlRight">
						<p:outputLabel value="#{gastos.valorRetencionIva}" />
					</p:column>
					<p:column headerText="Total a Pagar" styleClass="TexAlRight">
						<p:outputLabel value="#{gastos.totalPagar}" />
					</p:column>
					<p:column headerText="Forma de Pago">
						<p:outputLabel value="#{gastos.gastos.tipoPago.nombre}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="#{msg['lbl.insertar']}"
			styleClass="DispNone">
			<h:form id="formNuevoGasto">
				<p:outputLabel value="Factura" styleClass="DispBlock" />
				<p:selectBooleanButton id="formatoGasto"
					value="#{gastosBean.bnFactura}" onLabel="SI" offLabel="NO"
					onIcon="#{msg['i.activar']}" offIcon="#{msg['i.cancelar']}"
					styleClass="w60px">
					<p:ajax update="formNuevoGasto" />
				</p:selectBooleanButton>
				<p:outputLabel value="Proveedor" rendered="#{gastosBean.bnFactura}"
					styleClass="DispBlock" />
				<p:autoComplete id="autoCompletarProveedor"
					rendered="#{gastosBean.bnFactura}" effect="drop"
					placeholder="Minimo 3 Caracteres"
					emptyMessage="#{msg['lbl.mensajeTabla']}" minQueryLength="3"
					maxResults="20" value="#{gastosBean.proveedor}"
					completeMethod="#{gastosBean.obtenerProveedorPorBusqueda}"
					styleClass="DispBlock Wid90 autoCompletar">
					<p:ajax event="itemSelect" id="prueba"
						listener="#{gastosBean.cargarProveedor}"
						update="autoCompletarProveedor, :mensaje" />
				</p:autoComplete>
				<p:outputLabel value="Fecha" styleClass="DispBlock" />
				<p:calendar value="#{gastosBean.fechaGasto}" navigator="true"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Descripcion" styleClass="DispBlock" />
				<p:inputText value="#{gastosBean.gastos.descripcion}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Tipo de Pago" styleClass="DispBlock" />
				<p:selectOneMenu value="#{gastosBean.gastos.tipoPago}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{gastosBean.listaTiposPago}" var="tipoPago"
						itemValue="#{tipoPago}" itemLabel="#{tipoPago.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Precio Unitario" styleClass="DispBlock" />
				<p:inputText value="#{gastosBean.gastos.precioUnitarioCosto}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Cantidad" styleClass="DispBlock" />
				<p:inputText value="#{gastosBean.gastos.cantidad}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Iva" styleClass="DispBlock" />
				<p:selectBooleanCheckbox value="#{gastosBean.gastos.iva}" />
				<p:outputLabel value="% Retencion"
					rendered="#{gastosBean.bnFactura}" styleClass="DispBlock" />
				<p:inputText rendered="#{gastosBean.bnFactura}"
					value="#{gastosBean.gastos.porcentajeRetencionFuente}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="% Retencion (Iva)"
					rendered="#{gastosBean.bnFactura}" styleClass="DispBlock" />
				<p:inputText value="#{gastosBean.gastos.porcentajeRetencionIva}"
					rendered="#{gastosBean.bnFactura}" styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					actionListener="#{gastosBean.insertar}"
					update="formNuevoGasto, :mensaje"
					oncomplete="comprobarInsertar(xhr, status, args, '')"
					icon="#{msg['i.guardar']}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelInsertar('')" icon="#{msg['i.cancelar']}"
					styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelEditar" header="#{msg['lbl.editar']}"
			styleClass="DispNone">
			<h:form id="formEditar">
				<p:outputLabel value="Fecha" styleClass="DispBlock" />
				<p:calendar navigator="true" value="#{gastosBean.fechaGasto}"
					styleClass="DispBlock Wid90 calendario" />
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					update=":formTablaListadoGastos ,:mensaje, formEditar"
					oncomplete="mostarPanelEditar('')" id="btnEditarAceptar"
					icon="#{msg['i.guardar']}"
					actionListener="#{gastosBean.actualizar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelEditar('')" id="btnEditarlimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelEliminar"
			header="#{msg['lbl.activar']}/#{msg['lbl.desactivar']}"
			styleClass="DispNone">
			<h:form id="formEliminar">
				<h:inputHidden value="#{gastosBean.gastos.id}" />
				<div class="EmptyBox30"></div>
				<h:outputText
					value="¿Desea #{gastosBean.gastos.activo eq true ? msg['lbl.desactivar'] : msg['lbl.activar']} el Gasto: #{gastosBean.gastos.descripcion} ?" />
				<div class="EmptyBox30"></div>
				<p:separator />
				<p:commandButton value="#{msg['btn.aceptar']}"
					update=":formTablaListadoGastos,:mensaje"
					icon="#{msg['i.guardar']}" oncomplete="mostarPanelEliminar('')"
					actionListener="#{gastosBean.eliminar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}" type="button"
					onclick="mostarPanelEliminar('')" icon="#{msg['i.cancelar']}"
					styleClass="RedButton" />
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>