<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Pagos</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Pagos de Facturas">
			<h:form id="formCliente">
				<p:outputLabel value="Cédula/Nombre" styleClass="DispBlock" />
				<p:inputText readonly="true"
					value="#{pagoBean.criterioBusquedaProveedor.cedula} - #{pagoBean.criterioBusquedaProveedor.apellido} #{pagoBean.criterioBusquedaProveedor.nombre}"
					styleClass="Wid90" />
				<p:commandButton update="txtCedula, tablaProveedores"
					oncomplete="mostarPanelBusqueda('')"
					action="#{pagoBean.limpiarObjetosBusquedaCliente}"
					icon="#{msg['i.buscar']}" styleClass="botonBuscar" />
				<div id="panelBusqueda" class="DispNone panelBusqueda">
					<p:outputLabel value="Busqueda Proveedor" styleClass="subTitulos" />
					<p:outputLabel value="Cedula/Ruc/Nombre/Apellido" for="txtCedula" />
					<p:inputText id="txtCedula"
						value="#{pagoBean.criterioProveedorBusqueda}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<div class="EmptyBox10"></div>
					<p:commandButton update="txtCedula, tablaProveedores, :mensaje"
						icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
						actionListener="#{pagoBean.obtenerProveedorPorBusqueda}" />
					<div class="EmptyBox10"></div>
					<p:dataTable id="tablaProveedores" var="proveedor" reflow="true"
						value="#{pagoBean.listaProveedorBusqueda}" paginator="true"
						rows="10" emptyMessage="#{msg['lbl.mensajeTabla']}"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						paginatorPosition="bottom" rowKey="#{proveedor.id}"
						selection="#{pagoBean.criterioBusquedaProveedor}"
						selectionMode="single">
						<p:ajax event="rowSelect" update=":formCliente"
							listener="#{pagoBean.cargarProveedor}" oncomplete="clickCerrar()" />
						<p:column headerText="Cedula">
							#{proveedor.cedula}
						</p:column>
						<p:column headerText="Apellido">
							#{proveedor.apellido}
						</p:column>
						<p:column headerText="Nombre">
							#{proveedor.nombre}
						</p:column>
					</p:dataTable>
					<p:commandButton id="btnCerrarBusqueda" type="submit" name="submit"
						styleClass="DispNone" actionListener="mostarPanelBusqueda('')" />
				</div>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{pagoBean.criterioBusquedafechaInicio}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{pagoBean.criterioBusquedafechaFin}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="# Documento" styleClass="DispBlock" />
				<p:inputText value="#{pagoBean.criterioBusquedaDocumento}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton
					update="formCliente, :formDataTable:tablaIngresos, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{pagoBean.obtenerFacturasPendientes}" />
				<div class="EmptyBox10"></div>
			</h:form>

			<h:form id="formDataTable">
				<p:dataTable id="tablaIngresos" var="ingreso" rows="10"
					paginator="true" paginatorPosition="bottom" reflow="true"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					value="#{pagoBean.listaIngresos}" selectionMode="multiple"
					selection="#{pagoBean.listaIngresosSeleccionados}"
					rowKey="#{ingreso.id}">
					<p:ajax event="rowSelect" listener="#{pagoBean.onRowSelect}"
						update=":formDataTable:tablaIngresos, :mensaje" />
					<p:ajax event="rowUnselect" listener="#{pagoBean.onRowUnselect}"
						update=":formDataTable:tablaIngresos" />
					<p:column headerText="■">
						<p:selectBooleanCheckbox disabled="true"
							value="#{ingreso.escogido}" />
					</p:column>
					<p:column headerText="Orden">
				 		#{ingreso.orden eq 0 ? "" : ingreso.orden}
					</p:column>
					<p:column headerText="# Documento">
				 		#{ingreso.codigoDocumento}
					</p:column>
					<p:column headerText="Fecha Emision">
						<h:outputText value="#{ingreso.fechaEmision}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</h:outputText>
					</p:column>
					<p:column headerText="Proveedor">
				 		#{ingreso.nombre}
					</p:column>
					<p:column headerText="Total" styleClass="TexAlRight">
						#{ingreso.total}
					</p:column>
					<p:column headerText="Abonos" styleClass="TexAlRight">
						#{ingreso.abono}
					</p:column>
					<p:column headerText="Saldo" styleClass="TexAlRight">
						#{ingreso.saldo}
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="5" footerText="Totales" />
							<p:column footerText="$ #{pagoBean.totalTotal}" />
							<p:column footerText="$ #{pagoBean.totalAbonos}" />
							<p:column footerText="$ #{pagoBean.totalSaldo}" />
						</p:row>
					</p:columnGroup>
					<f:facet name="footer">
						<p:commandButton process="tablaIngresos" value="Abonar"
							disabled="#{pagoBean.bn}"
							actionListener="#{pagoBean.comprobarIngresosSeleccionados}"
							oncomplete="comprobarDialogoPago(xhr, status, args, 'panelAbonar')"
							update=":formTablaPagosCredito, :formPagarCredito, :mensaje" />
						<p:commandButton id="btnPagarTodo" disabled="#{pagoBean.bn}"
							update=":formPagoRapido" value="Pago Rapido"
							oncomplete="mostarPanel1('panelPagoRapido')">
							<f:setPropertyActionListener value="#{ingreso}"
								target="#{pagoBean.cobroReporte}" />
						</p:commandButton>
					</f:facet>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelAbonar" header="Cobro Deuda" styleClass="DispNone">
			<h:form id="formPagarCredito">
				<p:outputLabel value="Datos" styleClass="subTitulos" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:inputText
					value="#{pagoBean.listaIngresosSeleccionados[0].nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<div class="kardexSaldo">
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{pagoBean.totalTotal}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Abonos" styleClass="DispBlock" />
					<p:inputText value="#{pagoBean.totalAbonos}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Saldo" styleClass="DispBlock" />
					<p:inputText value="#{pagoBean.totalSaldo}" readonly="true"
						styleClass="DispBlock Wid90" />
				</div>
				<p:outputLabel value="Pagos" styleClass="subTitulos" />
				<p:focus context="formPagarCredito" />
				<p:outputLabel value="Tipo de Pago" styleClass="DispBlock" />
				<p:selectOneMenu value="#{pagoBean.pagoEntrada.tipoPago}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="ESCOJA UN TIPO DE PAGO" />
					<f:selectItems value="#{pagoBean.listaFormasPago}" var="tipoPago"
						itemValue="#{tipoPago}" itemLabel="#{tipoPago.nombre}" />
					<p:ajax event="change" update="formPagarCredito"
						listener="#{pagoBean.tipoPago}" />
				</p:selectOneMenu>
				<p:outputLabel value="Monto" styleClass="DispBlock" />
				<p:inputText value="#{pagoBean.pagoEntrada.cuota}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha Pago" styleClass="DispBlock" />
				<p:calendar value="#{pagoBean.fechapago}" navigator="true"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Banco" rendered="#{pagoBean.bnBanco}"
					styleClass="DispBlock" />
				<p:selectOneMenu rendered="#{pagoBean.bnBanco}"
					value="#{pagoBean.pagoEntrada.banco}" filter="true"
					filterMatchMode="contains" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="ESCOJA UN BANCO" itemValue="" />
					<f:selectItems value="#{bancoBean.listaBancos}" var="banco"
						itemValue="#{banco.nombre}" itemLabel="#{banco.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="FECHA GIRO" rendered="#{pagoBean.bnBanco}"
					styleClass="DispBlock" />
				<p:calendar value="#{pagoBean.pagoEntrada.fechaGiro}"
					navigator="true" rendered="#{pagoBean.bnBanco}" required="true"
					requiredMessage="ESCOJA UNA FECHA GIRO"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="FECHA DE COBRO" rendered="#{pagoBean.bnBanco}"
					styleClass="DispBlock" />
				<p:calendar value="#{pagoBean.pagoEntrada.fechaCheque}"
					navigator="true" rendered="#{pagoBean.bnBanco}" required="true"
					requiredMessage="ESCOJA UNA FECHA COBRO"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="#{pagoBean.chequeTarjetaVaucher}"
					rendered="#{pagoBean.bnTarjeta}" styleClass="DispBlock" />
				<p:inputText value="#{pagoBean.pagoEntrada.chequeVaucher}"
					rendered="#{pagoBean.bnTarjeta}" required="true"
					requiredMessage="INGRESE NUMERO CHEQUE/VAUCHER"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="#{pagoBean.chequeTarjetaCuenta}"
					rendered="#{pagoBean.bnTarjeta}" styleClass="DispBlock" />
				<p:inputText value="#{pagoBean.pagoEntrada.cuentaTarjeta}"
					rendered="#{pagoBean.bnTarjeta}" required="true"
					requiredMessage="INGRESE NUMERO CUENTA/TARJETA"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton value="Agregar Pago"
					actionListener="#{pagoBean.insertarPagoEntrada}"
					update="formPagarCredito, :formTablaPagosCredito :mensaje" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formTablaPagosCredito">
				<p:dataTable id="tablaPagosCredito" var="pagoEntrada" reflow="true"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					value="#{pagoBean.listaCuotaIngreso}">
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:commandButton icon="#{msg['i.eliminar']}"
							action="#{pagoBean.eliminarPagoEntrada}"
							update="tablaPagosCredito">
							<f:setPropertyActionListener value="#{pagoEntrada}"
								target="#{pagoBean.pagoEntrada}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Fecha de Pago">
						<p:outputLabel value="#{pagoEntrada.fechaPago}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Tipo de Pago">
						<p:outputLabel value="#{pagoEntrada.tipoPago.nombre}" />
					</p:column>
					<p:column headerText="Cuota">
						<p:outputLabel value="#{pagoEntrada.cuota}" />
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="3" footerText="Total " />
							<p:column footerText="$ #{pagoBean.totalCuota}" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
			<p:separator />
			<p:commandButton value="#{msg['btn.guardar']}"
				icon="#{msg['i.guardar']}"
				update=":formCliente, :formDataTable:tablaIngresos, :mensaje"
				actionListener="#{pagoBean.insertarCobro}"
				oncomplete="comprobarDialogoPago(xhr, status, args, 'panelAbonar')"
				styleClass="GreenButton" />
			<p:commandButton value="#{msg['btn.cancelar']}"
				icon="#{msg['i.cancelar']}" update="formPagarCredito"
				oncomplete="mostarPanel1('panelAbonar')" process="@this"
				actionListener="#{pagoBean.limpiar}" styleClass="RedButton" />
		</p:panel>

		<p:panel id="panelPagoRapido" header="Pago Total en Efectivo"
			styleClass="DispNone">
			<h:form id="formPagoRapido">
				<p:outputLabel value="Datos" styleClass="subTitulos" />
				<p:outputLabel value="Proveedor" styleClass="DispBlock" />
				<p:inputText
					value="#{pagoBean.listaIngresosSeleccionados[0].nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<div class="kardexSaldo">
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{pagoBean.totalTotal}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Abonos" styleClass="DispBlock" />
					<p:inputText value="#{pagoBean.totalAbonos}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Saldo" styleClass="DispBlock" />
					<p:inputText value="#{pagoBean.totalSaldo}" readonly="true"
						styleClass="DispBlock Wid90" />
				</div>
				<p:outputLabel value="Pagos" styleClass="subTitulos" />
				<p:outputLabel
					value="¿Desea dar por pagadas todas las Facturas en Efectivo?"
					styleClass="DispBlock red" />
				<div class="EmptyBox10"></div>
				<p:outputLabel value="Fecha de Pago" styleClass="DispBlock" />
				<p:calendar id="txtCalendar" navigator="true"
					value="#{pagoBean.fechaPagoRapido}"
					styleClass="DispBlock Wid90 calendario" />
				<p:separator />
				<p:commandButton value="Pagar" update=":formDataTable:tablaIngresos"
					oncomplete="mostarPanel1('panelPagoRapido')"
					actionListener="#{pagoBean.pagoLote}" icon="#{msg['i.guardar']}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanel1('panelPagoRapido')"
					icon="#{msg['i.cancelar']}" styleClass="RedButton" />
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>