<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Reportes</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Reportes">
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:commandButton
					actionListener="#{cuentasPorPagarReport.reportePagoFactura}"
					value="Pagos de Facturas" ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>