<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nueva Factura</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Nueva Factura">
			<p:hotkey bind="alt+n" handler="PF('buscarCliente').show();nuevo();" />
			<p:hotkey bind="alt+p" handler="PF('obtenerProducto').show()" />
			<p:hotkey bind="alt+b"
				handler="document.getElementById('formBusquedaProducto:txtEanNombreProducto').focus()" />
			<p:hotkey bind="alt+c" handler="PF('personaDialogoNuevo').show()" />
			<p:hotkey bind="alt+g" handler="PF('clienteDialogoPago').show();" />

			<div id="datosIngreso" class="divDatosIzq50">
				<p:outputLabel value="Datos" styleClass="subTitulos" />
				<h:form id="formCliente">
					<p:outputLabel value="CLIENTE" styleClass="DispBlock" />
					<p:inputText value="#{facturaCajeroBean.cliente}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:commandButton oncomplete="PF('buscarCliente').show()"
						action="#{facturaCajeroBean.limpiarObjetosBusquedaCliente}"
						update=":formNuevo" styleClass="DispNone" />

					<p:commandButton value="GUARDAR" update=":datosPago, :mensaje"
						id="btnGuardar" oncomplete="comprobarFactura(xhr, status, args);"
						actionListener="#{facturaCajeroBean.comprobarTodo}"
						styleClass="DispNone" />

					<p:commandButton value="NUEVO" id="btnlimpiar"
						update="formCliente, :formDataTable, :formTotales,:mensaje,:formProducto"
						onclick="focusInicial();PF('obtenerProducto').hide(),PF('dialogoCantidadProducto').hide()"
						actionListener="#{facturaCajeroBean.nuevaFactura(false)}"
						process="@this" styleClass="DispNone" />
				</h:form>
				<h:form id="formProducto" styleClass="m-t-10px w845px">
					<div class="EmptyBox10"></div>
					<p:inputText id="descripcionProducto"
						value="#{facturaCajeroBean.descripcion}" readonly="true"
						styleClass="DispBlock Wid90 orange Fs20 FontBold" />
					<div class="EmptyBox10"></div>
					<p:inputText id="descripcionMayorista"
						value="#{facturaCajeroBean.mayorista}" readonly="true"
						styleClass="DispBlock Wid90 red Fs20 FontBold" />
					<div class="EmptyBox20"></div>
					<p:outputLabel value="PRODUCTOS FACTURADOS: " />
					<p:outputLabel value="#{facturaCajeroBean.registrosActivos}"
						styleClass="Fs20 blue FontBold" />
				</h:form>

				<h:form id="form" styleClass="centrar">
					<p:commandButton update=":formBusquedaProducto"
						onclick="PF('obtenerProducto').show();" id="btnNuevo"
						value="PRODUCTOS" styleClass="DispNone" />
				</h:form>
			</div>

			<div id="tablaIngreso" class="divDatosDer50">
				<h:form id="formTotales">
					<p:outputLabel value="Valores" styleClass="subTitulos" />
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="SUBTOTAL SIN IMP. (1=2+3)"
							styleClass="DispBlock" />
						<p:inputText
							value="#{facturaCajeroBean.cfPresentar.stSinImpuesto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 14% (2)" styleClass="DispBlock" />
						<p:inputText value="#{facturaCajeroBean.cfPresentar.st12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 0% (3)" styleClass="DispBlock" />
						<p:inputText value="#{facturaCajeroBean.cfPresentar.st0}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="TOTAL DESCUENTO (4)" styleClass="DispBlock" />
						<p:inputText
							value="#{facturaCajeroBean.cfPresentar.tDescuentoProducto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="VALOR ICE (5)" styleClass="DispBlock" />
						<p:inputText value="#{facturaCajeroBean.cfPresentar.valorIce}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="IVA 14% (6=(2+5)*14%)"
							styleClass="DispBlock" />
						<p:inputText value="#{facturaCajeroBean.cfPresentar.iva12}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
				</h:form>
				<h:form id="datosPago">
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="TOTAL A PAGAR" styleClass="DispBlock" />
						<p:inputText value="#{facturaCajeroBean.cfPresentar.valorTotal}"
							readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="SU CAMBIO ES" styleClass="DispBlock" />
						<p:inputText value="#{facturaCajeroBean.cambio}" readonly="true"
							styleClass="DispBlock Wid90 red Fs20 FontBold" />
					</div>
				</h:form>
			</div>

			<div class="EmptyBox10"></div>
			<h:form id="formDataTable">
				<p:dataTable id="tablaDetalleEgresos" var="facturaReporte"
					value="#{facturaCajeroBean.listaFacturaReporte}"
					emptyMessage="#{msg['lbl.mensajeTabla']}" scrollable="true"
					scrollHeight="400" reflow="true">
					<f:facet name="header">
					</f:facet>
					<p:column headerText="CODIGO" styleClass="Wid20">
						<p:inputText value="#{facturaReporte.codigo}" id="txtcodigo"
							onkeypress="validar()"
							onkeydown="if (event.altKey == true) if(event.keyCode == 80) PF('obtenerProducto').show();"
							styleClass="codigoFactura">
							<p:ajax event="change" oncomplete="pasarFocus()"
								listener="#{facturaCajeroBean.cargarProducto(facturaReporte)}"
								update=":formDataTable:tablaDetalleEgresos,:formTotales, :mensaje,:formProducto, :datosPago" />
						</p:inputText>
					</p:column>
					<p:column headerText="DESCRIPCION"
						filterBy="#{facturaReporte.descripcion}"
						filterMatchMode="contains" styleClass="Wid50">
						<h:outputText id="descripcion"
							value="#{facturaReporte.descripcion}" />
						<p:tooltip for="descripcion" value="#{facturaReporte.descripcion}" />
					</p:column>
					<p:column headerText="CANTIDAD" styleClass="Wid10">
						<h:outputText id="cantidad" value="#{facturaReporte.cantidad}" />
					</p:column>
					<p:column headerText="P. UNIT." styleClass="Wid10">
						<h:outputText id="precioUnitario"
							value="#{facturaReporte.precioUnitVenta}"
							styleClass="w100 centrarDerecha" />
					</p:column>
					<p:column headerText="IMPORTE" styleClass="Wid10">
						<h:outputText id="importe" value="#{facturaReporte.importe}"
							styleClass="w100 centrarDerecha" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:dialog header="BUSCAR PRODUCTO" widgetVar="obtenerProducto"
			onHide="pasarFocus()" closeOnEscape="true" appendTo="@(body)"
			id="dialogoBusquedaProducto" resizable="false" modal="true"
			closable="false" width="50%">
			<h:form id="formBusquedaProducto">
				<p:remoteCommand name="obtenerProducto"
					actionListener="#{facturaCajeroBean.obtenerProducto}"
					update=":formBusquedaProducto:tablaBusquedaProductos, :mensaje" />
				<p:outputLabel value="EAN/NOMBRE" styleClass="DispBlock" />
				<p:inputText id="txtEanNombreProducto"
					onfocus="document.getElementById('formBusquedaProducto:txtEanNombreProducto').select()"
					value="#{facturaCajeroBean.criterioBusquedaProducto}"
					onkeypress="if (event.keyCode == 13) { obtenerProducto(); return false; }"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaBusquedaProductos" var="productoPvp"
					scrollable="true"
					value="#{facturaCajeroBean.listaBusquedaProducto}"
					emptyMessage="#{msg['lbl.mensajeTabla']}" selectionMode="single"
					selection="#{facturaCajeroBean.productoPvp}"
					rowKey="#{productoPvp}" scrollHeight="250">
					<p:ajax event="rowSelect"
						oncomplete="PF('dialogoCantidadProducto').show()" />
					<p:column headerText="SELECCIONAR">
						<p:commandButton id="btnAgregarProductoBoton"
							onfocus="estiloFila(this.id, 'formBusquedaProducto:tablaBusquedaProductos')"
							onblur="sinEstiloFila(this.id, 'formBusquedaProducto:tablaBusquedaProductos')"
							onclick="obtenerFilaProducto(this.id)"
							oncomplete="PF('dialogoCantidadProducto').show()"
							icon="#{msg['i.seleccionar']}">
							<f:setPropertyActionListener value="#{productoPvp}"
								target="#{facturaCajeroBean.productoPvp}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="EAN">
						#{productoPvp.producto.ean}
					</p:column>
					<p:column headerText="NOMBRE">
						#{productoPvp.producto.nombre}
					</p:column>
					<p:column headerText="PVP">
						#{productoPvp.pvp}
					</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

		<p:dialog header="CANTIDAD DE PRODUCTO"
			onHide="PF('obtenerProducto').hide();pasarFocus()"
			widgetVar="dialogoCantidadProducto" closeOnEscape="true"
			resizable="false" appendTo="@(body)" modal="true" showEffect="clip"
			hideEffect="fold" id="dialogoCantidadProducto">
			<h:form id="formCantidadProducto">
				<p:remoteCommand name="ingresarCantidadProducto"
					update="txtCantidadProducto, :formDataTable:tablaDetalleEgresos, :formProducto, :datosPago, :formTotales, :mensaje"
					actionListener="#{facturaCajeroBean.ingresarCantidadProducto}" />
				<p:outputLabel value="CANTIDAD" styleClass="DispBlock" />
				<p:inputText id="txtCantidadProducto"
					value="#{facturaCajeroBean.cantidadProducto}"
					onkeypress="if (event.keyCode == 13) { ingresarCantidadProducto(); return false; }"
					styleClass="DispBlock Wid90" />
			</h:form>
		</p:dialog>

		<p:dialog header="BUSCAR CLIENTE" widgetVar="buscarCliente"
			closable="false" resizable="false" appendTo="@(body)" modal="true"
			showEffect="clip" hideEffect="fold" id="dialogoCliente"
			onHide="focusInicial()">
			<h:form id="formNuevoCliente">
				<p:remoteCommand name="cargarCliente"
					oncomplete="comprobarCliente(xhr, status, args);"
					actionListener="#{facturaCajeroBean.cargarCliente}"
					update="comboCedula, :mensaje,:formCliente, :formNuevo, :datosPago" />
				<p:outputLabel value="CEDULA:" styleClass="DispBlock" />
				<p:inputText id="comboCedula"
					onkeypress="if (event.keyCode == 13) { cargarCliente(); return false; }"
					value="#{facturaCajeroBean.criterioClienteBusqueda}"
					styleClass="DispBlock Wid90" />
			</h:form>
		</p:dialog>

		<p:dialog header="PAGO DE FACTURA" widgetVar="clienteDialogoPago"
			resizable="false" appendTo="@(body)" modal="true" showEffect="clip"
			width="40%" hideEffect="fold" closable="false"
			styleClass="dialogoPago">
			<h:form id="facturaNombre">
				<p:outputLabel value="FACTURA A" styleClass="DispBlock" />
				<p:autoComplete id="autoCompletarClienteFactura" scrollHeight="200"
					effect="drop" placeholder="MINIMO 3 CARACTERES"
					emptyMessage="NO HAY DATOS A MOSTRAR" minQueryLength="3"
					maxResults="20" value="#{facturaCajeroBean.clienteFactura}"
					completeMethod="#{facturaCajeroBean.obtenerClienteFacturaPorBusqueda}"
					styleClass="DispBlock Wid90 autoCompletar">
					<p:ajax event="itemSelect" id="prueba"
						listener="#{facturaCajeroBean.cargarClienteFactura}"
						update="autoCompletarClienteFactura, :mensaje" />
				</p:autoComplete>
				<p:outputLabel value="VALOR RECIBIDO $" styleClass="DispBlock" />
				<p:inputText value="#{facturaCajeroBean.montoEntrada}"
					styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="GUARDAR"
					update=":formCliente, :formDataTable,  :formTotales, :mensaje,:formProducto, :datosPago,:datosPago,:facturaNombre"
					actionListener="#{facturaCajeroBean.insertar}"
					oncomplete="comprobarPago(xhr, status, args)" id="btnPagoAceptar"
					icon="#{msg['i.guardar']}" styleClass="GreenButton" />
			</h:form>
		</p:dialog>

		<p:dialog header="#{msg['lbl.insertar']}"
			widgetVar="personaDialogoNuevo"
			onHide="document.getElementById('formDataTable:tablaDetalleEgresos:0:txtcodigo').focus()"
			resizable="false" modal="false" showEffect="clip" hideEffect="fold"
			id="dialogoNuevo" width="50%">
			<h:form id="formNuevo">
				<p:outputLabel value="Los campos marcados con * son Obligatorios"
					styleClass="DispBlock" />
				<p:outputLabel value="Datos Personales" styleClass="subTitulos" />
				<p:outputLabel value="* Cédula/RUC" styleClass="DispBlock" />
				<p:inputText value="#{facturaCajeroBean.persona.cedula}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="* Apellidos" styleClass="DispBlock" />
				<p:inputText id="apellidos"
					value="#{facturaCajeroBean.persona.apellido}"
					onblur="this.value=this.value.toUpperCase(), concatenarNuevo()"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="* Nombres" styleClass="DispBlock" />
				<p:inputText id="nombres"
					value="#{facturaCajeroBean.persona.nombre}"
					onblur="this.value=this.value.toUpperCase(), concatenarNuevo()"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="* Nombre Comercial" styleClass="DispBlock" />
				<p:inputText id="nombreComercial"
					value="#{facturaCajeroBean.persona.cliente.nombreComercial}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Email" styleClass="DispBlock" />
				<p:inputText value="#{facturaCajeroBean.persona.email}"
					styleClass="DispBlock Wid90" />

				<p:outputLabel value="Datos Residencia" styleClass="subTitulos" />
				<p:outputLabel value="* Provincia" styleClass="DispBlock" />
				<p:selectOneMenu id="comboProvincia" filter="true"
					filterMatchMode="contains"
					value="#{facturaCajeroBean.persona.ciudad.provincia}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Provincia" />
					<f:selectItems value="#{facturaCajeroBean.listaProvincias}"
						var="provincia" itemValue="#{provincia}"
						itemLabel="#{provincia.nombre}" />
					<p:ajax event="change"
						listener="#{facturaCajeroBean.cargarCiudades}"
						update="comboCiudad" />
				</p:selectOneMenu>
				<p:outputLabel value="* Ciudad" styleClass="DispBlock" />
				<p:selectOneMenu id="comboCiudad" filter="true"
					filterMatchMode="contains"
					value="#{facturaCajeroBean.persona.ciudad.id}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Ciudad" />
					<f:selectItems value="#{facturaCajeroBean.listaCiudades}"
						var="ciudad" itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="* Direccion" styleClass="DispBlock" />
				<p:inputText value="#{facturaCajeroBean.persona.direccion}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					update=":formDataTable ,:mensaje, formNuevo,:formCliente"
					oncomplete="comprobar(xhr, status, args)" id="btnNuevoAceptar"
					icon="#{msg['i.guardar']}"
					actionListener="#{facturaCajeroBean.insertarCliente}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="PF('personaDialogoNuevo').hide() PF('buscarCliente').show()"
					id="btnNuevolimpiar" icon="#{msg['i.cancelar']}" process="@this"
					styleClass="RedButton" />
			</h:form>
		</p:dialog>


		<script type="text/javascript">
			//<![CDATA[

			function comprobarPago(xhr, status, args) {
				if (args.consumidorFinal) {
					PF('clienteDialogoPago').show();
				} else {
					PF('clienteDialogoPago').hide();
				}
			}

			var producto;

			function focusProducto() {
				producto.focus();
			}

			function pasarFocus() {
				var n = document
						.getElementById('formDataTable:tablaDetalleEgresos_data').childNodes.length - 1;
				if (n > 0) {
					document
							.getElementById('formDataTable:tablaDetalleEgresos:'
									+ (n - 1) + ':txtCodigo').disabled = true;
					document.getElementById(
							'formDataTable:tablaDetalleEgresos:' + n
									+ ':txtCodigo').focus();
				}
			}

			function obtenerFilaProducto(registroProducto) {
				producto = document.getElementById(registroProducto);
			}

			window.onload = function() {
				var a = document.getElementById('formCliente:j_idt44');
				a.click();
				document.getElementById("formDataTable:tablaDetalleEgresos").childNodes[0]
						.setAttribute("class", "hola");
			}

			function validar() {
				var n = document
						.getElementById('formDataTable:tablaDetalleEgresos_data').childNodes.length - 1;
				var codigo = document
						.getElementById('formDataTable:tablaDetalleEgresos:'
								+ n + ':txtcodigo').value;
				console.log(codigo);
				if (codigo.toUpperCase() == 'PP') {
					document.getElementById('formCliente:btnGuardar').click();
				}
			}

			function focusInicial() {
				document.getElementById(
						'formDataTable:tablaDetalleEgresos:0:txtcodigo')
						.focus();
			}

			function nuevo() {
				document.getElementById('formCliente:btnlimpiar').click();
				document.getElementById('formNuevoCliente:comboCedula').focus();
			}

			function pasarFocus() {
				var n = document
						.getElementById('formDataTable:tablaDetalleEgresos_data').childNodes.length - 1;
				if (n > 0) {
					document
							.getElementById('formDataTable:tablaDetalleEgresos:'
									+ (n - 1) + ':txtcodigo').disabled = true;
					document.getElementById(
							'formDataTable:tablaDetalleEgresos:' + n
									+ ':txtcodigo').focus();
					document
							.getElementById("formDataTable:tablaDetalleEgresos").childNodes[0]
							.setAttribute("class", "hola");
				}
			}

			function comprobarFactura(xhr, status, args) {
				if (!args.errorFactura) {
					PF('clienteDialogoPago').show();
				}
			}

			function comprobarCliente(xhr, status, args) {
				if (!args.errorCliente) {
					PF('buscarCliente').hide();
				} else if (args.errorClienteNoExiste) {
					PF('buscarCliente').hide();
					PF('personaDialogoNuevo').show();
				}
			}

			function comprobarClienteFacturaNombre(xhr, status, args) {
				if (!args.errorCliente1) {
					PF('buscarClienteNombreFactura').hide();
				} else if (args.errorClienteNoExiste1) {
					PF('buscarClienteNombreFactura').hide();
					PF('personaDialogoNuevo').show();
				}
			}

			function comprobar(xhr, status, args) {
				if (!args.validationFailed && args.cerrar) {
					PF('personaDialogoNuevo').hide();
					focusInicial();
				}
			}

			function concatenarNuevo() {
				var apellidos = jQuery('#formNuevo\\:apellidos').val();
				var nombres = jQuery('#formNuevo\\:nombres').val();
				jQuery('#formNuevo\\:nombreComercial').val(
						apellidos + " " + nombres);
			}

			function concatenarEditar() {
				var apellidos = jQuery('#formEditar\\:apellidos').val();
				var nombres = jQuery('#formEditar\\:nombres').val();
				jQuery('#formEditar\\:nombreComercial').val(
						apellidos + " " + nombres);
			}

			function comprobarConsumidorFinal(xhr, status, args) {
				if (args.consumidorFinal) {
					PF('clienteDialogoPago').show();
				} else {
					PF('clienteDialogoPago').hide();
				}
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>