<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nueva Factura</ui:define>

	<ui:define name="content">
		<p:panel id="panelBuscarCliente" header="Buscar Cliente Compra"
			styleClass="DispNone">
			<h:form id="formCliente">
				<p:remoteCommand name="obtenerClientesRC"
					actionListener="#{facturaBean.obtenerClientes}"
					update=":formCabeceraFactura, txtCriterioCliente, tablaClientes, :mensaje" />
				<p:outputLabel value="Cod/Cedula-Ruc/Nombre-Apellido"
					for="txtCriterioCliente" styleClass="DispBlock" />
				<p:inputText id="txtCriterioCliente"
					placeholder="Para Buscar Por Codigo Ingrese cxxx ejm(c100)"
					value="#{facturaBean.criterioCliente}"
					onkeypress="if (event.keyCode == 13) { obtenerClientesRC(); return false; }"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaClientes" var="cliente" reflow="true"
					value="#{facturaBean.listaClientes}" scrollable="true"
					scrollHeight="300" emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Seleccionar">
						<p:commandButton id="btnClienteAgregar"
							onfocus="estiloFila(this.id, 'formCliente:tablaClientes')"
							onblur="sinEstiloFila(this.id, 'formCliente:tablaClientes')"
							update=":formCabeceraFactura"
							actionListener="#{facturaBean.cargarCliente(cliente)}"
							icon="#{msg['i.seleccionar']}"
							oncomplete="ocultarPanel('panelBuscarCliente', '')">
						</p:commandButton>
					</p:column>
					<p:column headerText="Cod. Interno">
						<h:outputText value="#{cliente.cliente.id}" />
					</p:column>
					<p:column headerText="Cedula">
						<h:outputText value="#{cliente.cedula}" />
					</p:column>
					<p:column headerText="Apellido">
						<h:outputText value="#{cliente.apellido}" />
					</p:column>
					<p:column headerText="Nombre">
						<h:outputText value="#{cliente.nombre}" />
					</p:column>
					<p:column headerText="Ciudad">
						<h:outputText value="#{cliente.ciudad.nombre}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelPtoEmision" header="Puntos de Emisión"
			styleClass="DispNone">
			<h:form id="formPuntoEmision">
				<p:dataTable id="tablaPuntoEmision" var="puntoEmision" reflow="true"
					scrollable="true" value="#{facturaBean.listaLocales}"
					scrollHeight="350">
					<p:column headerText="Seleccionar">
						<p:commandButton id="btnAgregarPuntoEmision"
							onfocus="estiloFila(this.id, 'formPuntoEmision:tablaPuntoEmision')"
							onblur="sinEstiloFila(this.id, 'formPuntoEmision:tablaPuntoEmision')"
							update=":formCabeceraFactura" icon="#{msg['i.seleccionar']}"
							actionListener="#{facturaBean.agregarPuntoEmision(puntoEmision)}">
						</p:commandButton>
					</p:column>
					<p:column headerText="Punto Emisión">
						<h:outputText
							value="#{puntoEmision.nombre}(#{puntoEmision.codigoEstablecimiento}) - PUNTO EMISIÓN(#{puntoEmision.puntoEmisionFactura})" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelVendedor" header="Vendedor" styleClass="DispNone">
			<h:form id="formVendedor">
				<p:dataTable id="tablaVendedores" var="vendedor" reflow="true"
					scrollable="true" value="#{facturaBean.listaVendedores}"
					scrollHeight="350">
					<p:column headerText="Seleccionar" styleClass="Wid20">
						<p:commandButton id="btnAgregarVendedor"
							onfocus="estiloFila(this.id, 'formVendedor:tablaVendedores')"
							onblur="sinEstiloFila(this.id, 'formVendedor:tablaVendedores')"
							update=":formCabeceraFactura" icon="#{msg['i.seleccionar']}"
							oncomplete="ocultarPanel('panelVendedor', ''); ocultarPanel('panelDatos', ''); mostrarPanel('panelBuscarProducto', 'formBusquedaProducto\\:txtCriterioProducto'); mostrarPanel('panelTabla', '')"
							actionListener="#{facturaBean.agregarVendedor(vendedor)}" />
					</p:column>
					<p:column headerText="Id" styleClass="Wid20">
						<h:outputText value="#{vendedor.id}" />
					</p:column>
					<p:column headerText="Nombres" styleClass="Wid60">
						<h:outputText value="#{vendedor.nombre} #{vendedor.apellido}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelBuscarProducto" header="Buscar Producto"
			styleClass="DispNone">
			<h:form id="formBusquedaProducto">
				<p:remoteCommand name="obtenerProductoRC"
					actionListener="#{facturaBean.obtenerProducto}"
					update=":formBusquedaProducto:tablaBusquedaProductos, :mensaje" />
				<p:inputText id="txtCriterioProducto"
					placeholder="Para Buscar Por Codigo Ingrese cxxx ejm(c100)"
					onfocus="document.getElementById('formBusquedaProducto:txtCriterioProducto').select()"
					value="#{facturaBean.criterioProducto}"
					onkeypress="if (event.keyCode == 13) { obtenerProductoRC(); return false; }"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaBusquedaProductos" var="producto"
					reflow="true" scrollable="true"
					value="#{facturaBean.listaProductos}"
					emptyMessage="#{msg['lbl.mensajeTabla']}" scrollHeight="250">
					<p:column headerText="Seleccionar" styleClass="Wid10">
						<p:commandButton id="btnAgregarProductoBoton"
							onfocus="estiloFila(this.id, 'formBusquedaProducto:tablaBusquedaProductos')"
							onblur="sinEstiloFila(this.id, 'formBusquedaProducto:tablaBusquedaProductos')"
							onclick="obtenerFilaProducto(this.id)"
							actionListener="#{facturaBean.cargarListaPrecios(producto)}"
							update=":panelCantidadProducto, :formCantidadProducto"
							oncomplete="ocultarPanel('panelBuscarProducto', ''); mostrarPanel('panelCantidadProducto', 'formCantidadProducto\\:txtCantidadProducto');"
							icon="#{msg['i.seleccionar']}">
						</p:commandButton>
					</p:column>
					<p:column headerText="Cod." styleClass="Wid10">
						<p:outputLabel value="#{producto.id}" />
					</p:column>
					<p:column headerText="EAN" styleClass="Wid20">
						<h:outputText value="#{producto.ean}" />
					</p:column>
					<p:column headerText="NOMBRE" styleClass="Wid60">
						<h:outputText value="#{producto.nombre}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelCantidadProducto"
			header="Cantidad/Producto #{facturaBean.producto.nombre}"
			styleClass="DispNone">
			<h:form id="formCantidadProducto">
				<p:remoteCommand name="ingresarDetalleProductoRC"
					update="txtCantidadProducto, :formItems:tablaDetalleEgresos, :formTotales, :formTotal,  :mensaje"
					actionListener="#{facturaBean.ingresarDetalleProducto}" />
				<p:inputText id="txtCantidadProducto"
					value="#{facturaBean.cantidadProducto}"
					onkeypress="if (event.keyCode == 13) { ingresarDetalleProductoRC(); return false; }"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaPreciosProducto" var="precio" reflow="true"
					scrollable="true" scrollHeight="250"
					value="#{facturaBean.listaPrecios}">
					<p:column headerText="Seleccionar">
						<p:commandButton id="btnAgregarPrecioProducto"
							onfocus="estiloFila(this.id, 'formCantidadProducto:tablaPreciosProducto')"
							onblur="sinEstiloFila(this.id, 'formCantidadProducto:tablaPreciosProducto')"
							update=":formCantidadProducto:txtCantidadProducto, :formItems:tablaDetalleEgresos, :formTotales, :formTotal,  :mensaje"
							actionListener="#{facturaBean.ingresarDetalleProducto(precio)}"
							icon="#{msg['i.seleccionar']}">
						</p:commandButton>
					</p:column>
					<p:column headerText="Precio">
						<h:outputText value="#{precio.nombre}" />
					</p:column>
					<p:column headerText="Valor Pvp">
						<h:outputText value="#{precio.precioConImpuestos}" />
					</p:column>
					<p:column headerText="Pvp Sugerido">
						<p:selectBooleanCheckbox value="#{precio.pvp}" disabled="true" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelDatos" header="Nueva Factura">
			<p:hotkey bind="alt+n" handler="nuevaFactura()" />
			<p:hotkey bind="alt+p"
				handler="ocultarPanel('panelDatos', ''); mostrarPanel('panelBuscarProducto', 'formBusquedaProducto\\:txtCriterioProducto'); mostrarPanel('panelTabla', '')" />
			<p:hotkey bind="alt+b"
				handler="document.getElementById('formBusquedaProducto:txtCriterioProducto').focus()" />
			<p:hotkey bind="alt+g" handler="comprobarDatosFactura()" />
			<p:hotkey bind="esc" handler="esq()" />

			<div id="datosIngreso" class="divDatosIzq50">
				<h:form id="formCabeceraFactura">
					<p:remoteCommand name="nuevaFacturaRC"
						actionListener="#{facturaBean.nuevaFactura}" update=":mensaje" />
					<p:remoteCommand name="comprobarRC"
						actionListener="#{facturaBean.comprobarDatos}"
						update=":panelFormaPago, :formPago, :mensaje" />
					<p:outputLabel value="Datos" styleClass="subTitulos" />
					<p:outputLabel value="Cliente" styleClass="DispBlock" />
					<p:inputText id="txtCliente" readonly="true"
						value="#{facturaBean.cliente}" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Factura a Nombre de" styleClass="DispBlock" />
					<p:inputText readonly="true" value="#{facturaBean.clienteFactura}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Establecimiento" styleClass="DispBlock" />
					<p:inputText id="txtEstablecimiento" readonly="true"
						value="#{facturaBean.establecimiento}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Vendedor" styleClass="DispBlock" />
					<p:inputText id="txtVendedor" readonly="true"
						value="#{facturaBean.vendedor}" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Forma Pago" styleClass="DispBlock" />
					<p:selectOneMenu id="formaPago"
						value="#{facturaBean.factura.formaPago}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Contado" itemValue="CONTADO" />
						<f:selectItem itemLabel="Credito" itemValue="CREDITO" />
						<f:selectItem itemLabel="Credito 7 días"
							itemValue="CREDITO 7 DÍAS" />
						<f:selectItem itemLabel="Credito 15 días"
							itemValue="CREDITO 15 DÍAS" />
						<f:selectItem itemLabel="Credito 30 días"
							itemValue="CREDITO 30 DÍAS" />
						<p:ajax event="change" update="formaPago, :mensaje" />
					</p:selectOneMenu>
					<p:outputLabel value="Fecha Emisión Inicio" styleClass="DispBlock" />
					<p:calendar id="fechEmiIni" value="#{facturaBean.fechaInicio}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
				</h:form>
			</div>
			<div id="tablaIngreso" class="divDatosDer50">
				<h:form id="formTotales" styleClass="height0px">
					<p:outputLabel value="Valores" styleClass="subTitulos" />
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="SUBTOTAL SIN IMP. (1=2+3+4+5):"
							styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.stSinImpuesto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 14% (2):" styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.st12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 0% (3):" styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.st0}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL NO OBJETO DE IVA (4):"
							styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.stNoObjetoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL EXENTO DE IVA (5):"
							styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.stExentoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="TOTAL DESCUENTO (6):" styleClass="DispBlock" />
						<p:inputText
							value="#{facturaBean.cantidadFactura.tDescuentoProducto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="VALOR ICE (7):" styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.valorIce}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="VALOR IRBPNR(8):" styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.valorIRBPNR}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="IVA 14% (9=(2+7)*14%):"
							styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.iva12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="PROPINA (10):" styleClass="DispBlock" />
						<p:inputText value="#{facturaBean.cantidadFactura.propina}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
				</h:form>
				<h:form id="formTotal">
					<p:outputLabel value="VALOR TOTAL (11=1+7+8+9+10)"
						styleClass="DispBlock" />
					<p:inputText value="#{facturaBean.cantidadFactura.valorTotal}"
						readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
				</h:form>
			</div>
			<div class="EmptyBox10"></div>
		</p:panel>

		<p:panel id="panelTabla">
			<h:form id="formItems" styleClass="m-t15px">
				<p:dataTable id="tablaDetalleEgresos" var="facturaReporte"
					value="#{facturaBean.listaFacturaReporte}"
					emptyMessage="#{msg['lbl.mensajeTabla']}" scrollable="true"
					reflow="true">
					<p:column headerText="Estado" styleClass="Wid7_5">
						<p:selectOneMenu id="estado" value="#{facturaReporte.estado}"
							styleClass="Wid90">
							<f:selectItems value="#{facturaBean.listaEstadoProductoVenta}"
								var="estado" itemValue="#{estado}" itemLabel="#{estado.nombre}" />
							<p:ajax event="change"
								update="estado, impuesto, descripcion, precioUnitario, precioUnitarioImpuesto, descDol, descPorc, importe, importeImpuesto, :formTotal, :formTotales, :mensaje"
								listener="#{facturaBean.cambiarEstado(facturaReporte)}" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="Imp." styleClass="Wid3">
						<p:outputLabel id="impuesto" value="#{facturaReporte.impuesto}" />
					</p:column>
					<p:column headerText="Codigo" styleClass="Wid7_5">
						<p:outputLabel id="txtEan" value="#{facturaReporte.codigo}" />
					</p:column>
					<p:column headerText="Descripcion" styleClass="Wid20">
						<p:outputLabel id="descripcion" readonly="true"
							value="#{facturaReporte.descripcion}" styleClass="Wid90" />
						<p:tooltip for="descripcion" value="#{facturaReporte.descripcion}" />
					</p:column>
					<p:column headerText="Cantidad" styleClass="Wid7_5">
						<p:inputText id="cantidad" value="#{facturaReporte.cantidad}"
							onkeypress="teclaAbajoArriba(event.keyCode, this.id);"
							styleClass="Wid90">
							<p:ajax event="change"
								listener="#{facturaBean.cambiarCantidad(facturaReporte)}"
								update="tablaDetalleEgresos, cantidad, importe, importeImpuesto, unidades, :formTotal, :formTotales, :mensaje" />
						</p:inputText>
					</p:column>
					<p:column headerText="Unidades" styleClass="Wid5">
						<p:outputLabel id="unidades"
							value="#{facturaReporte.nombreCantidad}" />
					</p:column>
					<p:column headerText="Tipo Precio" styleClass="Wid7_5">
						<p:selectOneMenu id="comboTipoPrecio"
							value="#{facturaReporte.precioId}" styleClass="Wid90">
							<f:selectItems
								value="#{facturaReporte.producto.tipoPrecioProductos}"
								var="precio" itemValue="#{precio.id}"
								itemLabel="#{precio.nombre}" />
							<p:ajax event="change"
								update="precioUnitario, precioUnitarioImpuesto, importe, importeImpuesto, :formTotal, :formTotales, :mensaje"
								listener="#{facturaBean.cambiarTipoPrecio(facturaReporte)}" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="P. Unit." styleClass="Wid7_5">
						<p:inputText id="precioUnitario"
							value="#{facturaReporte.precioUnitVenta}"
							styleClass="TexAlRight Wid90">
							<p:ajax event="change"
								listener="#{facturaBean.cambiarPrecio(facturaReporte)}"
								update="precioUnitario, precioUnitarioImpuesto, importe, importeImpuesto, :formTotal, :formTotales, :mensaje" />
						</p:inputText>
					</p:column>
					<p:column headerText="P. Unit. Imp." styleClass="Wid3 TexAlRight">
						<p:outputLabel id="precioUnitarioImpuesto" readonly="true"
							value="#{facturaReporte.precioUnitVentaImpuesto}" />
					</p:column>
					<p:column headerText="Desc $" styleClass="Wid7_5">
						<p:inputText id="descDol"
							value="#{facturaReporte.descuentoDolares}"
							styleClass="TexAlRight Wid90">
							<p:ajax event="change"
								listener="#{facturaBean.cambiarDescDol(facturaReporte)}"
								update="descDol, descPorc, importe, importeImpuesto, estado, :formTotal, :formTotales, :mensaje" />
						</p:inputText>
					</p:column>
					<p:column headerText="Desc %" styleClass="Wid7_5">
						<p:inputText id="descPorc"
							value="#{facturaReporte.descuentoPorcentaje}"
							styleClass="TexAlRight Wid90">
							<p:ajax event="change"
								listener="#{facturaBean.cambiarDescPor(facturaReporte)}"
								update="descPorc, descDol, importe, importeImpuesto, estado, :formTotal, :formTotales, :mensaje" />
						</p:inputText>
					</p:column>
					<p:column headerText="Importe" styleClass="Wid7_5 TexAlRight">
						<p:outputLabel id="importe" value="#{facturaReporte.importe}"
							styleClass="centrarDerecha" />
					</p:column>
					<p:column headerText="Importe Impuesto"
						styleClass="Wid5 TexAlRight">
						<p:outputLabel id="importeImpuesto" styleClass="centrarDerecha"
							value="#{facturaReporte.importeImpuesto}" />
					</p:column>
					<f:facet name="footer">
						<p:outputLabel
							value="PRODUCTOS A FACTURAR : #{facturaBean.registrosActivos}" />
					</f:facet>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelFormaPago" header="Pago de Factura"
			styleClass="DispNone">
			<p:outputLabel value="Total" styleClass="DispBlock" />
			<p:inputText value="#{facturaBean.cantidadFactura.valorTotal}"
				readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
			<p:outputLabel value="Tipo de Pago" styleClass="DispBlock" />
			<p:inputText id="txtTipoPago"
				onkeypress="if (event.keyCode == 13) { abrirDialogoPago(); return false; }"
				styleClass="DispBlock Wid90" />

			<div id="panelEfectivo" class="DispNone panelBusqueda">
				<h:form id="formEfectivo">
					<p:outputLabel value="Efectivo" styleClass="subTitulos" />
					<p:remoteCommand name="agregarPagoEfectivoRC"
						actionListener="#{facturaBean.agregarEntrada(1)}"
						update="txtTipoPago, :formPago, :mensaje"
						oncomplete="$('txtTipoPago').val(''); ocultarPanel('panelEfectivo', 'txtTipoPago');" />
					<p:outputLabel value="Valor" for="txtCuotaEfectivo"
						styleClass="DispBlock" />
					<p:inputText id="txtCuotaEfectivo"
						value="#{facturaBean.entrada.pagoEntradas[0].cuota}"
						onkeypress="if (event.keyCode == 13) { agregarPagoEfectivoRC(); return false; }"
						styleClass="DispBlock Wid90" />
				</h:form>
			</div>

			<div id="panelTarjeta" class="DispNone panelBusqueda">
				<h:form id="formTarjeta">
					<p:outputLabel value="Tarjeta Crédito" styleClass="subTitulos" />
					<p:remoteCommand name="agregarPagoCreditoRC"
						actionListener="#{facturaBean.agregarEntrada(2)}"
						update="txtTipoPago, :formPago, :mensaje"
						oncomplete="$('txtTipoPago').val(''); ocultarPanel('panelTarjeta', 'txtTipoPago');" />
					<p:outputLabel value="Valor" styleClass="DispBlock" />
					<p:inputText id="txtValorTarjeta"
						value="#{facturaBean.entrada.pagoEntradas[0].cuota}"
						onkeypress="if (event.keyCode == 13) { agregarPagoCreditoRC(); return false; }"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Banco" styleClass="DispBlock" />
					<p:selectOneMenu widgetVar="somBancoCreditoWV" id="comboBanco"
						value="#{facturaBean.entrada.pagoEntradas[0].banco}" filter="true"
						filterMatchMode="contains" styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja un Banco" itemValue="0" />
						<f:selectItems value="#{facturaBean.listaBancos}" var="banco"
							itemValue="#{banco.nombre}" itemLabel="#{banco.nombre}" />
					</p:selectOneMenu>
					<p:outputLabel value="Número Tarjeta" styleClass="DispBlock" />
					<p:inputText id="txtTarjetaCredito"
						value="#{facturaBean.entrada.pagoEntradas[0].cuentaTarjeta}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Número Vaucher" styleClass="DispBlock" />
					<p:inputText id="txtVaucherCredito"
						value="#{facturaBean.entrada.pagoEntradas[0].chequeVaucher}"
						styleClass="DispBlock Wid90" />
				</h:form>
			</div>

			<div id="panelCheque" class="DispNone panelBusqueda">
				<h:form id="formCheque">
					<p:outputLabel value="Cheque" styleClass="subTitulos" />
					<p:remoteCommand name="agregarPagoChequeRC"
						actionListener="#{facturaBean.agregarEntrada(3)}"
						update="txtTipoPago, :formPago, :mensaje"
						oncomplete="$('txtTipoPago').val(''); ocultarPanel('panelCheque', 'txtTipoPago');" />
					<p:outputLabel value="Valor" styleClass="DispBlock" />
					<p:inputText id="txtValorCheque"
						value="#{facturaBean.entrada.pagoEntradas[0].cuota}"
						onkeypress="if (event.keyCode == 13) { agregarPagoChequeRC(); return false; }"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Banco" styleClass="DispBlock" />
					<p:selectOneMenu widgetVar="somBancoChequeWV"
						value="#{facturaBean.entrada.pagoEntradas[0].banco}" filter="true"
						filterMatchMode="contains" styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja un Banco" itemValue="0" />
						<f:selectItems value="#{facturaBean.listaBancos}" var="banco"
							itemValue="#{banco.nombre}" itemLabel="#{banco.nombre}" />
					</p:selectOneMenu>
					<p:outputLabel value="Fecha de Cobro" styleClass="DispBlock" />
					<p:calendar id="txtFechaCheque"
						value="#{facturaBean.entrada.pagoEntradas[0].fechaCheque}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
					<p:outputLabel value="Cuenta Bancaria" styleClass="DispBlock" />
					<p:inputText id="txtCuentaCheque"
						value="#{facturaBean.entrada.pagoEntradas[0].cuentaTarjeta}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Número Cheque" styleClass="DispBlock" />
					<p:inputText id="txtNumeroCheque"
						value="#{facturaBean.entrada.pagoEntradas[0].chequeVaucher}"
						styleClass="DispBlock Wid90" />
				</h:form>
			</div>

			<h:form id="formPago">
				<p:remoteCommand name="guardarFacturaRC"
					actionListener="#{facturaBean.insertarFactura}"
					update=":formCabeceraFactura, :formItems, :formTotales, :formTotal, :mensaje, :formPago" />

				<p:outputLabel value="Factura a" styleClass="DispBlock" />
				<p:autoComplete id="autoCompletarClienteFactura" scrollHeight="200"
					effect="drop" placeholder="MINIMO 3 CARACTERES"
					emptyMessage="NO HAY DATOS A MOSTRAR" minQueryLength="3"
					maxResults="20" value="#{facturaBean.clienteFactura}"
					completeMethod="#{facturaBean.obtenerClienteFacturaPorBusqueda}"
					styleClass="DispBlock Wid90 autoCompletar">
					<p:ajax event="itemSelect" id="prueba"
						listener="#{facturaBean.cargarClienteFactura}"
						update="autoCompletarClienteFactura, :mensaje" />
				</p:autoComplete>
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaEntrada" var="tablaEntrada"
					value="#{facturaBean.factura.entradas}" reflow="true"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Tipo de Pago">
						<p:outputLabel
							value="#{tablaEntrada.pagoEntradas[0].tipoPago.nombre}" />
					</p:column>
					<p:column headerText="Valor">
						<p:outputLabel value="#{tablaEntrada.cuota}" />
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="1" footerText="Total" />
							<p:column footerText="$ #{facturaBean.totalMonto}" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
		</p:panel>

		<script type="text/javascript">
			//<![CDATA[			
			function teclaAbajoArriba(keyCode, id) {
				var posSplit = id.split(":");
				var p = parseInt(posSplit[2]);
				var n = document
						.getElementById('formItems:tablaDetalleEgresos_data').childNodes.length;
				if (keyCode == 38) {
					if (p == 0)
						p = n - 1;
					else
						p = p - 1;
					document.getElementById(
							'formItems:tablaDetalleEgresos:' + p + ':cantidad')
							.focus();
					return false;
				} else if (keyCode == 40) {
					if ((p + 1) == n)
						p = 0;
					else
						p = p + 1;
					document.getElementById(
							'formItems:tablaDetalleEgresos:' + p + ':cantidad')
							.focus();
					return false;
				}
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>