<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Cuadre Factura</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Cuadre Factura">
			<div id="datosIngreso" class="divDatosIzq50">
				<h:form id="formDocumento">
					<p:outputLabel value="Datos" styleClass="subTitulos" />
					<p:outputLabel value="# Documento" styleClass="DispBlock" />
					<p:inputText readonly="true"
						value="#{facturaInternaBean.factura.establecimiento}-#{facturaInternaBean.factura.puntoEmision}-#{facturaInternaBean.factura.secuencia}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Cliente" styleClass="DispBlock" />
					<p:inputText readonly="true"
						value="#{facturaInternaBean.cliente.cedula} - #{facturaInternaBean.cliente.apellido} #{facturaInternaBean.cliente.nombre}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Vendedor" styleClass="DispBlock" />
					<p:inputText readonly="true"
						value="#{facturaInternaBean.factura.vendedor.empleado.persona.apellido} #{facturaInternaBean.factura.vendedor.empleado.persona.nombre}"
						styleClass="DispBlock Wid90" />
					<div class="EmptyBox10"></div>
					<p:commandButton value="#{msg['btn.guardar']}"
						update="formDocumento, :formDataTable,  :formTotales, :mensaje"
						id="btnGuardar" icon="#{msg['i.guardar']}"
						actionListener="#{facturaInternaBean.actualizar}"
						styleClass="GreenButton" />
					<p:commandButton value="#{msg['btn.cancelar']}" id="btnlimpiar"
						update="formDocumento, :formDataTable, :formTotales"
						icon="#{msg['i.cancelar']}"
						actionListener="#{facturaInternaBean.nuevoCuadre}" process="@this"
						styleClass="RedButton" />
					<div class="EmptyBox20"></div>
				</h:form>
			</div>
			<div id="tablaIngreso" class="divDatosDer50">
				<p:outputLabel value="Valores" styleClass="subTitulos" />
				<h:form id="formTotales">
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="SUBTOTAL SIN IMP. (1=2+3+4+5):"
							styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.stSinImpuesto}"
							styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal 14% (2):" styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.st12}"
							styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 0% (3):" styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.st0}"
							styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL NO OBJETO DE IVA (4):"
							styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.stNoObjetoIva}"
							styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL EXENTO DE IVA (5):"
							styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.stExentoIva}"
							styleClass="DispBlock Wid90" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="TOTAL DESCUENTO (6):" styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.tDescuentoProducto}"
							styleClass="DispBlock Wid90" />

						<p:outputLabel value="VALOR ICE (7):" styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.valorIce}"
							styleClass="DispBlock Wid90" />

						<p:outputLabel value="VALOR IRBPNR(8):" styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.valorIRBPNR}"
							styleClass="DispBlock Wid90" />

						<p:outputLabel value="IVA 14% (9=(2+7)*14%):"
							styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.iva12}"
							styleClass="DispBlock Wid90" />

						<p:outputLabel value="PROPINA (10):" styleClass="DispBlock" />
						<p:inputText readonly="true"
							value="#{facturaInternaBean.cantidadFactura.propina}"
							styleClass="DispBlock Wid90" />
					</div>
				</h:form>
				<h:form id="formTotal">
					<p:outputLabel value="VALOR TOTAL (11=1+7+8+9+10):"
						styleClass="DispBlock" />
					<p:inputText
						value="#{facturaInternaBean.cantidadFactura.valorTotal}"
						readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
				</h:form>
			</div>
			<div class="EmptyBox10"></div>
			<h:form id="formDataTable">
				<p:dataTable id="tablaDetalleEgresos" var="facturaReporte"
					value="#{facturaInternaBean.listaFacturaReporte}"
					emptyMessage="#{msg['lbl.mensajeTabla']}" reflow="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom">
					<p:column headerText="Impuesto" styleClass="Wid5">
						<p:outputLabel id="impuesto" value="#{facturaReporte.impuesto}" />
					</p:column>
					<p:column headerText="Codigo" tyleClass="Wid7_5">
						<p:outputLabel value="#{facturaReporte.codigo}" />
					</p:column>
					<p:column headerText="Descripcion" styleClass="Wid20">
						<p:inputText id="descripcion"
							value="#{facturaReporte.descripcion}" readonly="true"
							styleClass="Wid90" />
						<p:tooltip for="descripcion" value="#{facturaReporte.descripcion}" />
					</p:column>
					<p:column headerText="Cant. Vend." styleClass="Wid7_5">
						<p:outputLabel value="#{facturaReporte.cantidad}" />
					</p:column>
					<p:column headerText="Cantidad" styleClass="Wid10">
						<p:inputText value="#{facturaReporte.cantidadCuadre}"
							styleClass="Wid90">
							<p:ajax event="change"
								listener="#{facturaInternaBean.cambiarCantidad(facturaReporte)}"
								update=":formDataTable ,:mensaje, :formTotales, :formTotal" />
						</p:inputText>
					</p:column>
					<p:column headerText="P. Unit. Facturado"
						styleClass="TexAlRight Wid10">
						<p:outputLabel value="#{facturaReporte.precioUnitVenta}" />
					</p:column>
					<p:column headerText="P. Unit." styleClass="TexAlRight Wid10">
						<p:inputText value="#{facturaReporte.precioUnitVentaCuadre}"
							styleClass="TexAlRight Wid90">
							<p:ajax event="change"
								listener="#{facturaInternaBean.cambiarPrecio(facturaReporte)}"
								update=":formDataTable ,:mensaje, :formTotales, :formTotal" />
						</p:inputText>
					</p:column>
					<p:column headerText="Desc Facturado" styleClass="TexAlRight Wid10">
						<p:outputLabel value="#{facturaReporte.descuentoDolares}" />
					</p:column>
					<p:column headerText="Desc" styleClass="TexAlRight Wid10">
						<p:inputText value="#{facturaReporte.descuentoDolaresCuadre}"
							styleClass="TexAlRight Wid90">
							<p:ajax event="change"
								listener="#{facturaInternaBean.cambiarDescDol(facturaReporte)}"
								update=":formDataTable ,:mensaje, :formTotales, :formTotal" />
						</p:inputText>
					</p:column>
					<p:column headerText="Importe" styleClass="TexAlRight Wid10">
						<p:inputText value="#{facturaReporte.importe}"
							styleClass="TexAlRight Wid90">
							<p:ajax event="change"
								listener="#{facturaInternaBean.cambiarImporte(facturaReporte)}"
								update=":formDataTable ,:mensaje, :formTotales, :formTotal" />
						</p:inputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>