<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Facturas</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Facturas">
			<h:form id="busquedaTabla">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Estado Factura" styleClass="DispBlock" />
					<p:selectOneMenu
						value="#{listadoFacturaBean.criterioBusquedaEstado}" filter="true"
						filterMatchMode="contains" styleClass="DispBlock Wid90">
						<f:selectItem itemValue="0" itemLabel="Escoja un Estado" />
						<f:selectItem itemValue="1" itemLabel="Pagadas" />
						<f:selectItem itemValue="2" itemLabel="No Pagadas" />
						<f:selectItem itemValue="3" itemLabel="Anuladas" />
					</p:selectOneMenu>
					<p:outputLabel value="Ciudad" styleClass="DispBlock" />
					<p:selectOneMenu
						value="#{listadoFacturaBean.criterioBusquedaCiudad}" filter="true"
						filterMatchMode="contains" styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja una Ciudad" />
						<f:selectItems value="#{clienteBean.listaCiudadesBusqueda}"
							var="ciudad" itemValue="#{ciudad.id}"
							itemLabel="#{ciudad.provincia}-#{ciudad.nombre}" />
					</p:selectOneMenu>
					<p:outputLabel value="Fecha Emisión Inicio" styleClass="DispBlock" />
					<p:calendar id="fechEmiInicio"
						value="#{listadoFacturaBean.criterioBusquedaFechaInicio}"
						navigator="true"
						onblur="$('#busquedaTabla\\:fechEmiFin').children('input').val($('#busquedaTabla\\:fechEmiInicio').children('input').val())"
						styleClass="DispBlock Wid90 calendario" />
					<p:outputLabel value="Fecha Emisión Fin" styleClass="DispBlock" />
					<p:calendar id="fechEmiFin"
						value="#{listadoFacturaBean.criterioBusquedaFechaFin}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Cédula/Apellidos/Nombres"
						styleClass="DispBlock" />
					<p:inputText value="#{listadoFacturaBean.criterioBusquedaCliente}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="# Factura" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.criterioBusquedaNumeroFactura}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton
					update="busquedaTabla, :formDataTable:tablaListadoFacturas, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoFacturaBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaListadoFacturas" var="factura" reflow="true"
					value="#{listadoFacturaBean.listaFacturas}" paginator="true"
					rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							action="#{listadoFacturaBean.redirecionar}"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:tooltip for="btnImprimir" value="#{msg['lbl.imprimir']}" />
						<p:tooltip for="btnDevolucion" value="#{msg['lbl.notaCredito']}" />
						<p:tooltip for="btnCuadreFactura"
							value="#{msg['lbl.cuadreFactura']}" />
						<p:tooltip for="btnXML" value="#{msg['lbl.generarXML']}" />
						<p:tooltip for="btnAnular" value="#{msg['lbl.eliminar']}" />
						<p:commandButton id="btnMostrar" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.mostrar']}"
							action="#{listadoFacturaBean.generarListaDetalle}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoFacturaBean.factura}" />
						</p:commandButton>
						<p:commandButton id="btnImprimir" icon="#{msg['i.imprimir']}"
							action="#{listadoFacturaBean.imprimirFactura}" ajax="false"
							disabled="#{factura.activo eq true ? false:true}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoFacturaBean.factura}" />
						</p:commandButton>
						<p:commandButton id="btnDevolucion" icon="#{msg['i.notaCredito']}"
							oncomplete="PF('facturaDevolucion').show()"
							disabled="#{factura.activo eq false || factura.notaCredito ne null ? true:false}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoFacturaBean.factura}" />
						</p:commandButton>
						<p:commandButton id="btnCuadreFactura" icon="#{msg['i.editar']}"
							action="#{listadoFacturaBean.cuadreFactura(factura)}"
							disabled="#{factura.activo eq false || factura.fechaCierre ne null || factura.credito ne null ? true:false}" />
						<p:commandButton id="btnXML"
							action="#{listadoFacturaBean.generarXML}"
							icon="#{msg['i.generarXML']}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoFacturaBean.factura}" />
						</p:commandButton>
						<p:commandButton id="btnAnular"
							oncomplete="PF('anularEgreso').show()"
							icon="#{msg['i.eliminar']}" update=":fromAnular"
							disabled="#{factura.activo eq false || factura.credito ne null || factura.notaCredito ne null ? true:false}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoFacturaBean.factura}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# FACTURA">
						<p:outputLabel
							value="#{factura.establecimiento}-#{factura.puntoEmision}-#{factura.secuencia}" />
					</p:column>
					<p:column headerText="FACTURA NOMBRE">
						<p:outputLabel
							value="#{factura.clienteFactura.persona.cedula} - #{factura.clienteFactura.persona.apellido} #{factura.clienteFactura.persona.nombre}" />
					</p:column>
					<p:column headerText="CIUDAD">
						<p:outputLabel
							value="#{factura.clienteFactura.persona.ciudad.provincia} - #{factura.clienteFactura.persona.ciudad.nombre}" />
					</p:column>
					<p:column headerText="CAJERO">
						<p:outputLabel
							value="#{factura.cajero.empleado.persona.apellido} #{factura.cajero.empleado.persona.nombre}" />
					</p:column>
					<p:column headerText="VENDEDOR">
						<p:outputLabel
							value="#{factura.vendedor.empleado.persona.apellido} #{factura.vendedor.empleado.persona.nombre}" />
					</p:column>
					<p:column headerText="FEC. EMISIÓN">
						<p:outputLabel value="#{factura.fechaInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="FEC. PAGO">
						<p:outputLabel value="#{factura.fechaCierre}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="ANULADA">
						<p:selectBooleanCheckbox disabled="true"
							value="#{!factura.activo}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Datos" styleClass="subTitulos" />
					<p:outputLabel value="# Factura" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.factura.establecimiento}-#{listadoFacturaBean.factura.puntoEmision}-#{listadoFacturaBean.factura.secuencia}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Emisión" styleClass="DispBlock" />
					<p:inputText value="#{listadoFacturaBean.factura.fechaInicio}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Fecha Pago" styleClass="DispBlock" />
					<p:inputText value="#{listadoFacturaBean.factura.fechaCierre}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Cajero" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.factura.cajero.empleado.persona.cedula} - #{listadoFacturaBean.factura.cajero.empleado.persona.apellido} #{listadoFacturaBean.factura.cajero.empleado.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Vendedor" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.factura.vendedor.empleado.persona.cedula} - #{listadoFacturaBean.factura.vendedor.empleado.persona.apellido} #{listadoFacturaBean.factura.vendedor.empleado.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Cliente Compra" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.factura.cliente.persona.cedula} - #{listadoFacturaBean.factura.cliente.persona.apellido} #{listadoFacturaBean.factura.cliente.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Factura Nombre" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.factura.clienteFactura.persona.cedula} - #{listadoFacturaBean.factura.clienteFactura.persona.apellido} #{listadoFacturaBean.factura.clienteFactura.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Valores" styleClass="subTitulos" />
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="Subtotal sin Imp. (1=2+3+4+5):"
							readonly="true" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoFacturaBean.cantidadFactura.stSinImpuesto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal 14% (2):" styleClass="DispBlock" />
						<p:inputText value="#{listadoFacturaBean.cantidadFactura.st12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal 0% (3):" styleClass="DispBlock" />
						<p:inputText value="#{listadoFacturaBean.cantidadFactura.st0}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal no Objeto de Iva (4):"
							readonly="true" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoFacturaBean.cantidadFactura.stNoObjetoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal Exento de Iva (5):" readonly="true"
							styleClass="DispBlock" />
						<p:inputText
							value="#{listadoFacturaBean.cantidadFactura.stExentoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="Total Descuento (6):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoFacturaBean.cantidadFactura.tDescuentoProducto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Valor Ice (7):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoFacturaBean.cantidadFactura.valorIce}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Valor Irbpnr(8):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoFacturaBean.cantidadFactura.valorIRBPNR}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Iva 14% (9=(2+7)*14%):"
							styleClass="DispBlock" />
						<p:inputText value="#{listadoFacturaBean.cantidadFactura.iva12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Propina (10):" styleClass="DispBlock" />
						<p:inputText value="#{listadoFacturaBean.cantidadFactura.propina}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoFacturaBean.cantidadFactura.valorTotal}"
						readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
				</div>
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaDetalleFacturas" var="detalleEgreso"
					value="#{listadoFacturaBean.listaFacturasDetalle}" reflow="true"
					paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Imp">
						<p:outputLabel id="impuesto" value="#{detalleEgreso.impuesto}" />
					</p:column>
					<p:column headerText="Cod">
						<p:outputLabel value="#{detalleEgreso.codigo}" />
					</p:column>
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{detalleEgreso.descripcion}" />
					</p:column>
					<p:column headerText="Can">
						<p:outputLabel value="#{detalleEgreso.cantidad}" />
					</p:column>
					<p:column headerText="Uni">
						<p:outputLabel value="#{detalleEgreso.nombreCantidad}" />
					</p:column>
					<p:column headerText="P. Unit." styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.precioUnitVenta}" />
					</p:column>
					<p:column headerText="Desc" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.descuentoDolares}" />
					</p:column>
					<p:column headerText="Importe" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.importe}" />
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>

		<p:dialog header="DEVOLUCION" widgetVar="facturaDevolucion"
			resizable="false" modal="false" showEffect="clip" hideEffect="fold"
			id="dialogoGenerarDevolucion">
			<h:form id="formAnular">
				<h:panelGrid columns="2" cellpadding="1">
					<h:outputLabel value="Usuario" />
					<p:inputText value="#{listadoFacturaBean.login}" required="true"
						requiredMessage="Ingrese el Usuario" />
					<h:outputLabel value="Clave" />
					<p:password value="#{listadoFacturaBean.pass}" required="true"
						requiredMessage="Ingrese la Clave" />
				</h:panelGrid>
				<p:separator />
				<p:commandButton value="SI"
					actionListener="#{listadoFacturaBean.convertirDevolucion}"
					update="formAnular, :formDataTable, :mensaje"
					oncomplete="PF('facturaDevolucion').hide()"
					icon="#{msg['i.activar']}" />
				<p:commandButton value="NO"
					oncomplete="PF('facturaDevolucion').hide()"
					icon="#{msg['i.cancelar']}" />
			</h:form>
		</p:dialog>

		<p:dialog header="ANULAR" widgetVar="anularEgreso" resizable="false"
			modal="false" showEffect="clip" hideEffect="fold" id="dialogoAnular">
			<h:form id="fromAnular">
				<h:panelGrid columns="2" cellpadding="1">
					<h:outputLabel value="Usuario" />
					<p:inputText value="#{listadoFacturaBean.login}" required="true"
						requiredMessage="Ingrese el Usuario" />
					<h:outputLabel value="Clave" />
					<p:password value="#{listadoFacturaBean.pass}" required="true"
						requiredMessage="Ingrese la Clave" />
				</h:panelGrid>
				<p:separator />
				<p:commandButton value="SI"
					actionListener="#{listadoFacturaBean.eliminar}"
					update="fromAnular, :formDataTable, :mensaje"
					oncomplete="PF('anularEgreso').hide()" icon="#{msg['i.activar']}" />
				<p:commandButton value="NO" oncomplete="PF('anularEgreso').hide()"
					icon="#{msg['i.cancelar']}" />
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>