<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nota de Credito</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Nota de Credito">
			<h:form id="busquedaTabla">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Cédula/Apellidos/Nombres"
						styleClass="DispBlock" />
					<p:inputText
						value="#{listadoNotaCreditoBean.criterioBusquedaCliente}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="# Nota Credito Ó # Cod."
						styleClass="DispBlock" />
					<p:inputText
						value="#{listadoNotaCreditoBean.criterioBusquedaCodigo}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Ean/Codigo/Nombre" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoNotaCreditoBean.criterioBusquedaDetalle}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Ingreso" styleClass="DispBlock" />
					<p:calendar
						value="#{listadoNotaCreditoBean.criterioBusquedaFechaDocumento}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoNotaCreditoBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaListadoEgresos" var="fac"
					value="#{listadoNotaCreditoBean.listaFacturas}" paginator="true"
					rows="10" reflow="true"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:tooltip for="btnXML" value="#{msg['lbl.generarXML']}" />
						<p:commandButton id="btnMostrar" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.mostrar']}"
							action="#{listadoNotaCreditoBean.generarListaDetalle}">
							<f:setPropertyActionListener value="#{fac}"
								target="#{listadoNotaCreditoBean.factura}" />
						</p:commandButton>
						<p:commandButton id="btnXML"
							action="#{listadoNotaCreditoBean.generarXML}"
							icon="#{msg['i.generarXML']}">
							<f:setPropertyActionListener value="#{fac}"
								target="#{listadoNotaCreditoBean.factura}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# Cod.">
						<p:outputLabel value="#{fac.notaCredito.id}" />
					</p:column>
					<p:column headerText="# Nota Credito">
						<p:outputLabel
							value="#{fac.notaCredito.establecimiento}-#{fac.notaCredito.puntoEmision}-#{fac.notaCredito.secuencia}" />
					</p:column>
					<p:column headerText="# Factura">
						<p:outputLabel
							value="#{fac.establecimiento}-#{fac.puntoEmision}-#{fac.secuencia}" />
					</p:column>
					<p:column headerText="Cédula">
						<p:outputLabel value="#{fac.cliente.persona.cedula}" />
					</p:column>
					<p:column headerText="Cliente">
						<p:outputLabel
							value="#{fac.cliente.persona.apellido} #{fac.cliente.persona.nombre}" />
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{fac.notaCredito.fecha}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<p:outputLabel value="# Nota Credito" styleClass="DispBlock" />
				<p:inputText readonly="true"
					value="#{listadoNotaCreditoBean.notaCredito.establecimiento}-#{listadoNotaCreditoBean.notaCredito.puntoEmision}-#{listadoNotaCreditoBean.notaCredito.secuencia}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="# Factura" styleClass="DispBlock" />
				<p:inputText readonly="true"
					value="#{listadoNotaCreditoBean.notaCredito.factura.establecimiento}-#{listadoNotaCreditoBean.notaCredito.factura.puntoEmision}-#{listadoNotaCreditoBean.notaCredito.factura.secuencia}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha" styleClass="DispBlock" />
				<p:inputText readonly="true"
					value="#{listadoNotaCreditoBean.notaCredito.fecha}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:inputText readonly="true"
					value="#{listadoNotaCreditoBean.notaCredito.factura.cliente.persona.apellido} #{listadoNotaCreditoBean.notaCredito.factura.cliente.persona.nombre}"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaDetalleEgresos" var="detalleEgreso"
					value="#{listadoNotaCreditoBean.listaNotaCreditosDetalle}"
					paginator="true" rows="8" reflow="true"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom">
					<p:column headerText="Codigo">
						<p:outputLabel value="#{detalleEgreso.codigo}" />
					</p:column>
					<p:column headerText="Descripcion">
						<p:inputText readonly="true" value="#{detalleEgreso.descripcion}"
							styleClass="Wid90" />
					</p:column>
					<p:column headerText="Cantidad">
						<p:outputLabel value="#{detalleEgreso.cantidad}" />
					</p:column>
					<p:column headerText="Unidades">
						<p:outputLabel value="#{detalleEgreso.nombreCantidad}" />
					</p:column>
					<p:column headerText="P. Unit." styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.precioUnitVenta}" />
					</p:column>
					<p:column headerText="Desc $" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.descuentoDolares}" />
					</p:column>
					<p:column headerText="Desc %" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.descuentoPorcentaje}" />
					</p:column>
					<p:column headerText="Importe" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.importe}" />
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>