<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nota Credito</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Nota Credito">
			<div id="datosIngreso" class="divDatosIzq50">
				<h:form id="formDatos">
					<p:outputLabel value="Datos" styleClass="subTitulos" />
					<p:outputLabel value="Cedula/Nombre" styleClass="DispBlock" />
					<p:inputText readonly="true"
						value="#{notaCreditoBean.notaCredito.factura.cliente.persona.cedula} - #{notaCreditoBean.notaCredito.factura.cliente.persona.apellido} #{notaCreditoBean.notaCredito.factura.cliente.persona.nombre}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Comp. Modifica" styleClass="DispBlock" />
					<p:inputText readonly="true"
						value="#{notaCreditoBean.notaCredito.factura.establecimiento}-#{notaCreditoBean.notaCredito.factura.puntoEmision}-#{notaCreditoBean.notaCredito.factura.secuencia}"
						styleClass="DispBlock Wid90" />
					<div class="EmptyBox10"></div>
					<p:commandButton value="#{msg['btn.guardar']}"
						update="formDatos, :formDataTable, :formTotales, :mensaje"
						id="btnGuardar" icon="#{msg['i.guardar']}"
						actionListener="#{notaCreditoBean.insertar}"
						styleClass="GreenButton" />
					<p:commandButton value="#{msg['btn.cancelar']}" id="btnlimpiar"
						update="formDatos, :formDataTable, :formTotales, :mensaje"
						icon="#{msg['i.cancelar']}"
						actionListener="#{notaCreditoBean.nuevaDevolucion}"
						styleClass="RedButton" />
					<div class="EmptyBox20"></div>
				</h:form>
			</div>
			<div id="tablaIngreso" class="divDatosDer50">
				<p:outputLabel value="Valores" styleClass="subTitulos" />
				<h:form id="formTotales">
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="SUBTOTAL SIN IMP. (1=2+3+4+5):"
							styleClass="DispBlock" />
						<p:inputText
							value="#{notaCreditoBean.cantidadFactura.stSinImpuesto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 14% (2):" styleClass="DispBlock" />
						<p:inputText value="#{notaCreditoBean.cantidadFactura.st12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL 0% (3):" styleClass="DispBlock" />
						<p:inputText value="#{notaCreditoBean.cantidadFactura.st0}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL NO OBJETO DE IVA (4):"
							styleClass="DispBlock" />
						<p:inputText
							value="#{notaCreditoBean.cantidadFactura.stNoObjetoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="SUBTOTAL EXENTO DE IVA (5):"
							styleClass="DispBlock" />
						<p:inputText
							value="#{notaCreditoBean.cantidadFactura.stExentoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="TOTAL DESCUENTO (6):" styleClass="DispBlock" />
						<p:inputText
							value="#{notaCreditoBean.cantidadFactura.tDescuentoProducto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="VALOR ICE (7):" styleClass="DispBlock" />
						<p:inputText value="#{notaCreditoBean.cantidadFactura.valorIce}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="VALOR IRBPNR(8):" styleClass="DispBlock" />
						<p:inputText
							value="#{notaCreditoBean.cantidadFactura.valorIRBPNR}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="IVA 14% (9=(2+7)*14%):"
							styleClass="DispBlock" />
						<p:inputText value="#{notaCreditoBean.cantidadFactura.iva12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="PROPINA (10):" styleClass="DispBlock" />
						<p:inputText value="#{notaCreditoBean.cantidadFactura.propina}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
				</h:form>
				<h:form id="formTotal">
					<p:outputLabel value="VALOR TOTAL (11=1+7+8+9+10)"
						styleClass="DispBlock" />
					<p:inputText value="#{notaCreditoBean.cantidadFactura.valorTotal}"
						readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
				</h:form>
			</div>
			<div class="EmptyBox10"></div>
			<h:form id="formDataTable">
				<p:dataTable id="tablaDetalleEgresos" var="facturaReporte"
					value="#{notaCreditoBean.listaFacturaReporte}" paginator="true"
					rows="10" reflow="true"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom" editable="true" editMode="cell"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Estado" styleClass="Wid15">
						<p:selectOneMenu id="estado" value="#{facturaReporte.estado}"
							styleClass="Wid90">
							<f:selectItems
								value="#{notaCreditoBean.listaEstadoProductoVenta}" var="estado"
								itemValue="#{estado}" itemLabel="#{estado.nombre}" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="Impuesto" styleClass="Wid10">
						<p:outputLabel value="#{facturaReporte.impuesto}" />
					</p:column>
					<p:column headerText="Codigo" tyleClass="Wid10">
						<p:outputLabel value="#{facturaReporte.codigo}" />
					</p:column>
					<p:column headerText="Descripcion" styleClass="Wid25">
						<p:inputText id="nombre" value="#{facturaReporte.descripcion}"
							readonly="true" styleClass="Wid90" />
						<p:tooltip for="nombre" value="#{facturaReporte.descripcion}" />
					</p:column>
					<p:column headerText="Cant. Vendida" styleClass="Wid10">
						<p:outputLabel value="#{facturaReporte.cantidadKardex}" />
					</p:column>
					<p:column headerText="Cantidad" tyleClass="Wid10">
						<p:inputText id="cantidad" value="#{facturaReporte.cantidad}"
							styleClass="Wid90">
							<p:ajax event="change"
								listener="#{notaCreditoBean.cambiarCantidad(facturaReporte)}"
								update="cantidad, importe, :formTotal, :formTotales, :mensaje " />
						</p:inputText>
					</p:column>
					<p:column headerText="P. Unit." styleClass="TexAlRight Wid10">
						<p:outputLabel value="#{facturaReporte.precioUnitVenta}" />
					</p:column>
					<p:column headerText="Importe" styleClass="TexAlRight Wid10">
						<p:outputLabel id="importe" value="#{facturaReporte.importe}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>