<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Reportes</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Reportes">
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Ganancia" styleClass="DispBlock" />
				<p:selectBooleanButton id="tipoReporte"
					value="#{facturacionReportes.gananciaBrutaNeta}" onLabel="Bruta"
					offLabel="Neta" styleClass="DispBlock" />
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteGanancia}"
					value="Ganancias" ajax="false" update=":mensaje"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form id="formReporteVolumenVenta"
				styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					required="true" requiredMessage="Ingrese una fecha inicio"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}" required="true"
					requiredMessage="Ingrese una fecha fin"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Vendedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.vendedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaVendedores}"
						var="vendedor" itemValue="#{vendedor.id}"
						itemLabel="#{vendedor.cedula} - #{vendedor.apellido} #{vendedor.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Estado de Pago" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.estadoDocumento}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todas" itemValue="0" />
					<f:selectItem itemLabel="Pagadas" itemValue="1" />
					<f:selectItem itemLabel="No Pagadas" itemValue="2" />
				</p:selectOneMenu>
				<p:outputLabel value="Ciudad" />
				<p:selectOneMenu value="#{facturacionReportes.ciudadIdVVF}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Ciudad" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaCiudadesVVF}"
						var="ciudad" itemValue="#{ciudad.id}"
						itemLabel="#{ciudad.provincia}-#{ciudad.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteVolumenVentaFactura}"
					value="Volumen de Venta por Factura" ajax="false"
					update="formReporteVolumenVenta" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form id="formReporteVolumenVentaProveedor"
				styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					required="true" requiredMessage="Ingrese una fecha inicio"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}" required="true"
					requiredMessage="Ingrese una fecha fin"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Proveedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.proveedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90" required="true"
					requiredMessage="Escoja un proveedor">
					<f:selectItem itemLabel="Escoja un Item" />
					<f:selectItems value="#{facturacionReportes.listaProveedores}"
						var="proveedor" itemValue="#{proveedor.proveedor.id}"
						itemLabel="#{proveedor.proveedor.nombreComercial}" />
				</p:selectOneMenu>
				<p:outputLabel value="Vendedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.vendedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaVendedores}"
						var="vendedor" itemValue="#{vendedor.id}"
						itemLabel="#{vendedor.cedula} - #{vendedor.apellido} #{vendedor.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Estado de Pago" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.estadoDocumento}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todas" itemValue="0" />
					<f:selectItem itemLabel="Pagadas" itemValue="1" />
					<f:selectItem itemLabel="No Pagadas" itemValue="2" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteVolumenVentaFacturaProveedor}"
					value="Volumen de Venta por Proveedor" ajax="false"
					update="formReporteVolumenVentaProveedor"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.consumidorFinal}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Con Consumidor Final" itemValue="0" />
					<f:selectItem itemLabel="Sin Consumidor Final" itemValue="1" />
					<f:selectItem itemLabel="Todos" itemValue="2" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteVolumenVentaConsumidorFinal}"
					value="Volumen de Venta por Consumidor Final" ajax="false"
					update="formReporteVolumenVenta" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<div class="EmptyBox10"></div>
				<p:commandButton value="Productos a Cargar" update=":formEgreso"
					actionListener="#{facturacionReportes.limpiarObjetosBusqueda}"
					oncomplete="mostarPanelInsertar('')" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form id="formReporteVolumenProducto"
				styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					required="true" requiredMessage="INGRESE UNA FECHA INICIO"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}" required="true"
					requiredMessage="INGRESE UNA FECHA FIN"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Estado de Venta" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.estado}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" />
					<f:selectItems
						value="#{facturacionReportes.listEstadoProductoFacturas}"
						var="estado" itemValue="#{estado}" itemLabel="#{estado.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Ordenar por" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.ordenarId}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemValue="1" itemLabel="Nombre" />
					<f:selectItem itemValue="2" itemLabel="Cantidad" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteVolumenVentaProducto}"
					value="Volumen de Venta por Producto" ajax="false"
					update="formReporteVolumenVenta" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form id="formReporteGananciaProducto"
				styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					required="true" requiredMessage="Ingrese una fecha inicio"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}" required="true"
					requiredMessage="Ingrese una fecha fin"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Proveedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.proveedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaProveedores}"
						var="persona" itemValue="#{persona.proveedor.id}"
						itemLabel="#{persona.proveedor.nombreComercial} - #{persona.apellido} #{persona.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Vendedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.vendedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaVendedores}"
						var="vendedor" itemValue="#{vendedor.id}"
						itemLabel="#{vendedor.cedula} - #{vendedor.apellido} #{vendedor.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteVolumenVentaProductoVendedor}"
					value="Volumen/Venta/Producto-Vendedor" ajax="false"
					update="formReporteGananciaProducto" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form id="formReporteVolumenVentaProveedorProductoCliente"
				styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicioVVPPC}"
					required="true" requiredMessage="Ingrese una fecha inicio"
					styleClass="DispBlock Wid90 calendario">
					<p:ajax event="dateSelect"
						listener="#{facturacionReportes.onDateSelect}" />
				</p:calendar>
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFinVVPPC}"
					required="true" requiredMessage="Ingrese una fecha fin"
					styleClass="DispBlock Wid90 calendario">
					<p:ajax event="dateSelect"
						listener="#{facturacionReportes.onDateSelect1}" />
				</p:calendar>
				<p:outputLabel value="Proveedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.proveedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Item" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaProveedores}"
						var="proveedor" itemValue="#{proveedor.proveedor.id}"
						itemLabel="#{proveedor.proveedor.nombreComercial}" />
					<p:ajax event="change"
						listener="#{facturacionReportes.cargarClienteProveedorCiudadFechas}"
						update="comboClientes" />
				</p:selectOneMenu>
				<p:outputLabel value="Ciudad Cliente" />
				<p:selectOneMenu value="#{facturacionReportes.ciudadId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Item" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaCiudadesVVPPC}"
						var="ciudad" itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
					<p:ajax event="change"
						listener="#{facturacionReportes.cargarClienteProveedorCiudadFechas}"
						update="comboClientes" />
				</p:selectOneMenu>
				<p:outputLabel value="Cliente" />
				<p:selectOneMenu id="comboClientes"
					value="#{facturacionReportes.clienteId}" filter="true"
					filterMatchMode="contains" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaClientesVVPPC}"
						var="cliente" itemValue="#{cliente.id}"
						itemLabel="#{cliente.persona.apellido} #{cliente.persona.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteVolumenVentaClienteProveedor}"
					value="Volumen de Venta por Proveedor-Producto-Cliente"
					ajax="false"
					update="formReporteVolumenVentaProveedorProductoCliente"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form id="formCierreCaja" styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaCierreCaja}"
					required="true" requiredMessage="INGRESE UNA FECHA"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Cajero" styleClass="DispBlock" />
				<p:selectOneMenu value="#{facturacionReportes.cajero}" filter="true"
					filterMatchMode="contains"
					disabled="#{facturacionReportes.disabledCajero}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{facturacionReportes.listaCajeros}"
						var="cajero" itemValue="#{cajero.id}"
						itemLabel="#{cajero.cedula} - #{cajero.apellido} #{cajero.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{facturacionReportes.reporteCierreCaja}"
					value="Cierre Caja" ajax="false" update="formCierreCaja"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<div class="EmptyBox10"></div>
				<p:commandButton value="Impresion de Facturas por Lote"
					update=":formImprimir"
					actionListener="#{facturacionReportes.limpiarObjetosBusquedaImprimir}"
					oncomplete="mostarPanelEditar('')" styleClass="DispBlock Wid90" />
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="Productos a Cargar"
			styleClass="DispNone">
			<h:form id="formEgreso">
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaInicio}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{facturacionReportes.fechaFin}"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Local" styleClass="DispBlock" />
				<p:selectOneMenu id="comboLocal"
					value="#{facturacionReportes.local.codigoEstablecimiento}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{localBean.listaLocales}" var="local"
						itemValue="#{local.codigoEstablecimiento}"
						itemLabel="#{local.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Provincia" styleClass="DispBlock" />
				<p:selectOneMenu id="comboProvincia" filter="true"
					value="#{facturacionReportes.provincia}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Provincia" />
					<f:selectItems value="#{facturacionReportes.listaProvincias}"
						var="provincia" itemValue="#{provincia}"
						itemLabel="#{provincia.nombre}" />
					<p:ajax event="change"
						listener="#{facturacionReportes.cargarCiudades}"
						update="comboCiudad" />
				</p:selectOneMenu>
				<p:outputLabel value="Ciudad" styleClass="DispBlock" />
				<h:selectManyListbox size="8" id="comboCiudad"
					value="#{facturacionReportes.ciudadVector}"
					styleClass="selectManyListbox">
					<f:selectItems value="#{facturacionReportes.listaCiudades}"
						var="ciudad" itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
				</h:selectManyListbox>
				<div class="EmptyBox10"></div>
				<p:commandButton update=":formEgreso:tablaFacturas, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{facturacionReportes.obtenerFacturas}" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaFacturas" var="egreso" reflow="true"
					value="#{facturacionReportes.listaFacturas}" paginator="true"
					rows="20" emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom" rowKey="#{egreso.id}"
					selection="#{facturacionReportes.listaFacturaSeleccionado}">
					<p:column selectionMode="multiple" />
					<p:column headerText="Ciudad">  
            			#{egreso.cliente.persona.ciudad.nombre}  
        			</p:column>
					<p:column headerText="Cédula">  
            			#{egreso.cliente.persona.cedula}
        			</p:column>
					<p:column headerText="Cliente">  
            			#{egreso.cliente.persona.apellido} #{egreso.cliente.persona.nombre}
        			</p:column>
					<p:column headerText="# Factura">  
            			#{egreso.establecimiento}-#{egreso.puntoEmision}-#{egreso.secuencia}  
        			</p:column>
					<p:column headerText="Fecha">
						<h:outputText value="#{egreso.fechaInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</h:outputText>
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.aceptar']}" ajax="false"
					id="btnNuevoAceptar" icon="#{msg['i.activar']}"
					oncomplete="mostarPanelInsertar('')"
					actionListener="#{facturacionReportes.reporteEntregaProducto}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelInsertar('')" id="btnNuevolimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelEditar" header="Impresion de Facturas"
			styleClass="DispNone">
			<h:form id="formImprimir">
				<p:outputLabel
					value="Se recomienda Imprimir hasta 10 Facturas seguidas"
					styleClass="subTitulos" />

				<p:outputLabel value="Local" styleClass="DispBlock" />
				<p:selectOneMenu id="comboLocal"
					value="#{facturacionReportes.local.codigoEstablecimiento}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{localBean.listaLocales}" var="local"
						itemValue="#{local.codigoEstablecimiento}"
						itemLabel="#{local.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Secuencia Inicio" styleClass="DispBlock" />
				<p:inputText value="#{facturacionReportes.secuenciaInicio}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Secuencia Fin" styleClass="DispBlock" />
				<p:inputText value="#{facturacionReportes.secuenciaFin}"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton update="formImprimir:tablaFacturas, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{facturacionReportes.obtenerFacturasImprimir}" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaFacturas" var="factura" reflow="true"
					value="#{facturacionReportes.listaFacturasImprimir}"
					paginator="true" rows="20"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom">
					<p:column headerText="# Factura">
						<p:outputLabel
							value="#{factura.establecimiento}-#{factura.puntoEmision}-#{factura.secuencia}" />
					</p:column>
					<p:column headerText="Cédula">
						<p:outputLabel value="#{factura.cliente.persona.cedula}" />
					</p:column>
					<p:column headerText="Cliente">
						<p:outputLabel
							value="#{factura.cliente.persona.apellido} #{factura.cliente.persona.nombre}" />
					</p:column>
					<p:column headerText="Ciudad">
						<p:outputLabel
							value="#{factura.clienteFactura.persona.ciudad.provincia} - #{factura.clienteFactura.persona.ciudad.nombre}" />
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{factura.fechaInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.imprimir']}" ajax="false"
					id="btnNuevoAceptar" icon="#{msg['i.imprimir']}"
					oncomplete="mostarPanelEditar('')"
					actionListener="#{facturacionReportes.imprimirFacturasLote}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelEditar('')" id="btnNuevolimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>