<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Anexos</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Anexos">
			<h:form id="busquedaTabla">
				<p:focus for="busquedaTabla" />
				<p:outputLabel value="Año" styleClass="DispBlock" />
				<p:selectOneMenu id="anio" value="#{anexosBean.anioAnexo}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{anexosBean.listaAnio}" var="anio"
						itemValue="#{anio}" itemLabel="#{anio.id}" />
				</p:selectOneMenu>
				<p:outputLabel value="Mes" styleClass="DispBlock" />
				<p:selectOneMenu id="mes" value="#{anexosBean.mesAnexo}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{anexosBean.listaMes}" var="mes"
						itemValue="#{mes}" itemLabel="#{mes.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{anexosBean.obtener}" />
				<p:commandButton ajax="false" icon="#{msg['i.generar']}"
					value="#{msg['btn.generarXML']}"
					actionListener="#{anexosBean.generar}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaAnulados" var="anexos" paginator="true"
					scrollable="true" reflow="true" rows="10"
					value="#{anexosBean.listaAnexos}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							oncomplete="PF('dialogoImportar').show()"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:commandButton id="btnEliminar" update=":formEliminar"
							oncomplete="mostarPanelEliminar('')" icon="#{msg['i.eliminar']}">
							<f:setPropertyActionListener value="#{anexos}"
								target="#{anexosBean.anexos}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Año">
						<p:outputLabel value="#{anexos.anio}" />
					</p:column>
					<p:column headerText="Mes">
						<p:outputLabel value="#{anexos.mes}" />
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{anexos.fecha}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="T. Venta 0%">
						<p:outputLabel value="#{anexos.tventa0}" />
					</p:column>
					<p:column headerText="T. Venta 12%">
						<p:outputLabel value="#{anexos.tventa12}" />
					</p:column>
					<p:column headerText="T. Compra 0%">
						<p:outputLabel value="#{anexos.tcompra0}" />
					</p:column>
					<p:column headerText="T. Compra 12%">
						<p:outputLabel value="#{anexos.tcompra12}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:dialog header="Importar Anexo" widgetVar="dialogoImportar"
			resizable="false" modal="false" showEffect="clip" hideEffect="fold"
			id="dialogoImportar">
			<h:form id="formInsertar">
				<h:outputText value="Importar" styleClass="negrita" />
				<p:fileUpload fileUploadListener="#{anexosBean.insertar}"
					mode="advanced" dragDropSupport="true" multiple="true"
					update=":mensaje, @this" fileLimit="1" allowTypes="/(\.|\/)(xml)$/" />
			</h:form>
		</p:dialog>

		<p:panel id="panelEliminar" header="#{msg['lbl.desactivar']}"
			styleClass="DispNone">
			<h:form id="formEliminar">
				<h:inputHidden value="#{anexosBean.anexos.id}" />
				<div class="EmptyBox30"></div>
				<p:outputLabel value="¿Desea #{msg['lbl.desactivar']} el Anexo?" />
				<div class="EmptyBox30"></div>
				<p:separator />
				<p:commandButton value="#{msg['btn.aceptar']}"
					update=":formDataTable,:mensaje" icon="#{msg['i.activar']}"
					oncomplete="mostarPanelEliminar('')"
					actionListener="#{anexosBean.eliminar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					onclick="mostarPanelEliminar('')" icon="#{msg['i.cancelar']}"
					styleClass="RedButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>