<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Retenciones Compra</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Retenciones Compra">
			<h:form id="busquedaTabla">
				<p:outputLabel value="Proveedor" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionBean.criterioBusquedaProveedor}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90 Wid95" />
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="# Retencion" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionBean.criterioBusquedaNumeroRetencion}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Retencion" styleClass="DispBlock" />
					<p:calendar
						value="#{listadoRetencionBean.criterioBusquedaFechaRetencion}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="# Comprobante" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionBean.criterioBusquedaNumeroComprobante}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Comprobante" styleClass="DispBlock" />
					<p:calendar
						value="#{listadoRetencionBean.criterioBusquedaFechaIngreso}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoRetencionBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaListadoEntradas" var="retencion"
					value="#{listadoRetencionBean.listaRetenciones}" paginator="true"
					scrollable="true" reflow="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							action="#{listadoRetencionBean.redirecionar}"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:commandButton id="btnMostrar" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.mostrar']}">
							<f:setPropertyActionListener value="#{retencion}"
								target="#{listadoRetencionBean.retencion}" />
						</p:commandButton>
						<p:tooltip for="btnImprimir" value="#{msg['lbl.imprimir']}" />
						<p:commandButton id="btnImprimir" icon="#{msg['i.imprimir']}"
							action="#{listadoRetencionBean.imprimirRetencion}" ajax="false"
							disabled="#{retencion.activo eq true ? false:true}">
							<f:setPropertyActionListener value="#{retencion}"
								target="#{listadoRetencionBean.retencion}" />
						</p:commandButton>
						<p:tooltip for="btnXML" value="#{msg['lbl.generarXML']}" />
						<p:commandButton id="btnXML"
							action="#{listadoRetencionBean.generarXML}"
							icon="#{msg['i.generarXML']}">
							<f:setPropertyActionListener value="#{retencion}"
								target="#{listadoRetencionBean.retencion}" />
						</p:commandButton>
						<p:tooltip for="btnAnular" value="#{msg['lbl.eliminar']}" />
						<p:commandButton id="btnAnular"
							oncomplete="PF('anularRetencion').show()"
							icon="#{msg['i.eliminar']}" update=":fromAnular"
							disabled="#{retencion.activo eq true ? false:true}">
							<f:setPropertyActionListener value="#{retencion}"
								target="#{listadoRetencionBean.retencion}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# Retencion">
						<p:outputLabel
							value="#{retencion.establecimiento}-#{retencion.puntoEmision}-#{retencion.secuencia}" />
					</p:column>
					<p:column headerText="Cedula">
						<p:outputLabel value="#{retencion.proveedor.persona.cedula}" />
					</p:column>
					<p:column headerText="Proveedor">
						<p:outputLabel
							value="#{retencion.proveedor.persona.apellido} #{retencion.proveedor.persona.nombre}" />
					</p:column>
					<p:column headerText="Fecha Emision">
						<p:outputLabel value="#{retencion.fechaEmision}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Anulada">
						<p:selectBooleanCheckbox disabled="true"
							value="#{!retencion.activo}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<p:outputLabel value="Proveedor" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionBean.retencion.proveedor.persona.cedula} - #{listadoRetencionBean.retencion.proveedor.persona.apellido} #{listadoRetencionBean.retencion.proveedor.persona.nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="# Retencion" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionBean.retencion.establecimiento} - #{listadoRetencionBean.retencion.puntoEmision} - #{listadoRetencionBean.retencion.secuencia}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha Ingreso" styleClass="DispBlock" />
				<p:inputText value="#{listadoRetencionBean.retencion.fechaEmision}"
					readonly="true" styleClass="DispBlock Wid90">
					<f:convertDateTime pattern="dd/MM/yyyy"
						timeZone="America/Guayaquil" />
				</p:inputText>
				<p:outputLabel value="Sustento" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionBean.retencion.sustentoTributario.id}-#{listadoRetencionBean.retencion.sustentoTributario.nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Tipo Comprobante" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionBean.retencion.tipoCompraRetencion.id}-#{listadoRetencionBean.retencion.tipoCompraRetencion.nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="# Compra" styleClass="DispBlock" />
				<p:inputText value="#{listadoRetencionBean.retencion.numeroCompra}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Autorización Compra" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionBean.retencion.autorizacionCompra}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha Compra" styleClass="DispBlock" />
				<p:inputText value="#{listadoRetencionBean.retencion.fechaCompra}"
					readonly="true" styleClass="DispBlock Wid90">
					<f:convertDateTime pattern="dd/MM/yyyy"
						timeZone="America/Guayaquil" />
				</p:inputText>
				<p:outputLabel value="Activo" styleClass="DispBlock" />
				<p:selectBooleanButton id="value1"
					value="#{listadoRetencionBean.retencion.activo}" onLabel="Sí"
					offLabel="No" disabled="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaDetalle" var="detalleRetencion"
					value="#{listadoRetencionBean.retencion.detallesRetenciones}"
					scrollable="true" reflow="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Impuesto">
						<p:outputLabel
							value="#{detalleRetencion.impuestoRetencion.nombre}" />
					</p:column>
					<p:column headerText="Tarifa">
						<p:outputLabel
							value="#{detalleRetencion.tarifa.id} - #{detalleRetencion.tarifa.nombre}" />
					</p:column>
					<p:column headerText="Base Imp. Retencion">
						<p:outputLabel value="#{detalleRetencion.baseImponible}" />
					</p:column>
					<p:column headerText="Porcentaje Retencion">
						<p:outputLabel value="#{detalleRetencion.porcentajeRetencion}" />
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>

		<p:dialog header="Anular" widgetVar="anularRetencion"
			resizable="false" modal="false" showEffect="clip" hideEffect="fold"
			id="dialogoAnular">
			<h:form id="fromAnular">
				<h:panelGrid columns="2" cellpadding="1">
					<h:outputLabel value="Usuario" />
					<p:inputText value="#{listadoRetencionBean.login}" required="true"
						requiredMessage="Ingrese el Usuario" />
					<h:outputLabel value="Clave" />
					<p:password value="#{listadoRetencionBean.pass}" required="true"
						requiredMessage="Ingrese la Clave" />
				</h:panelGrid>
				<p:separator />
				<p:commandButton value="SI"
					actionListener="#{listadoRetencionBean.eliminar}"
					update="fromAnular, :formDataTable, :mensaje"
					oncomplete="PF('anularRetencion').hide()"
					icon="#{msg['i.activar']}" />
				<p:commandButton value="NO"
					oncomplete="PF('anularRetencion').hide()"
					icon="#{msg['i.cancelar']}" />
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>