<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Comp. Anulados</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Comp. Anulados">
			<h:form id="busquedaTabla">
				<p:focus for="busquedaTabla" />
				<p:outputLabel value="Comprobante" styleClass="DispBlock" />
				<p:selectOneMenu id="comboComprobante"
					value="#{listadoAnuladoBean.criterioBusquedaTipoComprobante}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Comprobante" itemValue="" />
					<f:selectItems value="#{listadoAnuladoBean.listaComprobantes}"
						var="comprobante" itemValue="#{comprobante}"
						itemLabel="#{comprobante.id}-#{comprobante.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="# Documento" styleClass="DispBlock" />
				<p:inputText id="txtAutorizacion"
					value="#{listadoAnuladoBean.criterioBusquedaNumeroComprobante}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha" styleClass="DispBlock" />
				<p:calendar id="inline"
					value="#{listadoAnuladoBean.criterioBusquedaFecha}"
					styleClass="DispBlock Wid90 calendario" />
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoAnuladoBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaAnulados" var="anulado" paginator="true"
					scrollable="true" reflow="true" rows="10"
					value="#{listadoAnuladoBean.listaAnulados}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							oncomplete="mostarPanelInsertar('')" icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="Tipo Comprobante">
						<p:outputLabel
							value="#{anulado.tipoComprobante.id}-#{anulado.tipoComprobante.nombre}" />
					</p:column>
					<p:column headerText="Establecimiento">
						<p:outputLabel value="#{anulado.establecimiento}" />
					</p:column>
					<p:column headerText="Pto. Emision">
						<p:outputLabel value="#{anulado.puntoEmision}" />
					</p:column>
					<p:column headerText="Secuencia Inicio">
						<p:outputLabel value="#{anulado.secuenciaInicio}" />
					</p:column>
					<p:column headerText="Secuencia Fin">
						<p:outputLabel value="#{anulado.secuenciaFin}" />
					</p:column>
					<p:column headerText="Autorizacion">
						<p:outputLabel value="#{anulado.autorizacion}" />
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{anulado.fechaAnulado}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="#{msg['lbl.insertar']}"
			styleClass="DispNone">
			<h:form id="formInsertarAnulado">
				<p:outputLabel value="Comprobante" styleClass="DispBlock" />
				<p:selectOneMenu id="comboComprobante"
					value="#{listadoAnuladoBean.anulado.tipoComprobante}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Comprobante" itemValue="" />
					<f:selectItems value="#{listadoAnuladoBean.listaComprobantes}"
						var="comprobante" itemValue="#{comprobante}"
						itemLabel="#{comprobante.id}-#{comprobante.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Establecimiento" styleClass="DispBlock" />
				<p:inputText value="#{listadoAnuladoBean.anulado.establecimiento}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Pto. Emision" styleClass="DispBlock" />
				<p:inputText value="#{listadoAnuladoBean.anulado.puntoEmision}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Secuencia Inicio" styleClass="DispBlock" />
				<p:inputText id="txtSecInicio"
					value="#{listadoAnuladoBean.anulado.secuenciaInicio}"
					styleClass="DispBlock Wid90">
					<p:ajax event="blur"
						listener="#{listadoAnuladoBean.pasarSecuencia}"
						update="txtSecInicio, txtSecFin" />
				</p:inputText>
				<p:outputLabel value="Secuencia Fin" styleClass="DispBlock" />
				<p:inputText id="txtSecFin"
					value="#{listadoAnuladoBean.anulado.secuenciaFin}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Autorizacion" styleClass="DispBlock" />
				<p:inputText value="#{listadoAnuladoBean.anulado.autorizacion}"
					styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					update=":formInsertarAnulado, :mensaje"
					oncomplete="comprobarInsertar(xhr, status, args, '')"
					id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
					actionListener="#{listadoAnuladoBean.insertar}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelInsertar('')" id="btnNuevolimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>