<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Ret. Venta</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Ret. Venta">
			<h:form id="busquedaTabla">
				<p:outputLabel value="Fecha Emisión" styleClass="DispBlock" />
				<p:calendar
					value="#{listadoRetencionVentaBean.criterioBusquedaFechaDocumento}"
					navigator="true" styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Cédula/Apellidos/Nombres"
					styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.criterioBusquedaCliente}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="# Factura" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.criterioBusquedaNumeroFactura}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton
					update="busquedaTabla, :formDataTable:tablaListadoFacturas, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoRetencionVentaBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaListadoFacturas" var="factura"
					value="#{listadoRetencionVentaBean.listaFacturas}" rows="10"
					reflow="true" paginator="true" paginatorPosition="bottom"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:tooltip for="btnRetencion" value="#{msg['lbl.retencion']}" />
						<p:commandButton id="btnMostrar" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.mostrar']}"
							action="#{listadoRetencionVentaBean.generarListaDetalle}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoRetencionVentaBean.factura}" />
						</p:commandButton>
						<p:commandButton id="btnRetencion" icon="#{msg['i.retencion']}"
							oncomplete="mostarPanelInsertar('')"
							disabled="#{factura.activo eq false || factura.notaCredito ne null ? true:false}"
							action="#{listadoRetencionVentaBean.generarListaDetalle}"
							update=":formRetencion">
							<f:setPropertyActionListener value="#{factura}"
								target="#{listadoRetencionVentaBean.factura}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# Factura">
						<p:outputLabel
							value="#{factura.establecimiento}-#{factura.puntoEmision}-#{factura.secuencia}" />
					</p:column>
					<p:column headerText="Cliente">
						<p:outputLabel
							value="#{factura.clienteFactura.persona.cedula} - #{factura.clienteFactura.persona.apellido} #{factura.clienteFactura.persona.nombre}" />
					</p:column>
					<p:column headerText="Fec. Emisión">
						<p:outputLabel value="#{factura.fechaInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Ret. Iva">
						<p:outputLabel value="#{factura.retIva}" />
					</p:column>
					<p:column headerText="Ret. Renta">
						<p:outputLabel value="#{factura.retRenta}" />
					</p:column>
					<p:column headerText="Anulada">
						<p:selectBooleanCheckbox disabled="true"
							value="#{!factura.activo}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="#{msg['lbl.retencion']}"
			styleClass="DispNone">
			<h:form id="formRetencion">
				<p:outputLabel value="# Factura" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.factura.establecimiento}-#{listadoRetencionVentaBean.factura.puntoEmision}-#{listadoRetencionVentaBean.factura.secuencia}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha Emisión" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.factura.fechaInicio}"
					readonly="true" styleClass="DispBlock Wid90">
					<f:convertDateTime pattern="dd/MM/yyyy"
						timeZone="America/Guayaquil" />
				</p:inputText>
				<p:outputLabel value="Factura Nombre" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.factura.clienteFactura.persona.cedula} - #{listadoRetencionVentaBean.factura.clienteFactura.persona.apellido} #{listadoRetencionVentaBean.factura.clienteFactura.persona.nombre}"
					readonly="true" styleClass="DispBlock Wid90" />

				<div class="EmptyBox10"></div>
				<p:outputLabel value="#{listadoRetencionVentaBean.mensaje}"
					styleClass="DispBlock red" />
				<div class="EmptyBox10"></div>

				<p:outputLabel value="Base0" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.cantidadFactura.st0}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Base 12% - 14%" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.cantidadFactura.st12}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Ret. Renta" styleClass="DispBlock Fs18 " />
				<p:inputText value="#{listadoRetencionVentaBean.retRenta}"
					styleClass="DispBlock Wid90 Fs18 " />
				<p:outputLabel value="Iva" styleClass="DispBlock" />
				<p:inputText
					value="#{listadoRetencionVentaBean.cantidadFactura.iva12}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Ret. Iva" styleClass="DispBlock Fs18 " />
				<p:inputText value="#{listadoRetencionVentaBean.retIva}"
					styleClass="DispBlock Wid90 Fs18 " />
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					actionListener="#{listadoRetencionVentaBean.insertar}"
					update="formRetencion, :formDataTable, :mensaje"
					oncomplete="mostarPanelInsertar('')" icon="#{msg['i.guardar']}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					actionListener="#{listadoRetencionVentaBean.limpiarInsertar}"
					oncomplete="mostarPanelInsertar('')" icon="#{msg['i.cancelar']}"
					styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Datos" styleClass="subTitulos" />
					<p:outputLabel value="# Factura" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.establecimiento}-#{listadoRetencionVentaBean.factura.puntoEmision}-#{listadoRetencionVentaBean.factura.secuencia}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Emisión" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.fechaInicio}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Fecha Pago" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.fechaCierre}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Cajero" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.cajero.empleado.persona.cedula} - #{listadoRetencionVentaBean.factura.cajero.empleado.persona.apellido} #{listadoRetencionVentaBean.factura.cajero.empleado.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Vendedor" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.vendedor.empleado.persona.cedula} - #{listadoRetencionVentaBean.factura.vendedor.empleado.persona.apellido} #{listadoRetencionVentaBean.factura.vendedor.empleado.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Cliente Compra" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.cliente.persona.cedula} - #{listadoRetencionVentaBean.factura.cliente.persona.apellido} #{listadoRetencionVentaBean.factura.cliente.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Factura Nombre" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.factura.clienteFactura.persona.cedula} - #{listadoRetencionVentaBean.factura.clienteFactura.persona.apellido} #{listadoRetencionVentaBean.factura.clienteFactura.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Valores" styleClass="subTitulos" />
					<div id="datosIngreso" class="divDatosIzq50">
						<p:outputLabel value="Subtotal sin Imp. (1=2+3+4+5):"
							readonly="true" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.stSinImpuesto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal 14% (2):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.st12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal 0% (3):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.st0}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal no Objeto de Iva (4):"
							readonly="true" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.stNoObjetoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Subtotal Exento de Iva (5):" readonly="true"
							styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.stExentoIva}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<div id="tablaIngreso" class="divDatosDer50">
						<p:outputLabel value="Total Descuento (6):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.tDescuentoProducto}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Valor Ice (7):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.valorIce}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Valor Irbpnr(8):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.valorIRBPNR}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Iva 14% (9=(2+7)*14%):"
							styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.iva12}"
							readonly="true" styleClass="DispBlock Wid90" />
						<p:outputLabel value="Propina (10):" styleClass="DispBlock" />
						<p:inputText
							value="#{listadoRetencionVentaBean.cantidadFactura.propina}"
							readonly="true" styleClass="DispBlock Wid90" />
					</div>
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoRetencionVentaBean.cantidadFactura.valorTotal}"
						readonly="true" styleClass="DispBlock Wid90 red Fs20 FontBold" />
				</div>
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaDetalleFacturas" var="detalleEgreso"
					value="#{listadoRetencionVentaBean.listaFacturasDetalle}"
					reflow="true" paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Imp">
						<p:outputLabel id="impuesto" value="#{detalleEgreso.impuesto}" />
					</p:column>
					<p:column headerText="Cod">
						<p:outputLabel value="#{detalleEgreso.codigo}" />
					</p:column>
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{detalleEgreso.descripcion}" />
					</p:column>
					<p:column headerText="Can">
						<p:outputLabel value="#{detalleEgreso.cantidad}" />
					</p:column>
					<p:column headerText="Uni">
						<p:outputLabel value="#{detalleEgreso.nombreCantidad}" />
					</p:column>
					<p:column headerText="P. Unit." styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.precioUnitVenta}" />
					</p:column>
					<p:column headerText="Desc" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.descuentoDolares}" />
					</p:column>
					<p:column headerText="Importe" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleEgreso.importe}" />
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>