<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Reportes</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Reportes">
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{tributacionReportes.fechaInicioRetenciones}"
					required="true" requiredMessage="Ingrese una Fecha de Inicio"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{tributacionReportes.fechaFinRetenciones}"
					required="true" requiredMessage="Ingrese una Fecha de Corte"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Proveedores" styleClass="DispBlock" />
				<p:selectOneMenu value="#{tributacionReportes.proveedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{tributacionReportes.listaProveedores}"
						var="persona" itemValue="#{persona.proveedor.id}"
						itemLabel="#{persona.proveedor.nombreComercial}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{tributacionReportes.reporteRetenciones}"
					value="Retenciones" ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Año" styleClass="DispBlock" />
				<p:selectOneMenu id="anio" value="#{tributacionReportes.anioAnexo}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{tributacionReportes.listaAnio}" var="anio"
						itemValue="#{anio}" itemLabel="#{anio.id}" />
				</p:selectOneMenu>
				<p:outputLabel value="Mes" styleClass="DispBlock" />
				<p:selectOneMenu id="mes" value="#{tributacionReportes.mesAnexo}"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{tributacionReportes.listaMes}" var="mes"
						itemValue="#{mes}" itemLabel="#{mes.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{tributacionReportes.reporteAnexo}" value="Anexo"
					ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>