<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nueva Retencion</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Nueva Retencion">
			<h:form id="formCabecera">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:focus for="formCabecera" />
					<p:outputLabel value="Establecimiento" styleClass="DispBlock" />
					<p:selectOneMenu value="#{retencionBean.retencion.establecimiento}"
						styleClass="DispBlock Wid90">
						<f:selectItems value="#{retencionBean.listaLocales}" var="local"
							itemValue="#{local.codigoEstablecimiento}"
							itemLabel="#{local.nombre}" />
					</p:selectOneMenu>

					<p:outputLabel value="Autorización Retencion"
						styleClass="DispBlock" />
					<p:inputText id="txtAutorizacion"
						readonly="#{retencionBean.bnAutorizacion}"
						value="#{retencionBean.retencion.autorizacion}"
						styleClass="DispBlock Wid90" />

					<p:outputLabel value="Proveedor" styleClass="DispBlock" />
					<p:autoComplete id="autoCompletarProveedor" effect="drop"
						placeholder="Minimo 3 Caracteres"
						emptyMessage="#{msg['lbl.mensajeTabla']}"
						panelStyle="width:400px !important" minQueryLength="3"
						maxResults="20" value="#{retencionBean.proveedor}"
						completeMethod="#{retencionBean.obtenerProveedorPorBusqueda}"
						styleClass="DispBlock Wid90 autoCompletar">
						<p:ajax event="itemSelect" id="prueba"
							listener="#{retencionBean.cargarProveedor}"
							update="autoCompletarProveedor, :mensaje" />
					</p:autoComplete>

					<p:outputLabel value="Sustento" styleClass="DispBlock" />
					<p:selectOneMenu id="comboSustento"
						value="#{retencionBean.retencion.sustentoTributario}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja un Sustento" itemValue="" />
						<f:selectItems value="#{retencionBean.listaSustento}"
							var="sustento" itemValue="#{sustento}"
							itemLabel="#{sustento.id}-#{sustento.nombre}" />
						<p:ajax event="change" update="comboComprobante" />
					</p:selectOneMenu>

					<p:outputLabel value="Comprobante" styleClass="DispBlock" />
					<p:selectOneMenu id="comboComprobante"
						value="#{retencionBean.retencion.tipoCompraRetencion}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja un Comprobante" itemValue="" />
						<f:selectItems
							value="#{retencionBean.retencion.sustentoTributario.tipoComprobante}"
							var="comprobante" itemValue="#{comprobante}"
							itemLabel="#{comprobante.id}-#{comprobante.nombre}" />
					</p:selectOneMenu>

					<p:outputLabel value="Numero" styleClass="DispBlock" />
					<p:inputText id="txtNumeroCompra"
						placeholder="Insertar 15 Digitos (Ejemplo 001001000000001)"
						value="#{retencionBean.retencion.numeroCompra}"
						styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Autorización Compra" styleClass="DispBlock" />
					<p:inputText id="txtAutorizacionCompra"
						value="#{retencionBean.retencion.autorizacionCompra}"
						styleClass="DispBlock Wid90" />

					<p:outputLabel value="Fecha Compra" styleClass="DispBlock" />
					<p:calendar id="inline" navigator="true"
						value="#{retencionBean.retencion.fechaCompra}"
						styleClass="DispBlock Wid90 calendario">
						<p:ajax event="dateSelect"
							listener="#{retencionBean.calcularTotales}"
							update=":formInsertarComprobante, txtIva, txtTotal" />
					</p:calendar>

					<p:outputLabel value="Base 0%" styleClass="DispBlock" />
					<p:inputText id="txtBase0" value="#{retencionBean.retencion.base0}"
						styleClass="DispBlock Wid90">
						<p:ajax event="change" listener="#{retencionBean.calcularTotales}"
							update=":formInsertarComprobante, txtIva, txtTotal" />
					</p:inputText>

					<p:outputLabel value="Base 12% - 14%" styleClass="DispBlock" />
					<p:inputText id="txtBase12"
						value="#{retencionBean.retencion.base12}"
						styleClass="DispBlock Wid90">
						<p:ajax event="change" listener="#{retencionBean.calcularTotales}"
							update=":formInsertarComprobante, txtIva, txtTotal" />
					</p:inputText>

					<p:outputLabel value="Iva" styleClass="DispBlock" />
					<p:inputText id="txtIva" readonly="true"
						value="#{retencionBean.iva}" styleClass="DispBlock Wid90" />

					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText id="txtTotal" readonly="true"
						value="#{retencionBean.total}" styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton value="#{msg['btn.guardar']}"
					update=":formCabecera, :mensaje" id="btnGuardar"
					icon="#{msg['i.guardar']}"
					actionListener="#{retencionBean.insertar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.nuevo']}"
					update=":formCabecera,:formInsertarComprobante" id="btnlimpiar"
					icon="#{msg['i.nuevoDocumento']}"
					actionListener="#{retencionBean.limpiarRetencion}" process="@this"
					styleClass="OrangeButton" />
				<p:commandButton value="Importar Compra"
					actionListener="#{retencionBean.limpiarImportar}"
					oncomplete="mostarPanelImportar('')" update=":formImportarCompra"
					id="btnImportarCompra" icon="#{msg['i.importar']}" />
				<div class="EmptyBox10"></div>

				<p:dataTable id="tablaDetalleRetencion" var="detalleRetencion"
					value="#{retencionBean.retencion.detallesRetenciones}"
					reflow="true" paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo" value="Insertar Detalle"
							oncomplete="mostarPanelInsertar('')" icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="Impuesto">
						<p:outputLabel
							value="#{detalleRetencion.impuestoRetencion.nombre}" />
					</p:column>
					<p:column headerText="Tarifa">
						<p:outputLabel
							value="#{detalleRetencion.tarifa.id} - #{detalleRetencion.tarifa.nombre}" />
					</p:column>
					<p:column headerText="Porcentaje Retencion">
						<p:outputLabel value="#{detalleRetencion.porcentajeRetencion}" />
					</p:column>
					<p:column headerText="Base Imp. Retencion">
						<p:outputLabel value="#{detalleRetencion.baseImponible}" />
					</p:column>
					<p:column headerText="Valor Retenido">
						<p:outputLabel
							value="#{detalleRetencion.baseImponible*detalleRetencion.porcentajeRetencion/100}">
							<f:convertNumber type="number" groupingUsed="true"
								minFractionDigits="2" pattern="#0.00" />
						</p:outputLabel>
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="4" footerText="Total Retenido" />
							<p:column footerText="#{retencionBean.totalRetenido}" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="#{msg['lbl.insertar']}"
			styleClass="DispNone">
			<h:form id="formInsertarComprobante">
				<p:outputLabel value="Impuesto" styleClass="DispBlock" />
				<p:selectOneMenu id="comboImpuesto"
					value="#{retencionBean.detalleRetencion.impuestoRetencion}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Impuesto" itemValue="" />
					<f:selectItems value="#{retencionBean.listaImpuestos}"
						var="impuesto" itemValue="#{impuesto}"
						itemLabel="#{impuesto.nombre}">
					</f:selectItems>
					<p:ajax event="change"
						listener="#{retencionBean.obtenerListaTarifas}"
						update=":formInsertarComprobante:comboTarifa, txtBaseImponible" />
				</p:selectOneMenu>
				<p:outputLabel value="Tarifa" styleClass="DispBlock" />
				<p:selectOneMenu id="comboTarifa"
					value="#{retencionBean.detalleRetencion.tarifa}" filter="true"
					filterMatchMode="contains" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Tarifa" itemValue="" />
					<f:selectItems value="#{retencionBean.listaTarifas}" var="tarifa"
						itemValue="#{tarifa}" itemLabel="#{tarifa.id}-#{tarifa.nombre}" />
					<p:ajax event="change"
						listener="#{retencionBean.obtenerPorcentaje}"
						update="txtPorcentajeRetencion, txtValorRetenido" />
				</p:selectOneMenu>
				<p:outputLabel value="Porcentaje Retencion" styleClass="DispBlock" />
				<p:inputText id="txtPorcentajeRetencion"
					value="#{retencionBean.detalleRetencion.porcentajeRetencion}"
					styleClass="DispBlock Wid90">
					<p:ajax event="blur" listener="#{retencionBean.cambiarPorcentaje}"
						update="txtPorcentajeRetencion, txtValorRetenido" />
				</p:inputText>
				<p:outputLabel value="Base Imp. Retencion" styleClass="DispBlock" />
				<p:inputText id="txtBaseImponible"
					value="#{retencionBean.detalleRetencion.baseImponible}"
					styleClass="DispBlock Wid90">
					<p:ajax event="blur"
						listener="#{retencionBean.obtenerValorRetenido}"
						update="txtValorRetenido" />
				</p:inputText>
				<p:outputLabel value="Valor Retenido" styleClass="DispBlock" />
				<p:inputText id="txtValorRetenido"
					value="#{retencionBean.valorRetenido}" styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.insertar']}"
					update=":formInsertarComprobante,:formCabecera ,:mensaje"
					oncomplete="comprobarInsertar(xhr, status, args, '')"
					id="btnNuevoAceptar" icon="#{msg['i.nuevo']}"
					actionListener="#{retencionBean.insertarDetalle}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelInsertar('')" id="btnNuevolimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelImportar" header="#{msg['lbl.importar']}"
			styleClass="DispNone">
			<h:form id="formImportarCompra">
				<p:outputLabel value="Clave de Acceso" styleClass="DispBlock" />
				<p:inputText id="txtClaveAcceso"
					value="#{retencionBean.claveAcceso}" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton update="formImportarCompra, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{retencionBean.consultar}" />
				<p:separator />
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Tipo Comprobante" styleClass="DispBlock" />
					<p:inputText
						value="#{retencionBean.consultarXML.tipoComprobante.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Ambiente" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.ambiente}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Proveedor" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Ruc" styleClass="DispBlock" />
					<p:inputText
						value="#{retencionBean.consultarXML.proveedor.persona.cedula}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Estado" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.estado}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Numero Documento" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.numDocu}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Emisión" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.fechaEmi}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" styleClass="DispBlock" />
					</p:inputText>
					<p:outputLabel value="Número Autorización" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.numAut}"
						readonly="true" styleClass="DispBlock Wid90" />

					<p:outputLabel value="Fecha Autorización" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.fechaAut}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{retencionBean.consultarXML.total}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<p:separator />
				<p:commandButton value="#{msg['btn.aceptar']}"
					icon="#{msg['i.activar']}" update=":formCabecera ,:mensaje"
					oncomplete="mostarPanelImportar('')" id="btnImportarAceptar"
					actionListener="#{retencionBean.importar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelImportar('')"
					actionListener="#{retencionBean.limpiarImportar}"
					id="btnImportarlimpiar" icon="#{msg['i.cancelar']}" process="@this"
					styleClass="RedButton" />
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>