<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nueva Baja Inventario</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Nueva Baja Inventario">
			<h:form id="formDocumento">
				<div id="datosIngreso" class="divDatos">
					<p:outputLabel value="Local" for="comboLocal"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboLocal"
						value="#{bajaInventarioBean.local.id}"
						styleClass="DispBlock Wid90">
						<f:selectItems value="#{bajaInventarioBean.listaLocales}"
							var="local" itemValue="#{local.id}" itemLabel="#{local.nombre}" />
						<p:ajax update="tablaDetalleEgresos, :mensaje" event="change"
							listener="#{bajaInventarioBean.obtenerLocal}" />
					</p:selectOneMenu>
					<div class="EmptyBox10"></div>
					<p:commandButton value="#{msg['btn.guardar']}" update=":mensaje"
						id="btnGuardar" icon="#{msg['i.guardar']}"
						oncomplete="comprobarGuardar(xhr, status, args)"
						actionListener="#{bajaInventarioBean.comprobarTodo}"
						styleClass="GreenButton" />
					<p:commandButton value="#{msg['btn.nuevo']}" id="btnlimpiar"
						update="formDocumento" icon="#{msg['i.nuevoDocumento']}"
						actionListener="#{bajaInventarioBean.limpiarBajaInventario}"
						process="@this" styleClass="OrangeButton" />
					<div class="EmptyBox10"></div>
				</div>
				<div id="tablaIngreso" class="divTabla">
					<p:outputLabel value="Ean/Nombre" for="txtCriterioBusqueda"
						styleClass="DispBlock" />
					<p:inputText id="txtCriterioBusqueda"
						onkeypress="if (event.keyCode == 13) { document.getElementById('formDocumento:btnBusquedaRapida').click(); return false; }"
						value="#{bajaInventarioBean.criterioBusquedaRapida}"
						styleClass="DispBlock Wid90" />
					<div class="EmptyBox10"></div>
					<p:commandButton id="btnBusquedaRapida"
						update="tablaBusquedaProductos, :mensaje"
						icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
						actionListener="#{bajaInventarioBean.busquedaRapida}" />
					<div class="EmptyBox10"></div>
					<p:dataTable id="tablaBusquedaProductos" var="producto"
						paginator="true" rows="5" scrollable="true" reflow="true"
						value="#{bajaInventarioBean.listaBusquedaRapida}" editable="true"
						emptyMessage="#{msg['lbl.mensajeTabla']}"
						paginatorPosition="bottom" selectionMode="single"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						selection="#{bajaInventarioBean.producto}" rowKey="#{producto.id}">
						<p:ajax event="rowSelect"
							listener="#{bajaInventarioBean.insertarProductoRapido}"
							update=":formDocumento:tablaDetalleEgresos, :mensaje" />
						<p:column headerText="Ean">
						#{producto.ean}
					</p:column>
						<p:column headerText="Nombre">
						#{producto.nombre}
					</p:column>
					</p:dataTable>
				</div>
				<div class="EmptyBox20"></div>
				<p:dataTable id="tablaDetalleEgresos" var="facturaReporte"
					reflow="true"
					value="#{bajaInventarioBean.listaBajaInventarioReporte}"
					paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom">
					<p:column headerText="Cod - Ean">
						<p:inputText
							value="#{facturaReporte.producto.id} - #{facturaReporte.codigo}"
							readonly="true" id="txtCodigo" />
					</p:column>
					<p:column headerText="Descripcion">
						<p:inputText id="descripcion" readonly="true"
							value="#{facturaReporte.descripcion}" />
						<p:tooltip for="descripcion" value="#{facturaReporte.descripcion}" />
					</p:column>
					<p:column headerText="Cantidad">
						<p:inputText value="#{facturaReporte.cantidad}"
							onkeypress="teclaAbajoArriba(event.keyCode, this.id,'formDataTable:tablaDetalleEgresos_data');">
							<p:ajax event="change"
								listener="#{bajaInventarioBean.cambiarCantidad(facturaReporte)}"
								update="tablaDetalleEgresos, unidades, :mensaje" />
						</p:inputText>
					</p:column>
					<p:column headerText="Unidades">
						<p:outputLabel id="unidades"
							value="#{facturaReporte.nombreCantidad}" />
					</p:column>
					<p:column headerText="Motivo de Baja">
						<p:selectOneMenu id="motivoBaja"
							value="#{facturaReporte.motivoBaja}">
							<f:selectItems value="#{bajaInventarioBean.listaMotivoBajas}"
								var="motivoBaja" itemValue="#{motivoBaja}"
								itemLabel="#{motivoBaja.nombre}" />
							<p:ajax event="change"
								listener="#{bajaInventarioBean.cambiarMotivoBaja(facturaReporte)}"
								update="motivoBaja, :mensaje" />
						</p:selectOneMenu>
					</p:column>
					<p:column headerText="P. Costo">
						<p:outputLabel value="#{facturaReporte.precioCosto}" />
					</p:column>
					<p:column headerText="Importe">
						<p:outputLabel value="#{facturaReporte.importe}" />
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="6" footerText="TOTAL:" />
							<p:column footerText="#{bajaInventarioBean.total}" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
			<p:dialog header="Guardar" widgetVar="bajaInventario"
				resizable="false" modal="false" showEffect="clip" hideEffect="fold"
				id="dialogoBajaInventario">
				<h:form id="fromAnular">
					<h:panelGrid columns="2" cellpadding="1">
						<h:outputLabel value="Usuario" />
						<p:inputText value="#{bajaInventarioBean.login}" required="true"
							requiredMessage="Ingrese el Usuario" />
						<h:outputLabel value="Clave" />
						<p:password value="#{bajaInventarioBean.pass}" required="true"
							requiredMessage="Ingrese la Clave" />
					</h:panelGrid>
					<p:separator />
					<p:commandButton value="SI"
						actionListener="#{bajaInventarioBean.insertar}"
						update=":formDocumento, :mensaje"
						oncomplete="PF('bajaInventario').hide()"
						icon="#{msg['i.activar']}" />
					<p:commandButton value="NO"
						oncomplete="PF('bajaInventario').hide()"
						icon="#{msg['i.cancelar']}" />
				</h:form>
			</p:dialog>

		</p:panel>
		<script type="text/javascript">
			//<![CDATA[
			function comprobarGuardar(xhr, status, args) {
				if (args.error) {
					PF('bajaInventario').show()
				}
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>