<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Kardex</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Kardex por Producto">
			<h:form id="formDatos">
				<div id="tablaIngreso" class="divTabla">
					<p:outputLabel value="Ean/Códigos/Nombre" for="prod"
						styleClass="DispBlock" />
					<p:inputText id="prod" value="#{kardexBean.criterioBusqueda}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />

					<p:outputLabel value="Grupo" for="comboGrupo"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboGrupo" filter="true"
						filterMatchMode="contains" value="#{kardexBean.grupo.id}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja un Grupo" />
						<f:selectItems value="#{kardexBean.listaGrupos}" var="grupo"
							itemValue="#{grupo.id}" itemLabel="#{grupo.nombre}" />
					</p:selectOneMenu>

					<div class="EmptyBox10"></div>
					<p:commandButton update="formDatos, :mensaje"
						icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
						actionListener="#{kardexBean.obtenerProductos}" />
					<div class="EmptyBox10"></div>

					<p:dataTable id="tablaProductos" var="producto"
						value="#{kardexBean.listaProductos}" paginator="true" rows="5"
						reflow="true" emptyMessage="#{msg['lbl.mensajeTabla']}"
						paginatorPosition="bottom" rowKey="#{producto.id}"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						selection="#{kardexBean.producto}" selectionMode="single">
						<p:ajax event="rowSelect"
							update=":formDatos, :formDataTable , :mensaje"
							listener="#{kardexBean.obtenerProducto}" />
						<p:column headerText="Ean">
						#{producto.ean}
					</p:column>
						<p:column headerText="Nombre">
						#{producto.nombre}
					</p:column>
					</p:dataTable>
				</div>

				<div id="datosIngreso" class="divDatos">
					<p:outputLabel value="Local" for="comboLocal"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboLocal" value="#{kardexBean.local.id}"
						styleClass="DispBlock Wid90">
						<f:selectItems value="#{kardexBean.listaLocales}" var="local"
							itemValue="#{local.id}" itemLabel="#{local.nombre}" />
					</p:selectOneMenu>

					<p:outputLabel value="Fecha de Inicio" for="fechInicio"
						styleClass="DispBlock" />
					<p:calendar id="fechInicio" value="#{kardexBean.fechaInicio}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
					<p:outputLabel value="Fecha de Fin" for="fechFin"
						styleClass="DispBlock" />
					<p:calendar id="fechFin" value="#{kardexBean.fechaFinal}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />

					<div class="EmptyBox10"></div>
					<p:commandButton value="#{msg['btn.generarXML']}"
						update=":formDataTable , formDatos, :mensaje" id="btnNuevoAceptar"
						icon="#{msg['i.generar']}"
						actionListener="#{kardexBean.cargarKardex}" />
					<p:commandButton value="#{msg['btn.imprimir']}"
						icon="#{msg['i.imprimir']}" ajax="false"
						actionListener="#{kardexBean.imprimirKardex}" />
				</div>
				<div class="EmptyBox10"></div>
			</h:form>

			<h:form id="formDataTable">
				<div class="kardexSaldo">
					<p:outputLabel value="Existencia" styleClass="DispBlock" />
					<p:inputText value="#{kardexBean.kardexSaldo.cantidadSaldo}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Cost. unit" styleClass="DispBlock" />
					<p:inputText value="#{kardexBean.kardexSaldo.precioSaldo}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{kardexBean.kardexSaldo.totalSaldo}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>

				<div class="EmptyBox10"></div>

				<p:dataTable id="tablaMarcas" var="kardexReporte" reflow="true"
					value="#{kardexBean.listaKardexReporte}" paginator="true" rows="20"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom">
					<p:columnGroup type="header">
						<p:row>
							<p:column rowspan="2" width="10%" headerText="Fecha" />
							<p:column rowspan="2" width="10%" headerText="Detalle" />
							<p:column rowspan="2" width="10%" headerText="Bodega" />
							<p:column colspan="3" headerText="Entradas" />
							<p:column colspan="3" headerText="Salidas" />
							<p:column colspan="3" headerText="Saldos" />
						</p:row>
						<p:row>
							<p:column headerText="Cantidad" />
							<p:column headerText="Cost. Unit" />
							<p:column headerText="Total" />
							<p:column headerText="Cantidad" />
							<p:column headerText="Cost. Unit" />
							<p:column headerText="Total" />
							<p:column headerText="Cantidad" />
							<p:column headerText="Cost. Unit" />
							<p:column headerText="Total" />
						</p:row>
					</p:columnGroup>
					<p:column>
						<h:outputText value="#{kardexReporte.fecha}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
								timeZone="America/Guayaquil" />
						</h:outputText>
					</p:column>
					<p:column>
						<h:outputText value="#{kardexReporte.detalle}" />
					</p:column>
					<p:column>
						<h:outputText value="#{kardexReporte.nombreBodega}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.cantidadEntrada}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.precioEntrada}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.totalEntrada}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.cantidadSalida}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.precioSalida}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.totalSalida}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.cantidadSaldo}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.precioSaldo}" />
					</p:column>
					<p:column styleClass="TexAlRight">
						<h:outputText value="#{kardexReporte.totalSaldo}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>