<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Baja de Inventario</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Baja de Inventario">
			<h:form id="busquedaTabla">
				<p:outputLabel value="# Baja Inventario" for="critBusqNum"
					styleClass="DispBlock" />
				<p:inputText id="critBusqNum"
					value="#{listadoBajaInventarioBean.criterioBusquedaNumeroBaja}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha Ingreso" for="fechaIngreso"
					styleClass="DispBlock" />
				<p:calendar id="fechaIngreso"
					value="#{listadoBajaInventarioBean.criterioBusquedaFechaDocumento}"
					navigator="true" styleClass="DispBlock Wid90 calendario" />
				<div class="EmptyBox10"></div>
				<p:commandButton update=":formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoBajaInventarioBean.obtenerBajaInvetario}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaListadobajaInventarios" var="bajaInventario"
					reflow="true" paginator="true" rows="10"
					value="#{listadoBajaInventarioBean.listaBajaInventarios}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							action="#{listadoBajaInventarioBean.redirecionarBajaInventario}"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:commandButton id="btnMostrar" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.mostrar']}"
							action="#{listadoBajaInventarioBean.generarListaDetalle}">
							<f:setPropertyActionListener value="#{bajaInventario}"
								target="#{listadoBajaInventarioBean.bajaInventario}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# Baja Inventario">
						<p:outputLabel
							value="#{bajaInventario.establecimiento}-#{bajaInventario.puntoEmision}-#{bajaInventario.secuencia}" />
					</p:column>
					<p:column headerText="Fecha">
						<p:outputLabel value="#{bajaInventario.fecha}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Bodeguero">
						<p:outputLabel
							value="#{bajaInventario.bodeguero.empleado.persona.apellido} #{bajaInventario.bodeguero.empleado.persona.nombre}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="# Baja Inventario" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoBajaInventarioBean.bajaInventario.establecimiento}-#{listadoBajaInventarioBean.bajaInventario.puntoEmision}-#{listadoBajaInventarioBean.bajaInventario.secuencia}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoBajaInventarioBean.bajaInventario.fecha}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Bodeguero" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoBajaInventarioBean.bajaInventario.bodeguero.empleado.persona.apellido} #{listadoBajaInventarioBean.bajaInventario.bodeguero.empleado.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{listadoBajaInventarioBean.total}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaDetallebajaInventarios"
					var="detallebajaInventario"
					value="#{listadoBajaInventarioBean.listaBajaInventariosDetalle}"
					paginator="true" reflow="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="Cod.">
						<p:outputLabel value="#{detallebajaInventario.codigo}" />
					</p:column>
					<p:column headerText="Descripcion">
						<p:outputLabel value="#{detallebajaInventario.descripcion}" />
					</p:column>
					<p:column headerText="Motivo de Baja">
						<p:outputLabel value="#{detallebajaInventario.motivoBaja.nombre}" />
					</p:column>
					<p:column headerText="Cantidad" styleClass="TexAlRight">
						<p:outputLabel value="#{detallebajaInventario.cantidad}" />
					</p:column>
					<p:column headerText="P. Costo" styleClass="TexAlRight">
						<p:outputLabel value="#{detallebajaInventario.precioCosto}" />
					</p:column>
					<p:column headerText="Importe" styleClass="TexAlRight">
						<p:outputLabel value="#{detallebajaInventario.importe}" />
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>