<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Ingreso</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Ingreso">
			<h:form id="busquedaTabla">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Proveedor" for="critBusqProv"
						styleClass="DispBlock" />
					<p:inputText id="critBusqProv"
						value="#{listadoIngresoBean.criterioBusquedaProveedor}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="# Factura" for="critBusqNum"
						styleClass="DispBlock" />
					<p:inputText id="critBusqNum"
						value="#{listadoIngresoBean.criterioBusquedaNumeroFactura}"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Fecha Factura" for="fechaFactura"
						styleClass="DispBlock" />
					<p:calendar id="fechaFactura"
						value="#{listadoIngresoBean.criterioBusquedaFechaFactura}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
					<p:outputLabel value="Fecha Ingreso" for="fechaIngreso"
						styleClass="DispBlock" />
					<p:calendar id="fechaIngreso"
						value="#{listadoIngresoBean.criterioBusquedaFechaIngreso}"
						navigator="true" styleClass="DispBlock Wid90 calendario" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{listadoIngresoBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaListadoEntradas" var="ingreso"
					value="#{listadoIngresoBean.listaIngresos}" paginator="true"
					scrollable="true" reflow="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							action="#{listadoIngresoBean.redirecionar}"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:commandButton id="btnMostrar" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.mostrar']}">
							<f:setPropertyActionListener value="#{ingreso}"
								target="#{listadoIngresoBean.ingreso}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# Factura">
						<p:outputLabel value="#{ingreso.codigoDocumento}" />
					</p:column>
					<p:column headerText="Proveedor">
						<p:outputLabel
							value="#{ingreso.proveedor.persona.apellido} #{ingreso.proveedor.persona.nombre}" />
					</p:column>
					<p:column headerText="Fecha Factura">
						<p:outputLabel value="#{ingreso.fechaFactura}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fecha Ingreso">
						<p:outputLabel value="#{ingreso.fechaIngreso}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Bodeguero">
						<p:outputLabel
							value="#{ingreso.bodeguero.empleado.persona.apellido} #{ingreso.bodeguero.empleado.persona.nombre}" />
					</p:column>
					<p:column headerText="Pagado">
						<p:selectBooleanCheckbox disabled="true" value="#{ingreso.pagado}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Proveedor" styleClass="DispBlock" />
					<p:inputText
						value="#{listadoIngresoBean.ingreso.proveedor.persona.cedula} - #{listadoIngresoBean.ingreso.proveedor.persona.apellido} #{listadoIngresoBean.ingreso.proveedor.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="# Factura" styleClass="DispBlock" />
					<p:inputText value="#{listadoIngresoBean.ingreso.codigoDocumento}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Fecha Factura" styleClass="DispBlock" />
					<p:inputText value="#{listadoIngresoBean.ingreso.fechaFactura}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Fecha Ingreso" styleClass="DispBlock" />
					<p:inputText value="#{listadoIngresoBean.ingreso.fechaIngreso}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Pagado" styleClass="DispBlock" />
					<p:selectBooleanButton id="value1"
						value="#{listadoIngresoBean.ingreso.pagado}" onLabel="Sí"
						offLabel="No" disabled="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{listadoIngresoBean.ingreso.total}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaDetalle" var="detalleIngreso" reflow="true"
					rows="10" paginator="true"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					value="#{listadoIngresoBean.ingreso.detalleIngresos}">
					<p:column headerText="Cod.">
						<p:outputLabel value="#{detalleIngreso.producto.id}" />
					</p:column>
					<p:column headerText="Producto">
						<p:outputLabel value="#{detalleIngreso.producto.nombre}" />
					</p:column>
					<p:column headerText="Cantidad">
						<p:outputLabel value="#{detalleIngreso.cantidad}" />
					</p:column>
					<p:column headerText="Bodega">
						<p:outputLabel value="#{detalleIngreso.local.nombre}" />
					</p:column>
					<p:column headerText="Precio" styleClass="TexAlRight">
						<p:outputLabel value="#{detalleIngreso.precio}" />
					</p:column>
				</p:dataTable>
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>