<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Producto</ui:define>

	<ui:define name="content">
		<p:tabView id="tabViewProducto" dynamic="true" cache="true">
			<p:tab id="tabProducto" title="Producto">
				<p:panel id="panelPrincipal" header="Producto">
					<h:form id="busquedaTabla">
						<p:outputLabel value="Grupo" for="comboGrupo"
							styleClass="DispBlock" />
						<p:selectOneMenu id="comboGrupo" filter="true"
							filterMatchMode="contains"
							value="#{productoBean.criterioBusquedaGrupo.id}"
							styleClass="DispBlock Wid90">
							<f:selectItem itemLabel="ESCOJA UN GRUPO" />
							<f:selectItems value="#{grupoBean.listaGrupos}" var="grupo"
								itemValue="#{grupo.id}" itemLabel="#{grupo.nombre}" />
						</p:selectOneMenu>

						<p:outputLabel value="Cod/Código Principal/Código Auxiliar/Nombre"
							for="busquedaProducto" styleClass="DispBlock" />
						<p:inputText id="busquedaProducto"
							placeholder="Para Buscar Por Codigo Ingrese cxxx ejm(c100)"
							value="#{productoBean.criterioBusqueda}"
							onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90" />
						<div class="EmptyBox10"></div>
						<p:commandButton
							update="busquedaTabla,:tabViewProducto:formDataTable, :mensaje"
							icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
							actionListener="#{productoBean.obtenerProductos}" />
						<p:commandButton id="btnImportar" value="#{msg['btn.importar']}"
							oncomplete="PF('productoDialogoImportar').show()"
							icon="#{msg['i.importar']}" />
						<div class="EmptyBox10"></div>
					</h:form>
					<h:form id="formDataTable">
						<p:dataTable id="tablaProductos" var="producto" scrollable="true"
							reflow="true" value="#{productoBean.listaProductos}"
							paginatorPosition="bottom" paginator="true" rows="10"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							emptyMessage="#{msg['lbl.mensajeTabla']}">
							<f:facet name="header">
								<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
								<p:commandButton update=":tabViewProducto:formNuevo"
									oncomplete="mostarPanelInsertar('tabViewProducto\\:')"
									id="btnNuevo" icon="#{msg['i.nuevo']}"
									actionListener="#{productoBean.cargarInsertar}" />
							</f:facet>
							<p:column headerText="#{msg['lbl.gestionar']}"
								styleClass="centrar">
								<p:tooltip for="btnEditar" value="#{msg['lbl.editar']}" />
								<p:tooltip for="btnEliminar"
									value="#{producto.activo eq true ? msg['lbl.desactivar']:msg['lbl.activar']}" />
								<p:commandButton id="btnEditar"
									update=":tabViewProducto:formEditar"
									oncomplete="mostarPanelEditar('tabViewProducto\\:')"
									icon="#{msg['i.editar']}" action="#{productoBean.cargaEditar}">
									<f:setPropertyActionListener value="#{producto}"
										target="#{productoBean.producto}" />
								</p:commandButton>
								<p:commandButton id="btnImagen"
									update=":tabViewProducto:formImagen"
									oncomplete="PF('productoDialogoImagen').show()"
									icon="#{msg['i.imagen']}">
									<f:setPropertyActionListener value="#{producto}"
										target="#{productoBean.producto}" />
								</p:commandButton>
								<p:commandButton update=":tabViewProducto:formCodigoBarra"
									oncomplete="PF('productoDialogoCodigoBarra').show()"
									actionListener="#{productoBean.obtenerProducto(producto)}"
									icon="#{msg['i.codigoBarra']}">
								</p:commandButton>
								<p:commandButton id="btnEliminar"
									update=":tabViewProducto:formEliminar"
									oncomplete="mostarPanelEliminar('tabViewProducto\\:')"
									icon="#{producto.activo eq true ? msg['i.eliminar']: msg['i.activar']}">
									<f:setPropertyActionListener value="#{producto}"
										target="#{productoBean.producto}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Cod." styleClass="Wid5">
								<p:outputLabel value="#{producto.id}" />
							</p:column>
							<p:column headerText="Codigo Principal" styleClass="Wid10">
								<p:outputLabel value="#{producto.ean}" />
							</p:column>
							<p:column headerText="Nombre" styleClass="Wid30">
								<p:outputLabel value="#{producto.nombre}" />
							</p:column>
							<p:column headerText="Grupo" styleClass="Wid10">
								<p:outputLabel value="#{producto.grupo.nombre}" />
							</p:column>
							<p:column headerText="Precio Costo" styleClass="Wid10">
								<p:outputLabel value="#{producto.precio}" />
							</p:column>
							<p:column headerText="Tipo Prod." styleClass="Wid5">
								<p:outputLabel value="#{producto.tipoProducto.nombre}" />
							</p:column>
							<p:column headerText="Ins. Factura" styleClass="Wid5">
								<p:selectBooleanCheckbox value="#{producto.facturacion}"
									disabled="true" />
							</p:column>
							<p:column headerText="Kardex" styleClass="Wid5">
								<p:selectBooleanCheckbox value="#{producto.kardex}"
									disabled="true" />
							</p:column>
							<p:column headerText="Activo" styleClass="Wid5">
								<p:selectBooleanCheckbox value="#{producto.activo}"
									disabled="true" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<p:panel id="panelInsertar" header="#{msg['lbl.insertar']}"
					styleClass="DispNone">
					<h:form id="formNuevo">
						<p:outputLabel value="Los campos marcados con * son Obligatorios"
							styleClass="DispBlock" />
						<div id="datosIngreso" class="divDatosIzq50">
							<p:outputLabel value="* Nombre" for="txtNombre"
								styleClass="DispBlock" />
							<p:inputText id="txtNombre"
								onblur="this.value = this.value.toUpperCase();"
								value="#{productoBean.producto.nombre}"
								styleClass="DispBlock Wid90" />

							<p:outputLabel value="* Grupo" for="comboGrupo"
								styleClass="DispBlock" />
							<p:selectOneMenu id="comboGrupo" filter="true"
								filterMatchMode="contains"
								value="#{productoBean.producto.grupo.id}"
								styleClass="DispBlock Wid90">
								<f:selectItem itemLabel="ESCOJA UN GRUPO" />
								<f:selectItems value="#{productoBean.listaGrupos}" var="grupo"
									itemValue="#{grupo.id}" itemLabel="#{grupo.nombre}" />
								<p:ajax listener="#{productoBean.cargarGrupoProducto}"
									event="change" />
							</p:selectOneMenu>

							<p:outputLabel value="Codigo Principal" for="txtEan"
								styleClass="DispBlock" />
							<p:inputText id="txtEan" value="#{productoBean.producto.ean}"
								styleClass="DispBlock Wid90">
								<p:ajax event="blur" listener="#{productoBean.copiar_Codigo1}"
									update="txtEan, codigo1, :mensaje" />
							</p:inputText>

							<p:outputLabel value="Codigo Auxiliar" for="codigo1"
								styleClass="DispBlock" />
							<p:inputText id="codigo1"
								value="#{productoBean.producto.codigo1}"
								styleClass="DispBlock Wid90" />

							<p:outputLabel value="Tipo" for="comboTipo"
								styleClass="DispBlock" />
							<p:selectOneMenu id="comboTipo"
								value="#{productoBean.producto.tipoProducto}"
								styleClass="DispBlock Wid90">
								<f:selectItems value="#{productoBean.listaTipoProducto}"
									var="tipoProducto" itemValue="#{tipoProducto}"
									itemLabel="#{tipoProducto.nombre}" />
								<p:ajax event="change" listener="#{productoBean.adk}"
									update="btnKardex,:mensaje" />
							</p:selectOneMenu>

							<p:outputLabel value="* Precio Costo" for="precio"
								styleClass="DispBlock" />
							<p:inputText id="precio" value="#{productoBean.producto.precio}"
								styleClass="DispBlock Wid90">
								<p:ajax event="blur" process="precio, @this"
									listener="#{productoBean.calcularTablaPrecios}"
									update="tablaTipoPreciosInsertar" />
							</p:inputText>

							<p:outputLabel value="* Cantidad Minima" for="canMinima"
								styleClass="DispBlock" />
							<p:inputText id="canMinima"
								value="#{productoBean.producto.cantidadMinima}"
								styleClass="DispBlock Wid90" />

							<p:outputLabel value="Kardex" style="margin-right: 2.5em;" />
							<p:outputLabel value="Importado" style="margin-right: 0.8em;" />
							<p:outputLabel value="Insertar a Factura" />
							<div class="EmptyBox5"></div>
							<p:selectBooleanButton id="btnKardex"
								disabled="#{productoBean.k}"
								value="#{productoBean.producto.kardex}" onLabel="Sí"
								offLabel="No" onIcon="#{msg['i.activar']}"
								offIcon="#{msg['i.cancelar']}" styleClass="Wid6em">
							</p:selectBooleanButton>

							<p:selectBooleanButton value="#{productoBean.producto.importado}"
								onLabel="SI" offLabel="NO" onIcon="#{msg['i.activar']}"
								offIcon="#{msg['i.cancelar']}" styleClass="Wid6em" />

							<p:selectBooleanButton
								value="#{productoBean.producto.facturacion}" onLabel="SI"
								offLabel="NO" onIcon="#{msg['i.activar']}"
								offIcon="#{msg['i.cancelar']}" styleClass="Wid6em" />

							<div class="EmptyBox10"></div>
							<p:outputLabel value="Inventario Inicial" styleClass="DispBlock" />
							<p:dataTable id="tablaInventario" var="inventario" reflow="true"
								value="#{productoBean.listaBodegaProductos}" editable="true"
								editMode="cell" emptyMessage="#{msg['lbl.mensajeTabla']}">
								<p:column headerText="Local">
									<p:outputLabel value="#{inventario.local.nombre}" />
								</p:column>
								<p:column headerText="Cantidad">
									<p:inputText value="#{inventario.cantidad}"
										onblur="this.value = this.value.toUpperCase();"
										styleClass="Wid90" />
								</p:column>
							</p:dataTable>
						</div>
						<div id="tablaIngreso" class="divDatosDer50">
							<div class="EmptyBox10"></div>
							<p:commandLink value="Impuestos"
								update="tablaImpuestosInsertar,:tabViewProducto:formNuevo:tablaTipoPreciosInsertar,:mensaje"
								actionListener="#{productoBean.insertarFilaImpuestoTarifa}" />
							<p:dataTable id="tablaImpuestosInsertar" var="impuesto"
								value="#{productoBean.producto.productosTarifas}" reflow="true"
								emptyMessage="#{msg['lbl.mensajeTabla']}">
								<p:column headerText="#{msg['lbl.gestionar']}"
									styleClass="Wid10">
									<p:commandButton id="btnEliminarImpuesto"
										update="tablaImpuestosInsertar,:tabViewProducto:formNuevo:tablaTipoPreciosInsertar, :mensaje"
										action="#{productoBean.eliminarImpuesto(impuesto)}"
										icon="#{msg['i.eliminar']}" process="@this" />
								</p:column>
								<p:column headerText="Nombre" styleClass="Wid10">
									<p:outputLabel value="#{impuesto.tarifa.impuesto.nombre}" />
								</p:column>
								<p:column headerText="Tipo/Impuesto">
									<p:selectOneMenu id="comboImpuesto" filter="true"
										filterMatchMode="contains" value="#{impuesto.tarifa.id}"
										styleClass="Wid90">
										<f:selectItems value="#{productoBean.listaTarifas}"
											var="tarifa" itemValue="#{tarifa.id}"
											itemLabel="#{tarifa.impuesto.nombre}-#{tarifa.nombre}" />
										<p:ajax event="change"
											listener="#{productoBean.obtenerImpuestoTarifa(impuesto)}"
											update="tablaImpuestosInsertar,:tabViewProducto:formNuevo:tablaTipoPreciosInsertar,:mensaje" />
									</p:selectOneMenu>
								</p:column>
								<p:column headerText="Tarifa %" styleClass="Wid10">
									<p:outputLabel value="#{impuesto.tarifa.porcentaje}" />
								</p:column>
							</p:dataTable>
							<div class="EmptyBox10"></div>
							<p:commandLink value="Precios"
								update="tablaTipoPreciosInsertar,:mensaje"
								actionListener="#{productoBean.insertarFilaTipoPrecio}" />
							<p:dataTable id="tablaTipoPreciosInsertar" var="tipoPrecio"
								value="#{productoBean.listaTpp}" reflow="true"
								emptyMessage="#{msg['lbl.mensajeTabla']}"
								rowStyleClass="#{tipoPrecio.tipoPrecioProducto.pvp eq true ? 'activo' : null}">
								<p:column headerText="#{msg['lbl.gestionar']}">
									<p:commandButton id="btnEliminar" icon="#{msg['i.eliminar']}"
										update="tablaTipoPreciosInsertar, :mensaje"
										action="#{productoBean.eliminarTipoPrecioProducto(tipoPrecio)}"
										process="@this" />
								</p:column>
								<p:column headerText="Nombre">
									<p:inputText value="#{tipoPrecio.tipoPrecioProducto.nombre}"
										label="NOMBRE" styleClass="Wid90">
									</p:inputText>
								</p:column>
								<p:column headerText="% Gan">
									<p:inputText value="#{tipoPrecio.porcentaje}"
										label="PORCENTAJE" styleClass="Wid90">
										<p:ajax
											listener="#{productoBean.calcularPrecioPorPorcentaje(tipoPrecio)}"
											event="change" update="tablaTipoPreciosInsertar, :mensaje" />
									</p:inputText>
								</p:column>
								<p:column headerText="Sin Imp">
									<p:inputText value="#{tipoPrecio.precio}" label="PRECIO"
										styleClass="Wid90">
										<p:ajax
											listener="#{productoBean.calcularPrecioPorGanancia(tipoPrecio)}"
											event="change" update="tablaTipoPreciosInsertar, :mensaje" />
									</p:inputText>
								</p:column>
								<p:column headerText="Con Imp">
									<p:inputText value="#{tipoPrecio.precioIva}" label="PRECIO+IVA"
										styleClass="Wid90">
										<p:ajax
											listener="#{productoBean.calcularPrecioPorIva(tipoPrecio)}"
											event="change" update="tablaTipoPreciosInsertar, :mensaje" />
									</p:inputText>
								</p:column>
								<p:column headerText="%F-$F">
									<p:selectBooleanButton
										value="#{tipoPrecio.tipoPrecioProducto.porcentajePrecioFijo}"
										onLabel="%F" offLabel="$F">
										<p:ajax listener="#{productoBean.muestra}" />
									</p:selectBooleanButton>
								</p:column>
								<p:column headerText="Pvp">
									<p:commandButton id="btn1" update="tablaTipoPreciosInsertar"
										action="#{productoBean.pvp}" process="btn1"
										icon="#{tipoPrecio.tipoPrecioProducto.pvp ? msg['i.activar'] : msg['i.cancelar']}">
										<f:setPropertyActionListener
											target="#{productoBean.tablaPrecios}" value="#{tipoPrecio}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
							<div class="EmptyBox10"></div>
							<p:commandLink value="Unidades" update="tablaUnidades, :mensaje"
								actionListener="#{productoBean.insertarFilaUnidad}" />
							<p:dataTable id="tablaUnidades" var="tablaProductoUnidad"
								reflow="true" value="#{productoBean.producto.productoUnidads}"
								emptyMessage="#{msg['lbl.mensajeTabla']}">
								<p:column headerText="#{msg['lbl.gestionar']}">
									<p:commandButton id="btnEliminar"
										update=":mensaje,tablaUnidades"
										action="#{productoBean.eliminarUnidad(tablaProductoUnidad)}"
										icon="#{msg['i.eliminar']}" process="@this" />
								</p:column>
								<p:column headerText="Unidad">
									<p:selectOneMenu id="comboUnidad" filter="true"
										filterMatchMode="contains"
										value="#{tablaProductoUnidad.unidad.id}" styleClass="Wid90">
										<f:selectItem itemLabel="Escoja una Unidad" />
										<f:selectItems value="#{unidadBean.listaUnidades}"
											var="unidad" itemValue="#{unidad.id}"
											itemLabel="#{unidad.nombre}" />
										<p:ajax event="change"
											listener="#{productoBean.insertarUnidad(tablaProductoUnidad)}"
											update="tablaUnidades, comboUnidad, :mensaje" />
									</p:selectOneMenu>
								</p:column>
								<p:column headerText="Cantidad">
									<p:inputText value="#{tablaProductoUnidad.cantidad}"
										styleClass="Wid90">
									</p:inputText>
								</p:column>
							</p:dataTable>
						</div>
						<div class="EmptyBox10"></div>
						<p:separator />
						<p:commandButton value="#{msg['btn.guardar']}"
							update=":tabViewProducto:formDataTable ,:mensaje, :tabViewProducto:formNuevo"
							oncomplete="comprobarInsertar(xhr, status, args, 'tabViewProducto\\:')"
							id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
							actionListener="#{productoBean.insertar}"
							styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							oncomplete="mostarPanelInsertar('tabViewProducto\\:')"
							id="btnNuevolimpiar" icon="#{msg['i.cancelar']}" process="@this"
							styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:panel id="panelEditar" header="#{msg['lbl.editar']}"
					styleClass="DispNone">
					<h:form id="formEditar">
						<p:outputLabel value="Los campos marcados con * son Obligatorios"
							styleClass="DispBlock" />
						<div id="datosIngreso" class="divDatosIzq50">
							<p:outputLabel value="* Nombre" for="txtNombre"
								styleClass="DispBlock" />
							<p:inputText id="txtNombre"
								onblur="this.value = this.value.toUpperCase();"
								value="#{productoBean.producto.nombre}"
								styleClass="DispBlock Wid90" />

							<p:outputLabel value="* Grupo" for="comboGrupo"
								styleClass="DispBlock" />
							<p:selectOneMenu id="comboGrupo" filter="true"
								filterMatchMode="contains"
								value="#{productoBean.producto.grupo.id}"
								styleClass="DispBlock Wid90">
								<f:selectItem itemLabel="ESCOJA UN GRUPO" />
								<f:selectItems value="#{productoBean.listaGrupos}" var="grupo"
									itemValue="#{grupo.id}" itemLabel="#{grupo.nombre}" />
								<p:ajax listener="#{productoBean.cargarGrupoProducto}"
									event="change" />
							</p:selectOneMenu>

							<p:outputLabel value="Codigo Principal" for="txtEan"
								styleClass="DispBlock" />
							<p:inputText id="txtEan" value="#{productoBean.producto.ean}"
								styleClass="DispBlock Wid90">
								<p:ajax event="blur" listener="#{productoBean.copiar_Codigo1}"
									update="txtEan, codigo1, :mensaje" />
							</p:inputText>

							<p:outputLabel value="Codigo Auxiliar" for="codigo1"
								styleClass="DispBlock" />
							<p:inputText id="codigo1"
								value="#{productoBean.producto.codigo1}"
								styleClass="DispBlock Wid90" />

							<p:outputLabel value="Tipo" for="comboTipo"
								styleClass="DispBlock" />
							<p:selectOneMenu id="comboTipo"
								value="#{productoBean.producto.tipoProducto}"
								styleClass="DispBlock Wid90">
								<f:selectItems value="#{productoBean.listaTipoProducto}"
									var="tipoProducto" itemValue="#{tipoProducto}"
									itemLabel="#{tipoProducto.nombre}" />
								<p:ajax event="change" listener="#{productoBean.adk}"
									update="btnKardex,:mensaje" />
							</p:selectOneMenu>

							<p:outputLabel value="* Precio Costo" for="precio"
								styleClass="DispBlock" />
							<p:inputText id="precio" value="#{productoBean.producto.precio}"
								readonly="#{productoBean.readOnlyPrecio}"
								styleClass="DispBlock Wid90">
								<p:ajax event="blur" process="precio, @this"
									listener="#{productoBean.calcularTablaPrecios}"
									update="tablaTipoPreciosInsertar" />
							</p:inputText>

							<p:outputLabel value="* Cantidad Minima" for="canMinima"
								styleClass="DispBlock" />
							<p:inputText id="canMinima"
								value="#{productoBean.producto.cantidadMinima}"
								styleClass="DispBlock Wid90" />

							<p:outputLabel value="Kardex" style="margin-right: 2.5em;" />
							<p:outputLabel value="Importado" style="margin-right: 0.8em;" />
							<p:outputLabel value="Insertar a Factura" />
							<div class="EmptyBox5"></div>
							<p:selectBooleanButton id="btnKardex"
								disabled="#{productoBean.k}"
								value="#{productoBean.producto.kardex}" onLabel="SI"
								offLabel="NO" onIcon="#{msg['i.activar']}"
								offIcon="#{msg['i.cancelar']}" styleClass="Wid6em">
							</p:selectBooleanButton>

							<p:selectBooleanButton value="#{productoBean.producto.importado}"
								onLabel="SI" offLabel="NO" onIcon="#{msg['i.activar']}"
								offIcon="#{msg['i.cancelar']}" styleClass="Wid6em" />

							<p:selectBooleanButton
								value="#{productoBean.producto.facturacion}" onLabel="SI"
								offLabel="NO" onIcon="#{msg['i.activar']}"
								offIcon="#{msg['i.cancelar']}" styleClass="Wid6em" />

							<div class="EmptyBox10"></div>
							<p:outputLabel value="Inventario Inicial" styleClass="DispBlock" />
							<p:dataTable id="tablaInventario" var="inventario" reflow="true"
								value="#{productoBean.listaBodegaProductos}" editable="true"
								editMode="cell" emptyMessage="#{msg['lbl.mensajeTabla']}">
								<p:column headerText="Local">
									<p:outputLabel value="#{inventario.local.nombre}" />
								</p:column>
								<p:column headerText="Cantidad">
									<p:inputText value="#{inventario.cantidad}"
										onblur="this.value = this.value.toUpperCase();"
										readonly="true" styleClass="Wid90" />
								</p:column>
							</p:dataTable>
						</div>
						<div id="tablaIngreso" class="divDatosDer50">
							<div class="EmptyBox10"></div>
							<p:commandLink value="Impuestos"
								update="tablaImpuestosInsertar,:tabViewProducto:formNuevo:tablaTipoPreciosInsertar,:mensaje"
								actionListener="#{productoBean.insertarFilaImpuestoTarifa}" />
							<p:dataTable id="tablaImpuestosInsertar" var="impuesto"
								value="#{productoBean.producto.productosTarifas}" reflow="true"
								emptyMessage="#{msg['lbl.mensajeTabla']}">
								<p:column headerText="#{msg['lbl.gestionar']}"
									styleClass="Wid10">
									<p:commandButton id="btnEliminarImpuesto"
										update="tablaImpuestosInsertar,:tabViewProducto:formNuevo:tablaTipoPreciosInsertar, :mensaje"
										action="#{productoBean.eliminarImpuesto(impuesto)}"
										icon="#{msg['i.eliminar']}" process="@this" />
								</p:column>
								<p:column headerText="Nombre" styleClass="Wid10">
									<p:outputLabel value="#{impuesto.tarifa.impuesto.nombre}" />
								</p:column>
								<p:column headerText="Tipo/Impuesto">
									<p:selectOneMenu id="comboImpuesto" filter="true"
										filterMatchMode="contains" value="#{impuesto.tarifa.id}"
										styleClass="Wid90">
										<f:selectItems value="#{productoBean.listaTarifas}"
											var="tarifa" itemValue="#{tarifa.id}"
											itemLabel="#{tarifa.impuesto.nombre}-#{tarifa.nombre}" />
										<p:ajax event="change"
											listener="#{productoBean.obtenerImpuestoTarifa(impuesto)}"
											update="tablaImpuestosInsertar,:tabViewProducto:formNuevo:tablaTipoPreciosInsertar,:mensaje" />
									</p:selectOneMenu>
								</p:column>
								<p:column headerText="Tarifa %" styleClass="Wid10">
									<p:outputLabel value="#{impuesto.tarifa.porcentaje}" />
								</p:column>
							</p:dataTable>
							<div class="EmptyBox10"></div>
							<p:commandLink value="Precios"
								update="tablaTipoPreciosInsertar,:mensaje"
								actionListener="#{productoBean.insertarFilaTipoPrecio}" />
							<p:dataTable id="tablaTipoPreciosInsertar" var="tipoPrecio"
								value="#{productoBean.listaTpp}" reflow="true"
								emptyMessage="#{msg['lbl.mensajeTabla']}"
								rowStyleClass="#{tipoPrecio.tipoPrecioProducto.pvp eq true ? 'activo' : null}">
								<p:column headerText="#{msg['lbl.gestionar']}">
									<p:commandButton id="btnEliminar" icon="#{msg['i.eliminar']}"
										update="tablaTipoPreciosInsertar, :mensaje"
										action="#{productoBean.eliminarTipoPrecioProducto(tipoPrecio)}"
										process="@this" />
								</p:column>
								<p:column headerText="Nombre">
									<p:inputText value="#{tipoPrecio.tipoPrecioProducto.nombre}"
										label="NOMBRE" styleClass="Wid90">
									</p:inputText>
								</p:column>
								<p:column headerText="% Gan">
									<p:inputText value="#{tipoPrecio.porcentaje}"
										label="PORCENTAJE" styleClass="Wid90">
										<p:ajax
											listener="#{productoBean.calcularPrecioPorPorcentaje(tipoPrecio)}"
											event="change" update="tablaTipoPreciosInsertar, :mensaje" />
									</p:inputText>
								</p:column>
								<p:column headerText="Sin Imp">
									<p:inputText value="#{tipoPrecio.precio}" label="PRECIO"
										styleClass="Wid90">
										<p:ajax
											listener="#{productoBean.calcularPrecioPorGanancia(tipoPrecio)}"
											event="change" update="tablaTipoPreciosInsertar, :mensaje" />
									</p:inputText>
								</p:column>
								<p:column headerText="Con Imp">
									<p:inputText value="#{tipoPrecio.precioIva}" label="PRECIO+IVA"
										styleClass="Wid90">
										<p:ajax
											listener="#{productoBean.calcularPrecioPorIva(tipoPrecio)}"
											event="change" update="tablaTipoPreciosInsertar, :mensaje" />
									</p:inputText>
								</p:column>
								<p:column headerText="%F-$F">
									<p:selectBooleanButton
										value="#{tipoPrecio.tipoPrecioProducto.porcentajePrecioFijo}"
										onLabel="%F" offLabel="$F">
										<p:ajax listener="#{productoBean.muestra}" />
									</p:selectBooleanButton>
								</p:column>
								<p:column headerText="Pvp">
									<p:commandButton id="btn1" update="tablaTipoPreciosInsertar"
										action="#{productoBean.pvp}" process="btn1"
										icon="#{tipoPrecio.tipoPrecioProducto.pvp ? msg['i.activar'] : msg['i.cancelar']}">
										<f:setPropertyActionListener
											target="#{productoBean.tablaPrecios}" value="#{tipoPrecio}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
							<div class="EmptyBox10"></div>
							<p:commandLink value="Unidades" update="tablaUnidades, :mensaje"
								actionListener="#{productoBean.insertarFilaUnidad}" />
							<p:dataTable id="tablaUnidades" var="tablaProductoUnidad"
								reflow="true" value="#{productoBean.producto.productoUnidads}"
								emptyMessage="#{msg['lbl.mensajeTabla']}">
								<p:column headerText="#{msg['lbl.gestionar']}">
									<p:commandButton id="btnEliminar"
										update=":mensaje,tablaUnidades"
										action="#{productoBean.eliminarUnidad(tablaProductoUnidad)}"
										icon="#{msg['i.eliminar']}" process="@this" />
								</p:column>
								<p:column headerText="Unidad">
									<p:selectOneMenu id="comboUnidad" filter="true"
										filterMatchMode="contains"
										value="#{tablaProductoUnidad.unidad.id}" styleClass="Wid90">
										<f:selectItem itemLabel="Escoja una Unidad" />
										<f:selectItems value="#{unidadBean.listaUnidades}"
											var="unidad" itemValue="#{unidad.id}"
											itemLabel="#{unidad.nombre}" />
										<p:ajax event="change"
											listener="#{productoBean.insertarUnidad(tablaProductoUnidad)}"
											update="tablaUnidades, comboUnidad, :mensaje" />
									</p:selectOneMenu>
								</p:column>
								<p:column headerText="Cantidad">
									<p:inputText value="#{tablaProductoUnidad.cantidad}"
										styleClass="Wid90">
									</p:inputText>
								</p:column>
							</p:dataTable>
						</div>
						<div class="EmptyBox10"></div>
						<p:separator />
						<p:commandButton value="#{msg['btn.guardar']}"
							update=":tabViewProducto:formDataTable ,:mensaje, :tabViewProducto:formNuevo"
							oncomplete="comprobarEditar(xhr, status, args, 'tabViewProducto\\:')"
							id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
							actionListener="#{productoBean.actualizar}"
							styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							oncomplete="mostarPanelEditar('tabViewProducto\\:')"
							id="btnNuevolimpiar" icon="#{msg['i.cancelar']}" process="@this"
							styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:panel id="panelEliminar"
					header="#{msg['lbl.activar']}/#{msg['lbl.desactivar']}"
					styleClass="DispNone">
					<h:form id="formEliminar">
						<h:inputHidden value="#{productoBean.producto.id}" />
						<div class="EmptyBox30"></div>
						<p:outputLabel
							value="¿Desea #{productoBean.producto.activo eq true ? msg['lbl.desactivar'] : msg['lbl.activar']} el Producto: #{productoBean.producto.nombre} ?" />
						<div class="EmptyBox30"></div>
						<p:separator />
						<p:commandButton value="#{msg['btn.aceptar']}"
							update=":tabViewProducto:formDataTable,:mensaje"
							icon="#{msg['i.activar']}"
							oncomplete="mostarPanelEliminar('tabViewProducto\\:')"
							actionListener="#{productoBean.eliminar}"
							styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							onclick="mostarPanelEliminar('tabViewProducto\\:')"
							icon="#{msg['i.cancelar']}" styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:dialog widgetVar="productoDialogoCodigoBarra"
					header="Codigo de Barras" showEffect="clip" hideEffect="fold"
					modal="false" resizable="false" width="auto" styleClass="centrar">
					<h:form id="formCodigoBarra">
						<h:panelGrid id="panelNuevo" columns="2" cellpadding="1">
							<h:outputText value="Codigo de Barras:" styleClass="negrita" />
							<p:graphicImage id="imgCodigo"
								value="#{productoBean.codigoBarra}" cache="false" />
							<h:outputText value="Imprimir Pvp: " />
							<p:selectBooleanCheckbox value="#{productoBean.bnPrecio}" />
						</h:panelGrid>
						<p:commandButton id="btnNuevoAceptarSimple" value="Simple"
							ajax="false" icon="#{msg['i.imprimir']}"
							actionListener="#{productoBean.reporteCodigoProductoSimple}" />
						<p:commandButton id="btnNuevoAceptarPersonalizado"
							value="Personalizado" ajax="false" icon="#{msg['i.imprimir']}"
							actionListener="#{productoBean.reporteCodigoProductoPersonalizado}" />
					</h:form>
				</p:dialog>

				<p:dialog header="Importar Producto"
					widgetVar="productoDialogoImportar" resizable="false" modal="false"
					showEffect="clip" hideEffect="fold" id="dialogoImportar">
					<h:form id="formImportar">
						<h:panelGrid columns="1" cellpadding="1">
							<h:outputText value="Importar" styleClass="negrita" />
							<p:fileUpload fileUploadListener="#{productoBean.importar}"
								mode="advanced" dragDropSupport="true" multiple="true"
								update=":mensaje, @this" fileLimit="1"
								allowTypes="/(\.|\/)(xlsx)$/" />
						</h:panelGrid>
					</h:form>
				</p:dialog>

				<p:dialog header="Imagen Producto" widgetVar="productoDialogoImagen"
					resizable="false" modal="false" showEffect="clip" hideEffect="fold"
					id="dialogoImagen">
					<h:form id="formImagen">
						<h:panelGrid columns="1" cellpadding="1">
							<p:graphicImage id="imgProducto" value="#{productoBean.logo}"
								cache="false" />
							<h:outputText value="Logo" styleClass="negrita" />
							<p:fileUpload fileUploadListener="#{productoBean.subirImagen}"
								mode="advanced" dragDropSupport="true" multiple="true"
								update="imgProducto, formImagen:imgProducto, :mensaje, @this"
								fileLimit="1" allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />
						</h:panelGrid>
					</h:form>
				</p:dialog>
			</p:tab>
			<p:tab id="tabGrupo" title="Grupo">
				<p:panel id="grupo_panelPrincipal" header="Grupo">
					<h:form id="formDataTableGrupos">
						<p:dataTable id="tablaGrupos" var="grupo" scrollable="true"
							reflow="true" value="#{grupoBean.listaGrupos}" paginator="true"
							rows="10" emptyMessage="#{msg['lbl.mensajeTabla']}"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							paginatorPosition="bottom">
							<f:facet name="header">
								<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
								<p:commandButton id="btnNuevo" icon="#{msg['i.nuevo']}"
									update=":tabViewProducto:formInsertar"
									oncomplete="mostarPanelInsertar('tabViewProducto\\:grupo_')"
									actionListener="#{grupoBean.limpiarObjetos}" />
							</f:facet>
							<p:column headerText="#{msg['lbl.gestionar']}">
								<p:tooltip for="btnEditar" value="#{msg['lbl.editar']}" />
								<p:tooltip for="btnEliminar"
									value="#{grupo.activo eq true ? msg['lbl.desactivar']:msg['lbl.activar']}" />
								<p:commandButton id="btnEditar"
									update=":tabViewProducto:formEditarGrupo"
									oncomplete="mostarPanelEditar('tabViewProducto\\:grupo_')"
									icon="#{msg['i.editar']}">
									<f:setPropertyActionListener value="#{grupo}"
										target="#{grupoBean.grupo}" />
								</p:commandButton>
								<p:commandButton id="btnEliminar"
									update=":tabViewProducto:formEliminarGrupo"
									oncomplete="mostarPanelEliminar('tabViewProducto\\:grupo_')"
									icon="#{grupo.activo eq true ? msg['i.eliminar']: msg['i.activar']}">
									<f:setPropertyActionListener value="#{grupo}"
										target="#{grupoBean.grupo}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Nombre">
								<p:outputLabel value="#{grupo.nombre}" />
							</p:column>
							<p:column headerText="Activo">
								<p:selectBooleanCheckbox value="#{grupo.activo}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<p:panel id="grupo_panelInsertar" header="#{msg['lbl.insertar']}"
					styleClass="DispNone">
					<h:form id="formInsertar">
						<p:outputLabel value="Nombre" for="nombre" styleClass="DispBlock" />
						<p:inputText id="nombre" value="#{grupoBean.grupo.nombre}"
							onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90" />
						<p:separator />
						<p:commandButton id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
							value="#{msg['btn.guardar']}"
							oncomplete="comprobarInsertar(xhr, status, args, 'tabViewProducto\\:grupo_')"
							update=":tabViewProducto:formDataTableGrupos,:mensaje"
							actionListener="#{grupoBean.insertar}" styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							oncomplete="mostarPanelInsertar('tabViewProducto\\:grupo_')"
							id="btnNuevolimpiar" icon="#{msg['i.cancelar']}"
							actionListener="#{grupoBean.limpiarObjetos}" process="@this"
							styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:panel id="grupo_panelEditar" header="#{msg['lbl.editar']}"
					styleClass="DispNone">
					<h:form id="formEditarGrupo">
						<p:outputLabel value="Nombre" for="nombre" styleClass="DispBlock" />
						<p:inputText id="nombre" value="#{grupoBean.grupo.nombre}"
							onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90" />
						<p:separator />
						<p:commandButton id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
							value="#{msg['btn.guardar']}"
							oncomplete="comprobarEditar(xhr, status, args, 'tabViewProducto\\:grupo_')"
							update=":tabViewProducto:formDataTableGrupos,:mensaje"
							actionListener="#{grupoBean.actualizar}" styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							oncomplete="mostarPanelEditar('tabViewProducto\\:grupo_')"
							id="btnNuevolimpiar" icon="#{msg['i.cancelar']}"
							actionListener="#{grupoBean.limpiarObjetos}" process="@this"
							styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:panel id="grupo_panelEliminar"
					header="#{msg['lbl.activar']}/#{msg['lbl.desactivar']}"
					styleClass="DispNone">
					<h:form id="formEliminarGrupo">
						<h:inputHidden value="#{grupoBean.grupo.id}" />
						<div class="EmptyBox30"></div>
						<p:outputLabel
							value="¿Desea #{grupoBean.grupo.activo eq true ? msg['lbl.desactivar'] : msg['lbl.activar']} el Grupo: #{grupoBean.grupo.nombre}?" />
						<div class="EmptyBox30"></div>
						<p:separator />
						<p:commandButton value="#{msg['btn.aceptar']}"
							update=":tabViewProducto:formDataTableGrupos,:mensaje"
							icon="#{msg['i.activar']}"
							oncomplete="mostarPanelEliminar('tabViewProducto\\:grupo_')"
							actionListener="#{grupoBean.eliminar}" styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}" type="button"
							onclick="mostarPanelEliminar('tabViewProducto\\:grupo_')"
							icon="#{msg['i.cancelar']}" styleClass="RedButton" />
					</h:form>
				</p:panel>
			</p:tab>
			<p:tab id="tabUnidades" title="Unidad">
				<p:panel id="unidad_panelPrincipal" header="Unidad">
					<h:form id="formDataTableUnidades">
						<p:focus context="formDataTableUnidades" />
						<p:dataTable id="tablaUnidades" var="unidad" scrollable="true"
							reflow="true" value="#{unidadBean.listaUnidades}"
							paginator="true" rows="10"
							emptyMessage="#{msg['lbl.mensajeTabla']}"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							paginatorPosition="bottom">
							<f:facet name="header">
								<p:tooltip for="btnNuevoUnidad" value="#{msg['lbl.insertar']}" />
								<p:commandButton update=":tabViewProducto:formNuevoUnidad"
									oncomplete="mostarPanelInsertar('tabViewProducto\\:unidad_')"
									id="btnNuevoUnidad" icon="#{msg['i.nuevo']}"
									styleClass="botonNuevo" actionListener="#{unidadBean.limpiar}" />
							</f:facet>
							<p:column headerText="#{msg['lbl.gestionar']}">
								<p:tooltip for="btnEditarUnidad" value="#{msg['lbl.editar']}" />
								<p:tooltip for="btnEliminarUnidad"
									value="#{unidad.activo eq true ? msg['lbl.desactivar']:msg['lbl.activar']}" />
								<p:commandButton id="btnEditarUnidad"
									update=":tabViewProducto:formEditarUnidad"
									oncomplete="mostarPanelEditar('tabViewProducto\\:unidad_')"
									icon="#{msg['i.editar']}"
									disabled="#{unidad.pordefecto eq true ? true:false}">
									<f:setPropertyActionListener value="#{unidad}"
										target="#{unidadBean.unidad}" />
								</p:commandButton>
								<p:commandButton id="btnEliminarUnidad"
									update=":tabViewProducto:formEliminarUnidad"
									oncomplete="mostarPanelEliminar('tabViewProducto\\:unidad_')"
									icon="#{unidad.activo eq true ? msg['i.eliminar']: msg['i.activar']}"
									disabled="#{unidad.pordefecto eq true ? true:false}">
									<f:setPropertyActionListener value="#{unidad}"
										target="#{unidadBean.unidad}" />
								</p:commandButton>
							</p:column>
							<p:column headerText="Nombre">
								<p:outputLabel value="#{unidad.nombre}" />
							</p:column>
							<p:column headerText="Abreviatura">
								<p:outputLabel value="#{unidad.abreviatura}" />
							</p:column>
							<p:column headerText="Activo">
								<p:selectBooleanCheckbox value="#{unidad.activo}" />
							</p:column>
						</p:dataTable>
					</h:form>
				</p:panel>

				<p:panel id="unidad_panelInsertar" header="#{msg['lbl.insertar']}"
					styleClass="DispNone">
					<h:form id="formNuevoUnidad">
						<p:outputLabel value="Nombre" for="nombre" styleClass="DispBlock" />
						<p:inputText id="nombre" value="#{unidadBean.unidad.nombre}"
							required="true" requiredMessage="Ingrese un Unidad"
							label="nombre" onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90" />
						<p:outputLabel value="Abreviatura" for="abreviatura"
							styleClass="DispBlock" />
						<p:inputText id="abreviatura"
							validatorMessage="Máximo 2 Caracteres"
							value="#{unidadBean.unidad.abreviatura}" required="true"
							requiredMessage="Ingrese una Abreviatura" label="nombre"
							onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90">
							<f:validateLength maximum="2" />
						</p:inputText>
						<p:separator />
						<p:commandButton value="#{msg['btn.guardar']}"
							oncomplete="comprobarInsertar(xhr, status, args, 'tabViewProducto\\:unidad_')"
							update=":tabViewProducto:formDataTableUnidades, :mensaje, :tabViewProducto:formNuevoUnidad"
							id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
							actionListener="#{unidadBean.insertar}" styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							oncomplete="mostarPanelInsertar('tabViewProducto\\:unidad_')"
							id="btnNuevolimpiar" icon="#{msg['i.cancelar']}"
							actionListener="#{unidadBean.limpiar}" process="@this"
							styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:panel id="unidad_panelEditar" header="#{msg['lbl.editar']}"
					styleClass="DispNone">
					<h:form id="formEditarUnidad">
						<p:outputLabel value="Nombre" for="nombre" styleClass="DispBlock" />
						<p:inputText id="nombre" value="#{unidadBean.unidad.nombre}"
							required="true" requiredMessage="Ingrese un Unidad"
							label="nombre" onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90" />
						<p:outputLabel value="Abreviatura" for="abreviatura"
							styleClass="DispBlock" />
						<p:inputText id="abreviatura"
							validatorMessage="Máximo 2 Caracteres"
							value="#{unidadBean.unidad.abreviatura}" required="true"
							requiredMessage="Ingrese una Abreviatura" label="nombre"
							onblur="this.value = this.value.toUpperCase();"
							styleClass="DispBlock Wid90">
							<f:validateLength maximum="2" />
						</p:inputText>
						<p:separator />
						<p:commandButton value="#{msg['btn.guardar']}"
							oncomplete="comprobarEditar(xhr, status, args, 'tabViewProducto\\:unidad_')"
							update=":tabViewProducto:formDataTableUnidades, :mensaje, :tabViewProducto:formEditarUnidad"
							id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
							actionListener="#{unidadBean.actualizar}"
							styleClass="GreenButton" />
						<p:commandButton value="#{msg['btn.cancelar']}"
							oncomplete="mostarPanelEditar('tabViewProducto\\:unidad_')"
							id="btnNuevolimpiar" icon="#{msg['i.cancelar']}"
							actionListener="#{unidadBean.limpiar}" process="@this"
							styleClass="RedButton" />
					</h:form>
				</p:panel>

				<p:panel id="unidad_panelEliminar"
					header="#{msg['lbl.activar']}/#{msg['lbl.desactivar']}"
					styleClass="DispNone">
					<h:form id="formEliminarUnidad">
						<h:inputHidden value="#{unidadBean.unidad.id}" />
						<div class="EmptyBox30"></div>
						<p:outputLabel
							value="¿Desea #{unidadBean.unidad.activo eq true ? msg['lbl.desactivar'] : msg['lbl.activar']} la Unidad: #{unidadBean.unidad.nombre}?" />
						<div class="EmptyBox30"></div>
						<p:separator />
						<p:commandButton value="#{msg['btn.aceptar']}"
							update=":tabViewProducto:formDataTableUnidades,:mensaje"
							icon="#{msg['i.activar']}"
							oncomplete="mostarPanelEliminar('tabViewProducto\\:unidad_')"
							actionListener="#{unidadBean.eliminar}" styleClass="GreenButton" />
						<p:commandButton value="CANCELAR" type="button"
							onclick="mostarPanelEliminar('tabViewProducto\\:unidad_')"
							icon="#{msg['i.cancelar']}" styleClass="RedButton" />
					</h:form>
				</p:panel>

			</p:tab>
		</p:tabView>
	</ui:define>
</ui:composition>