<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Reportes</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Reportes">
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{inventarioReportes.reporteConsolidadoInversionBodegas}"
					value="Consolidado Inversion de Locales" ajax="false"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:selectOneMenu value="#{inventarioReportes.localId}"
					required="true" requiredMessage="Seleccione un Local"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja Local" />
					<f:selectItems value="#{inventarioReportes.listaLocales}"
						var="local" itemValue="#{local.id}" itemLabel="#{local.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton value="Inversion de Local x Productos" ajax="false"
					actionListener="#{inventarioReportes.reporteInversionBodegaPorProducto}"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<div class="EmptyBox10"></div>
				<p:commandButton ajax="false" value="Lista / Precios"
					actionListener="#{inventarioReportes.reporteListaPrecioProducto}"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:selectOneMenu value="#{inventarioReportes.localId}"
					required="true" requiredMessage="Seleccione un Local"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja Local" />
					<f:selectItems value="#{inventarioReportes.listaLocales}"
						var="local" itemValue="#{local.id}" itemLabel="#{local.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton value="Productos a Pedir" ajax="false"
					actionListener="#{inventarioReportes.reportePedidoStockProducto}"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:selectOneMenu value="#{inventarioReportes.localId}"
					required="true" requiredMessage="Seleccione un Local"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja Local" />
					<f:selectItems value="#{inventarioReportes.listaLocales}"
						var="local" itemValue="#{local.id}" itemLabel="#{local.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton value="Control de Inventario" ajax="false"
					actionListener="#{inventarioReportes.reporteStockProductosPorBodega}"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{inventarioReportes.reporteProductoGrupo}"
					value="Productos x Grupo" ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
				<p:calendar value="#{inventarioReportes.fechaInicio}"
					required="true" requiredMessage="Ingrese una Fecha de Inicio"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
				<p:calendar value="#{inventarioReportes.fechaFin}" required="true"
					requiredMessage="Ingrese una Fecha de Corte"
					styleClass="DispBlock Wid90 calendario" />
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{inventarioReportes.reporteCantidadBajaInventario}"
					value="Cantidad Baja Inventario" ajax="false"
					styleClass="DispBlock Wid90" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>