<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	manifest="/negosys/resources/negosys.appcache">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<link rel="icon" type="image/png"
		href="/negosys/resources/spark-layout/images/favicon.png" />
	<title>Negosys</title>
	<h:outputScript name="js/layout.js" library="spark-layout" />
	<ui:insert name="head" />
</h:head>

<h:body>

	<div id="layout-portlets-cover">
		<div
			class="other-pages-box Container80 Responsive50 MarAuto Fnone TexAlCenter ShadowGray MarTop10"
			style="margin-top: 5%; background-image: url(/negosys/resources/spark-layout/images/loginpageillust.svg); background-repeat: no-repeat; background-position: center; background-size: cover;">
			<div class="Container90 Fnone MarAuto TexAlCenter margin0">
				<div class="EmptyBox50"></div>
				<p class="Fs50 Wid100 DispBlock red">
					<strong>SU SISTEMA A SIDO SUSPENDIDO POR FALTA DE PAGO</strong>
				</p>
				<br />
				<p class="Wid100 DispBlock Fs30 red">
					La forma de pago puede ser por <strong>DEPÓSITO</strong> o <strong>TRANSFERENCIA
						ELECTRÓNICA</strong>
				</p>
				<br />
				<p class="Wid100 DispBlock Fs22 red">
					Recuerde <strong>ENVIAR EL COMPROBANTE</strong> como constancia a
					ventas@redepronik.com.ec
				</p>
				<br />
				<p class="Wid100 DispBlock Fs24 red">
					<strong>NOMBRE</strong>
				</p>
				<p class="Wid100 DispBlock Fs24 red">Paulo Adrian Conza Apolo</p>
				<p class="Wid100 DispBlock Fs24 red">
					<strong>CÉDULA</strong>
				</p>
				<p class="Wid100 DispBlock Fs24 red">0706246857</p>
				<br />
				<p class="Wid100 DispBlock Fs26 red">
					<strong>CUENTA DE AHORROS</strong>
				</p>
				<p class="Wid100 DispBlock Fs24 red">
					<strong>Banco del Austro</strong>
				</p>
				<p class="Wid100 DispBlock Fs24 red"># 1030274829</p>
				<br />
				<p class="Wid100 DispBlock Fs24 red">
					<strong>Banco Bolivariano</strong>
				</p>
				<p class="Wid100 DispBlock Fs24 red"># 1030274829</p>
				<br />
				<p class="Wid100 DispBlock Fs24 red">
					<strong>Banco Pichincha</strong>
				</p>
				<p class="Wid100 DispBlock Fs24 red"># 2201911381</p>
				<div class="EmptyBox50"></div>
			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
	<h:outputStylesheet name="css/animate.css" library="spark-layout" />
	<h:outputStylesheet name="css/spark-layout.css" library="spark-layout" />
	<h:outputStylesheet name="css/estilos.css" library="spark-layout" />
</h:body>

</html>