<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Proveedor</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Proveedores">
			<h:form id="busquedaTabla">
				<p:outputLabel value="Ciudad" for="comboCiudad"
					styleClass="DispBlock" />
				<p:selectOneMenu id="comboCiudad" filter="true"
					filterMatchMode="contains"
					value="#{proveedorBean.criterioBusquedaCiudad}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Ciudad" />
					<f:selectItems value="#{proveedorBean.listaCiudadesBusqueda}"
						var="ciudad" itemValue="#{ciudad.id}"
						itemLabel="#{ciudad.provincia} - #{ciudad.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Cédula-RUC/Apellido-Nombre/Nombre Comercial"
					for="busquedaProveedor" styleClass="DispBlock" />
				<p:inputText id="busquedaProveedor"
					value="#{proveedorBean.criterioBusquedaProveedor}"
					onblur="this.value = this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :formDataTable, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{proveedorBean.obtenerProveedores}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaPersonas" var="persona" scrollable="true"
					reflow="true" value="#{proveedorBean.listaPersonasProveedores}"
					paginator="true" rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					rowStyleClass="#{persona.proveedor.activo eq true ? null:'desactivo'}"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton update=":formNuevo"
							oncomplete="mostarPanelInsertar('')" id="btnNuevo"
							icon="#{msg['i.nuevo']}"
							actionListener="#{proveedorBean.cargarInsertar}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:tooltip for="btnEditar" value="#{msg['lbl.editar']}" />
						<p:tooltip for="btnEliminar"
							value="#{persona.proveedor.activo eq true ? msg['lbl.desactivar']:msg['lbl.activar']}" />
						<p:commandButton id="btnEditar" update=":formEditar"
							oncomplete="mostarPanelEditar('')"
							action="#{proveedorBean.cargarEditar}" icon="#{msg['i.editar']}">
							<f:setPropertyActionListener value="#{persona}"
								target="#{proveedorBean.persona}" />
						</p:commandButton>
						<p:commandButton id="btnEliminar" update=":formEliminar"
							oncomplete="mostarPanelEliminar('')"
							icon="#{persona.proveedor.activo eq true ? msg['i.eliminar']: msg['i.activar']}">
							<f:setPropertyActionListener value="#{persona}"
								target="#{proveedorBean.persona}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Cod.">
						<p:outputLabel value="#{persona.proveedor.id}" />
					</p:column>
					<p:column headerText="#Carpeta">
						<p:outputLabel value="#{persona.proveedor.folio}" />
					</p:column>
					<p:column headerText="Cédula-RUC">
						<p:outputLabel value="#{persona.cedula}" />
					</p:column>
					<p:column headerText="Apellidos">
						<p:outputLabel value="#{persona.apellido}" />
					</p:column>
					<p:column headerText="Nombres">
						<p:outputLabel value=" #{persona.nombre}" />
					</p:column>
					<p:column headerText="Nombre Comercial">
						<p:outputLabel value="#{persona.proveedor.nombreComercial}" />
					</p:column>
					<p:column headerText="Ciudad">
						<p:outputLabel value="#{persona.ciudad.nombre}" />
					</p:column>
					<p:column headerText="Dirección">
						<p:outputLabel value="#{persona.direccion}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="#{msg['lbl.insertar']}"
			styleClass="DispNone">
			<h:form id="formNuevo">
				<p:outputLabel value="Los campos marcados con * son Obligatorios"
					styleClass="DispBlock" />
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Datos Personales" styleClass="subTitulos" />
					<p:outputLabel value="* Cédula/RUC" for="cedula"
						styleClass="DispBlock" />
					<p:inputText id="cedula" value="#{proveedorBean.persona.cedula}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90">
						<p:ajax event="change"
							listener="#{proveedorBean.comprobarPersona}"
							update="formNuevo,:mensaje" />
					</p:inputText>
					<p:outputLabel value="* Apellidos" for="apellidos"
						styleClass="DispBlock" />
					<p:inputText id="apellidos"
						value="#{proveedorBean.persona.apellido}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="* Nombres" for="nombres"
						styleClass="DispBlock" />
					<p:inputText id="nombres" value="#{proveedorBean.persona.nombre}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="* Nombre Comercial" for="nombreComercial"
						styleClass="DispBlock" />
					<p:inputText id="nombreComercial"
						value="#{proveedorBean.persona.proveedor.nombreComercial}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Teléfonos" for="telefono"
						styleClass="DispBlock" />
					<p:inputTextarea id="telefono"
						value="#{proveedorBean.persona.telefono}" rows="2"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Email" for="emails" styleClass="DispBlock" />
					<p:inputText id="emails" rows="2"
						value="#{proveedorBean.persona.email}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Datos Residencia" styleClass="subTitulos" />
					<p:outputLabel value="* Provincia" for="comboProvincia"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboProvincia" filter="true"
						filterMatchMode="contains"
						value="#{proveedorBean.persona.ciudad.provincia}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja una Provincia" />
						<f:selectItems value="#{proveedorBean.listaProvincias}"
							var="provincia" itemValue="#{provincia}"
							itemLabel="#{provincia.nombre}" />
						<p:ajax event="change" listener="#{proveedorBean.cargarCiudades}"
							update="comboCiudad" />
					</p:selectOneMenu>
					<p:outputLabel value="* Ciudad" for="comboCiudad"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboCiudad" filter="true"
						filterMatchMode="contains"
						value="#{proveedorBean.persona.ciudad.id}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja una Ciudad" />
						<f:selectItems value="#{proveedorBean.listaCiudades}" var="ciudad"
							itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
					</p:selectOneMenu>
					<p:outputLabel value="* Direccion" for="direccion"
						styleClass="DispBlock" />
					<p:inputText id="direccion"
						value="#{proveedorBean.persona.direccion}" rows="2"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Referencia" for="referencia"
						styleClass="DispBlock" />
					<p:inputTextarea id="referencia"
						value="#{proveedorBean.persona.referencia}" rows="2"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />

					<p:outputLabel value="Registro Físico" styleClass="subTitulos" />
					<p:outputLabel value="# Carpeta" for="carpeta"
						styleClass="DispBlock" />
					<p:inputText id="carpeta"
						value="#{proveedorBean.persona.proveedor.folio}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					update=":formDataTable ,:mensaje, formNuevo"
					oncomplete="comprobarInsertar(xhr, status, args ,'')"
					id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
					actionListener="#{proveedorBean.insertar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelInsertar('')" id="btnNuevolimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelEditar" header="#{msg['lbl.editar']}"
			styleClass="DispNone">
			<h:form id="formEditar">
				<p:outputLabel value="Los campos marcados con * son Obligatorios"
					styleClass="DispBlock" />
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Datos Personales" styleClass="subTitulos" />
					<p:outputLabel value="* Cédula/RUC" for="cedula"
						styleClass="DispBlock" />
					<p:inputText id="cedula" value="#{proveedorBean.persona.cedula}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="* Apellidos" for="apellidos"
						styleClass="DispBlock" />
					<p:inputText id="apellidos"
						value="#{proveedorBean.persona.apellido}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="* Nombres" for="nombres"
						styleClass="DispBlock" />
					<p:inputText id="nombres" value="#{proveedorBean.persona.nombre}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="* Nombre Comercial" for="nombreComercial"
						styleClass="DispBlock" />
					<p:inputText id="nombreComercial"
						value="#{proveedorBean.persona.proveedor.nombreComercial}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Teléfonos" for="telefono"
						styleClass="DispBlock" />
					<p:inputTextarea id="telefono"
						value="#{proveedorBean.persona.telefono}" rows="2"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Email" for="emails" styleClass="DispBlock" />
					<p:inputText id="emails" rows="2"
						value="#{proveedorBean.persona.email}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Datos Residencia" styleClass="subTitulos" />
					<p:outputLabel value="* Provincia" for="comboProvincia"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboProvincia" filter="true"
						filterMatchMode="contains"
						value="#{proveedorBean.persona.ciudad.provincia}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja una Provincia" />
						<f:selectItems value="#{proveedorBean.listaProvincias}"
							var="provincia" itemValue="#{provincia}"
							itemLabel="#{provincia.nombre}" />
						<p:ajax event="change" listener="#{proveedorBean.cargarCiudades}"
							update="comboCiudad" />
					</p:selectOneMenu>
					<p:outputLabel value="* Ciudad" for="comboCiudad"
						styleClass="DispBlock" />
					<p:selectOneMenu id="comboCiudad" filter="true"
						filterMatchMode="contains"
						value="#{proveedorBean.persona.ciudad.id}"
						styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="Escoja una Ciudad" />
						<f:selectItems value="#{proveedorBean.listaCiudades}" var="ciudad"
							itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
					</p:selectOneMenu>
					<p:outputLabel value="* Direccion" for="direccion"
						styleClass="DispBlock" />
					<p:inputText id="direccion"
						value="#{proveedorBean.persona.direccion}" rows="2"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Referencia" for="referencia"
						styleClass="DispBlock" />
					<p:inputTextarea id="referencia"
						value="#{proveedorBean.persona.referencia}" rows="2"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />

					<p:outputLabel value="Registro Físico" styleClass="subTitulos" />
					<p:outputLabel value="# Carpeta" for="carpeta"
						styleClass="DispBlock" />
					<p:inputText id="carpeta"
						value="#{proveedorBean.persona.proveedor.folio}"
						onblur="this.value = this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:separator />
				<p:commandButton value="#{msg['btn.guardar']}"
					update=":formDataTable ,:mensaje, formNuevo"
					oncomplete="comprobarEditar(xhr, status, args, '')"
					id="btnNuevoAceptar" icon="#{msg['i.guardar']}"
					actionListener="#{proveedorBean.actualizar}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanelEditar('')" id="btnNuevolimpiar"
					icon="#{msg['i.cancelar']}" process="@this" styleClass="RedButton" />
			</h:form>
		</p:panel>

		<p:panel id="panelEliminar"
			header="#{msg['lbl.activar']}/#{msg['lbl.desactivar']}"
			styleClass="DispNone">
			<h:form id="formEliminar">
				<h:inputHidden value="#{proveedorBean.persona.id}" />
				<div class="EmptyBox30"></div>
				<p:outputLabel
					value="¿Desea #{proveedorBean.persona.proveedor.activo eq true ? msg['lbl.desactivar'] : msg['lbl.activar']} el Proveedor: #{proveedorBean.persona.cedula} - #{proveedorBean.persona.apellido} #{proveedorBean.persona.nombre}?" />
				<div class="EmptyBox30"></div>
				<p:separator />
				<p:commandButton value="#{msg['btn.aceptar']}"
					update=":formDataTable,:mensaje" icon="#{msg['i.activar']}"
					oncomplete="mostarPanelEliminar('')"
					actionListener="#{proveedorBean.eliminar}" styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}" type="button"
					onclick="mostarPanelEliminar('')" icon="#{msg['i.cancelar']}"
					styleClass="RedButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>