<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Reportes</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Reportes">
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Ciudad" styleClass="DispBlock" />
				<p:selectOneMenu value="#{directorioReport.ciudadId}" filter="true"
					filterMatchMode="contains" required="true"
					requiredMessage="Seleccione una Ciudad"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Ciudad" />
					<f:selectItems value="#{directorioReport.listaCiudades}"
						var="ciudad" itemValue="#{ciudad.id}"
						itemLabel="#{ciudad.provincia} - #{ciudad.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Ordernar por" styleClass="DispBlock" />
				<p:selectOneMenu value="#{directorioReport.ordernar}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Código" itemValue="0" />
					<f:selectItem itemLabel="Apellido" itemValue="1" />
					<f:selectItem itemLabel="Nombre" itemValue="2" />
					<f:selectItem itemLabel="Nombre Comercial" itemValue="3" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton update=":mensaje"
					actionListener="#{directorioReport.reporteCliente}"
					value="Clientes" ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Ciudad" styleClass="DispBlock" />
				<p:selectOneMenu value="#{directorioReport.ciudadId}" filter="true"
					filterMatchMode="contains" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Todos" itemValue="0" />
					<f:selectItems value="#{directorioReport.listaCiudades}"
						var="ciudad" itemValue="#{ciudad.id}"
						itemLabel="#{ciudad.provincia} - #{ciudad.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton update=":mensaje"
					actionListener="#{directorioReport.reporteProveedor}"
					value="Proveedores" ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>