<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Cobranza</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Cobranza de Facturas">
			<h:form id="formCliente">
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Cédula/Nombre" styleClass="DispBlock" />
					<p:inputText readonly="true"
						value="#{cobroBean.criterioBusquedaCliente.cedula} - #{cobroBean.criterioBusquedaCliente.apellido} #{cobroBean.criterioBusquedaCliente.nombre}"
						styleClass="Wid90 inputConButton" />
					<p:commandButton update="txtCedula, tablaClientes"
						oncomplete="mostarPanelBusqueda('')"
						action="#{cobroBean.limpiarObjetosBusquedaCliente}"
						icon="#{msg['i.buscar']}" styleClass="botonBuscar" />
					<div id="panelBusqueda" class="DispNone panelBusqueda">
						<p:outputLabel value="Busqueda Cliente" styleClass="subTitulos" />
						<p:outputLabel value="Cedula/Ruc/Nombre/Apellido" for="txtCedula" />
						<p:inputText id="txtCedula"
							value="#{cobroBean.criterioClienteBusqueda}"
							onblur="this.value=this.value.toUpperCase();"
							styleClass="DispBlock Wid90" />
						<div class="EmptyBox10"></div>
						<p:commandButton update="txtCedula, tablaClientes, :mensaje"
							icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
							actionListener="#{cobroBean.obtenerClientesPorBusqueda}" />
						<div class="EmptyBox10"></div>
						<p:dataTable id="tablaClientes" var="cliente" reflow="true"
							value="#{cobroBean.listaClienteBusqueda}" paginator="true"
							paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
							rows="10" emptyMessage="#{msg['lbl.mensajeTabla']}"
							paginatorPosition="bottom" rowKey="#{cliente.id}"
							selection="#{cobroBean.criterioBusquedaCliente}"
							selectionMode="single">
							<p:ajax event="rowSelect" update=":formCliente"
								listener="#{cobroBean.cargarCliente}" oncomplete="clickCerrar()" />
							<p:column headerText="Cedula">
							#{cliente.cedula}
						</p:column>
							<p:column headerText="Apellido">
							#{cliente.apellido}
						</p:column>
							<p:column headerText="Nombre">
							#{cliente.nombre}
						</p:column>
						</p:dataTable>
						<p:commandButton id="btnCerrarBusqueda" type="submit"
							name="submit" styleClass="DispNone"
							actionListener="mostarPanelBusqueda('')" />
					</div>
					<p:outputLabel value="# Documento" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.criterioBusquedaDocumento}"
						onkeypress="if (event.keyCode == 13) { document.getElementById('formCliente:btnBuscarCobro').click(); return false; }"
						onblur="this.value=this.value.toUpperCase();"
						styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Fecha Inicio" styleClass="DispBlock" />
					<p:calendar value="#{cobroBean.criterioBusquedafechaInicio}"
						styleClass="DispBlock Wid90 calendario" />
					<p:outputLabel value="Fecha Fin" styleClass="DispBlock" />
					<p:calendar value="#{cobroBean.criterioBusquedafechaFin}"
						styleClass="DispBlock Wid90 calendario" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton id="btnBuscarCobro"
					update="formCliente, :formDataTable:tablaEgresos, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{cobroBean.obtenerFacturasPendientes}" />
				<div class="EmptyBox10"></div>
			</h:form>

			<h:form id="formDataTable">
				<p:dataTable id="tablaEgresos" var="factura" rows="10"
					paginator="true" paginatorPosition="bottom" reflow="true"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					value="#{cobroBean.listaFacturas}" selectionMode="multiple"
					selection="#{cobroBean.listaFacturasSeleccionados}"
					rowKey="#{factura.id}">
					<p:ajax event="rowSelect" listener="#{cobroBean.onRowSelect}"
						update=":formDataTable:tablaEgresos, :mensaje" />
					<p:ajax event="rowUnselect" listener="#{cobroBean.onRowUnselect}"
						update=":formDataTable:tablaEgresos" />
					<p:column headerText="■">
						<p:selectBooleanCheckbox disabled="true"
							value="#{factura.escogido}" />
					</p:column>
					<p:column headerText="Orden">
				 		#{factura.orden eq 0 ? "" : factura.orden}
					</p:column>
					<p:column headerText="# Factura">
				 		#{factura.codigoDocumento}
					</p:column>
					<p:column headerText="Fecha Emision">
						<h:outputText value="#{factura.fechaEmision}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</h:outputText>
					</p:column>
					<p:column headerText="Cliente">
				 		#{factura.nombre}
					</p:column>
					<p:column headerText="Total" styleClass="TexAlRight">
						#{factura.total}
					</p:column>
					<p:column headerText="Abonos" styleClass="TexAlRight">
						#{factura.abono}
					</p:column>
					<p:column headerText="Saldo" styleClass="TexAlRight">
						#{factura.saldo}
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="5" footerText="Totales" />
							<p:column footerText="$ #{cobroBean.totalTotal}" />
							<p:column footerText="$ #{cobroBean.totalAbonos}" />
							<p:column footerText="$ #{cobroBean.totalSaldo}" />
						</p:row>
					</p:columnGroup>
					<f:facet name="footer">
						<p:commandButton process="tablaEgresos" value="Abonar"
							actionListener="#{cobroBean.comprobarFacturasSeleccionadosAbonar}"
							oncomplete="comprobarDialogoPago(xhr, status, args, 'panelAbonar')"
							update=":formTablaPagosCredito, :formPagarCredito, :mensaje" />
						<p:commandButton id="btnPagarTodo"
							update=":formPagoRapido, :mensaje" value="Pago Rapido"
							actionListener="#{cobroBean.comprobarFacturasSeleccionadosPagoRapido}"
							oncomplete="comprobarDialogoPago(xhr, status, args, 'panelPagoRapido')">
						</p:commandButton>
					</f:facet>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelAbonar" header="Cobro Deuda" styleClass="DispNone">
			<h:form id="formPagarCredito">
				<p:outputLabel value="Datos" styleClass="subTitulos" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:inputText
					value="#{cobroBean.listaFacturasSeleccionados[0].nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<div class="kardexSaldo">
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.totalTotal}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Abonos" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.totalAbonos}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Saldo" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.totalSaldo}" readonly="true"
						styleClass="DispBlock Wid90" />
				</div>
				<p:outputLabel value="Pagos" styleClass="subTitulos" />
				<p:focus context="formPagarCredito" />
				<p:outputLabel value="Tipo de Pago" styleClass="DispBlock" />
				<p:selectOneMenu value="#{cobroBean.pagoEntrada.tipoPago}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Tipo de Pago" />
					<f:selectItems value="#{cobroBean.listaTiposPago}" var="tipoPago"
						itemValue="#{tipoPago}" itemLabel="#{tipoPago.nombre}" />
					<p:ajax event="change" update="formPagarCredito"
						listener="#{cobroBean.tipoPago}" />
				</p:selectOneMenu>
				<p:outputLabel value="Monto" styleClass="DispBlock" />
				<p:inputText value="#{cobroBean.pagoEntrada.cuota}"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="Fecha Pago" styleClass="DispBlock" />
				<p:calendar value="#{cobroBean.fechapago}" navigator="true"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="Banco" rendered="#{cobroBean.bnBanco}"
					styleClass="DispBlock" />
				<p:selectOneMenu rendered="#{cobroBean.bnBanco}"
					value="#{cobroBean.pagoEntrada.banco}" filter="true"
					filterMatchMode="contains" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="ESCOJA UN BANCO" itemValue="" />
					<f:selectItems value="#{bancoBean.listaBancos}" var="banco"
						itemValue="#{banco.nombre}" itemLabel="#{banco.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="FECHA GIRO" rendered="#{cobroBean.bnBanco}"
					styleClass="DispBlock" />
				<p:calendar value="#{cobroBean.pagoEntrada.fechaGiro}"
					navigator="true" rendered="#{cobroBean.bnBanco}" required="true"
					requiredMessage="ESCOJA UNA FECHA GIRO"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="FECHA DE COBRO"
					rendered="#{cobroBean.bnBanco}" styleClass="DispBlock" />
				<p:calendar value="#{cobroBean.pagoEntrada.fechaCheque}"
					navigator="true" rendered="#{cobroBean.bnBanco}" required="true"
					requiredMessage="ESCOJA UNA FECHA COBRO"
					styleClass="DispBlock Wid90 calendario" />
				<p:outputLabel value="#{cobroBean.chequeTarjetaVaucher}"
					rendered="#{cobroBean.bnTarjeta}" styleClass="DispBlock" />
				<p:inputText value="#{cobroBean.pagoEntrada.chequeVaucher}"
					rendered="#{cobroBean.bnTarjeta}" required="true"
					requiredMessage="INGRESE NUMERO CHEQUE/VAUCHER"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="#{cobroBean.chequeTarjetaCuenta}"
					rendered="#{cobroBean.bnTarjeta}" styleClass="DispBlock" />
				<p:inputText value="#{cobroBean.pagoEntrada.cuentaTarjeta}"
					rendered="#{cobroBean.bnTarjeta}" required="true"
					requiredMessage="INGRESE NUMERO CUENTA/TARJETA"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton value="Agregar Pago"
					actionListener="#{cobroBean.insertarPagoEntrada}"
					update="formPagarCredito, :formTablaPagosCredito :mensaje" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formTablaPagosCredito">
				<p:dataTable id="tablaPagosCredito" var="pagoEntrada" reflow="true"
					value="#{cobroBean.listaPagoEntrada}"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:commandButton icon="#{msg['i.eliminar']}"
							action="#{cobroBean.eliminarPagoEntrada}"
							update="tablaPagosCredito">
							<f:setPropertyActionListener value="#{pagoEntrada}"
								target="#{cobroBean.pagoEntrada}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Fecha de Pago">
						<p:outputLabel value="#{pagoEntrada.fechaPago}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Tipo de Pago">
						<p:outputLabel value="#{pagoEntrada.tipoPago.nombre}" />
					</p:column>
					<p:column headerText="Cuota">
						<p:outputLabel value="#{pagoEntrada.cuota}" />
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="3" footerText="Total" />
							<p:column footerText="$ #{cobroBean.totalCuota}" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
			<p:separator />
			<p:commandButton value="#{msg['btn.guardar']}"
				icon="#{msg['i.guardar']}"
				update=":formCliente, :formDataTable:tablaEgresos, :mensaje"
				actionListener="#{cobroBean.insertarCobro}"
				oncomplete="comprobarDialogoPago(xhr, status, args, 'panelAbonar')"
				styleClass="GreenButton" />
			<p:commandButton value="#{msg['btn.cancelar']}"
				icon="#{msg['i.cancelar']}"
				update="formPagarCredito, :formDataTable:tablaEgresos"
				actionListener="#{cobroBean.limpiarSeleccionados}"
				oncomplete="mostarPanel1('panelAbonar')" process="@this"
				styleClass="RedButton" />
		</p:panel>

		<p:panel id="panelPagoRapido" header="Pago Total en Efectivo"
			styleClass="DispNone">
			<h:form id="formPagoRapido">
				<p:outputLabel value="Datos" styleClass="subTitulos" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:inputText
					value="#{cobroBean.cliente}"
					readonly="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<div class="kardexSaldo">
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.totalTotal}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Abonos" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.totalAbonos}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Saldo" styleClass="DispBlock" />
					<p:inputText value="#{cobroBean.totalSaldo}" readonly="true"
						styleClass="DispBlock Wid90" />
				</div>
				<p:outputLabel value="Pagos" styleClass="subTitulos" />
				<p:outputLabel
					value="¿Desea dar por pagadas todas las Facturas en Efectivo?"
					styleClass="DispBlock red" />
				<div class="EmptyBox10"></div>
				<p:outputLabel value="Fecha de Pago" styleClass="DispBlock" />
				<p:calendar value="#{cobroBean.fechaPagoRapido}" navigator="true"
					styleClass="DispBlock Wid90 calendario" />
				<p:separator />
				<p:commandButton value="Pagar" update=":formDataTable:tablaEgresos"
					oncomplete="mostarPanel1('panelPagoRapido')"
					actionListener="#{cobroBean.pagoLote}" icon="#{msg['i.guardar']}"
					styleClass="GreenButton" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					oncomplete="mostarPanel1('panelPagoRapido')"
					update="formPagoRapido, :formDataTable:tablaEgresos"
					actionListener="#{cobroBean.limpiarSeleccionados}"
					icon="#{msg['i.cancelar']}" styleClass="RedButton" />
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>