<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Creditos</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Manejo de Créditos">
			<h:form id="formCliente">
				<p:outputLabel value="Cédula/Nombre" styleClass="DispBlock" />
				<p:inputText readonly="true"
					value="#{cobroCreditoBean.cliente.cedula} - #{cobroCreditoBean.cliente.apellido} #{cobroCreditoBean.cliente.nombre}"
					styleClass="Wid90 inputConButton" />
				<p:commandButton update="txtCedula, tablaClientes"
					oncomplete="mostarPanelBusqueda('')"
					action="#{cobroCreditoBean.limpiarObjetosBusquedaCliente}"
					icon="#{msg['i.buscar']}" styleClass="botonBuscar" />
				<div id="panelBusqueda" class="DispNone panelBusqueda">
					<p:outputLabel value="Busqueda Cliente" styleClass="subTitulos" />
					<p:outputLabel value="Cedula/Ruc/Nombre/Apellido" for="txtCedula" />
					<p:inputText id="txtCedula"
						value="#{cobroCreditoBean.criterioClienteBusqueda}"
						onblur="this.value=this.value.toUpperCase();"
						onkeypress="if (event.keyCode == 13) { obtenerClientesRC(); return false; }"
						styleClass="DispBlock Wid90" />
					<div class="EmptyBox10"></div>
					<p:remoteCommand name="obtenerClientesRC"
						update="txtCedula, tablaClientes, :mensaje"
						actionListener="#{cobroCreditoBean.obtenerClientesPorBusqueda}" />
					<p:commandButton update="txtCedula, tablaClientes, :mensaje"
						icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
						actionListener="#{cobroCreditoBean.obtenerClientesPorBusqueda}" />
					<div class="EmptyBox10"></div>
					<p:dataTable id="tablaClientes" var="cliente" reflow="true"
						value="#{cobroCreditoBean.listaClienteBusqueda}" paginator="true"
						paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
						rows="10" emptyMessage="#{msg['lbl.mensajeTabla']}"
						paginatorPosition="bottom" rowKey="#{cliente.id}"
						selection="#{cobroCreditoBean.cliente}" selectionMode="single">
						<p:ajax event="rowSelect" update=":formCliente"
							listener="#{cobroCreditoBean.cargarCliente}"
							oncomplete="clickCerrar()" />
						<p:column headerText="Cedula">
							#{cliente.cedula}
						</p:column>
						<p:column headerText="Apellido">
							#{cliente.apellido}
						</p:column>
						<p:column headerText="Nombre">
							#{cliente.nombre}
						</p:column>
					</p:dataTable>
					<p:commandButton id="btnCerrarBusqueda" type="submit" name="submit"
						styleClass="DispNone" actionListener="mostarPanelBusqueda('')" />
				</div>
				<p:outputLabel value="Estado Crédito" styleClass="DispBlock" />
				<p:selectOneMenu value="#{cobroCreditoBean.criterioBusquedaEstado}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemValue="0" itemLabel="ESCOJA UN ESTADO" />
					<f:selectItem itemValue="1" itemLabel="PAGADO" />
					<f:selectItem itemValue="2" itemLabel="NO PAGADO" />
				</p:selectOneMenu>
				<p:outputLabel value="# Factura" styleClass="DispBlock" />
				<p:inputText value="#{cobroCreditoBean.criterioBusquedaCodigo}"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton
					update=":formCliente, :formDataTable:tablaEgresos, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{cobroCreditoBean.obtener}" />
				<div class="EmptyBox10"></div>
			</h:form>

			<h:form id="formDataTable">
				<p:dataTable id="tablaEgresos" var="factura" reflow="true"
					value="#{cobroCreditoBean.listaFacturas}" paginator="true"
					rows="10"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom" editable="true" editMode="cell">
					<f:facet name="header">
						<p:tooltip for="btnNuevo" value="#{msg['lbl.insertar']}" />
						<p:commandButton id="btnNuevo"
							action="#{cobroCreditoBean.redirecionar}"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}">
						<p:tooltip for="btnPagar" value="Pagos" />
						<p:commandButton id="btnPagar" update=":formPago"
							action="#{cobroCreditoBean.calcularNumeroCuotasEntradasCreditos}"
							oncomplete="mostarPanelInsertar('')" icon="#{msg['i.retencion']}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{cobroCreditoBean.factura}" />
						</p:commandButton>
						<p:tooltip for="btnGarante" value="Garantes" />
						<p:commandButton id="btnGarante" update=":formMostrar"
							oncomplete="mostarPanelMostrar('')" icon="#{msg['i.garante']}">
							<f:setPropertyActionListener value="#{factura}"
								target="#{cobroCreditoBean.factura}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="# Credito">
						<p:outputLabel value="#{factura.credito.id}" />
					</p:column>
					<p:column headerText="# Factura">
						<p:outputLabel
							value="#{factura.establecimiento}-#{factura.puntoEmision}-#{factura.secuencia}" />
					</p:column>
					<p:column headerText="Fecha Emision">
						<p:outputLabel value="#{factura.fechaInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Cédula">
						<p:outputLabel value="#{factura.cliente.persona.cedula}" />
					</p:column>
					<p:column headerText="Nombres">
						<p:outputLabel
							value="#{factura.cliente.persona.apellido} #{factura.cliente.persona.nombre}" />
					</p:column>
					<p:column headerText="Meses">
						<p:outputLabel value="#{factura.credito.meses}" />
					</p:column>
					<p:column headerText="Monto">
						<p:outputLabel value="#{factura.credito.monto}" />
					</p:column>
					<p:column headerText="Interés">
						<p:outputLabel value="#{factura.credito.interes}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="Manejo de Credito"
			styleClass="DispNone">
			<h:form id="formPago">
				<p:outputLabel value="# Credito" styleClass="DispBlock" />
				<p:inputText value="#{cobroCreditoBean.factura.credito.id}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:inputText
					value=" #{cobroCreditoBean.factura.cliente.persona.cedula} - #{cobroCreditoBean.factura.cliente.persona.apellido} #{cobroCreditoBean.factura.cliente.persona.nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Cuotas" styleClass="DispBlock" />
				<p:inputText
					value="Total(#{cobroCreditoBean.numeroCuotas.cuotasTotalCredito}) - Pagadas(#{cobroCreditoBean.numeroCuotas.cuotasPagadasCredito}) - Por Pagar(#{cobroCreditoBean.numeroCuotas.cuotasPorPagarCredito}) - Vencidas(#{cobroCreditoBean.numeroCuotas.cuotasVencidasCredito}) - Normales(#{cobroCreditoBean.numeroCuotas.cuotasNormalesCredito})"
					readonly="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaCuotas" var="detalleCredito"
					value="#{cobroCreditoBean.factura.credito.detalleCreditos}"
					paginator="true" rows="6"
					emptyMessage="No hay informacion disponible."
					paginatorPosition="bottom"
					rowStyleClass="#{detalleCredito.pagado eq true ? 'activo' : 
                                                          (detalleCredito.fechaLimite lt cobroCreditoBean.fechaActual ? 'desactivo' : 'normal')}">
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar"
						width="15%">
						<p:commandButton id="btnPagoCredito"
							update=":formPagoCuota, :formPagoCuotaTipo, :tablaPagosCredito"
							oncomplete="PF('dialogoPagoCredito').show()"
							disabled="#{detalleCredito.pagado eq true ? true:false}"
							icon="#{msg['i.administrarPago']}"
							action="#{cobroCreditoBean.activarBotonCredito}">
							<f:setPropertyActionListener value="#{detalleCredito}"
								target="#{cobroCreditoBean.detallesCredito}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Orden">
						<p:outputLabel value="#{detalleCredito.orden}" />
					</p:column>
					<p:column headerText="Fecha Limite">
						<p:outputLabel value="#{detalleCredito.fechaLimite}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fecha de Pago">
						<p:outputLabel value="#{detalleCredito.fechaPago}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Pagado" styleClass="centrar">
						<p:selectBooleanCheckbox disabled="true"
							value="#{detalleCredito.pagado}" />
					</p:column>
					<p:column headerText="Cuota">
						<p:outputLabel value="#{detalleCredito.cuota}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<p:separator />
			<p:commandButton value="#{msg['btn.guardar']}"
				update=":formDataTable, :mensaje"
				actionListener="#{cobroCreditoBean.actualizar}"
				oncomplete="mostarPanelInsertar('')" id="btnPagoAceptar"
				icon="#{msg['i.guardar']}" styleClass="GreenButton" />
			<p:commandButton value="#{msg['btn.cancelar']}"
				oncomplete="mostarPanelInsertar('')" id="btnPagoLimpiar"
				icon="#{msg['i.cancelar']}" styleClass="RedButton" />
		</p:panel>

		<p:dialog
			header="Pago de Cuota #(#{cobroCreditoBean.detallesCredito.orden})"
			widgetVar="dialogoPagoCredito" resizable="false" modal="false"
			showEffect="clip" hideEffect="fold" id="dialogoPagoCredito"
			width="50%">
			<h:form id="formPagoCuota">
				<p:outputLabel value="Datos" styleClass="subTitulos" />
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Fecha de Pago" styleClass="DispBlock" />
					<p:calendar value="#{cobroCreditoBean.fechaPagoCredito}"
						navigator="true" required="true"
						requiredMessage="Esoja una fecha de pago"
						styleClass="Wid90 CalendarioW90 CalendarConButton" />
					<p:commandButton
						disabled="#{cobroCreditoBean.bnCredito eq true ? false:true}"
						update="formPagoCuota, :formPagoCuotaTipo"
						actionListener="#{cobroCreditoBean.calcularCuota}"
						icon="#{msg['i.generar']}" styleClass="botonBuscar" />
					<p:outputLabel value="Fecha Limite" styleClass="DispBlock" />
					<p:inputText
						value="#{cobroCreditoBean.detallesCredito.fechaLimite}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Cuota" styleClass="DispBlock" />
					<p:inputText value="#{cobroCreditoBean.detallesCredito.cuota}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="Saldo" styleClass="DispBlock" />
					<p:inputText
						value="#{cobroCreditoBean.cantidadesCreditoReporte.saldoCredito}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Mora" styleClass="DispBlock" />
					<p:inputText
						value="#{cobroCreditoBean.cantidadesCreditoReporte.moraCredito}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Total" styleClass="DispBlock" />
					<p:inputText
						value="#{cobroCreditoBean.cantidadesCreditoReporte.totalCredito}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formPagoCuotaTipo">
				<p:outputLabel value="Pagos" styleClass="subTitulos" />
				<div id="datosIngreso" class="divDatosIzq50">
					<p:outputLabel value="Tipo de Pago" styleClass="DispBlock" />
					<p:selectOneMenu value="#{cobroCreditoBean.pagosCredito.tipoPago}"
						filter="true" filterMatchMode="contains"
						styleClass="DispBlock Wid90">
						<f:selectItems value="#{cobroCreditoBean.listaTiposPago}"
							var="tipoPago" itemValue="#{tipoPago}"
							itemLabel="#{tipoPago.nombre}" />
						<p:ajax event="change" update="formPagoCuotaTipo"
							listener="#{cobroCreditoBean.tipoPago}" />
					</p:selectOneMenu>
					<p:outputLabel value="FECHA DE COBRO"
						rendered="#{cobroCreditoBean.bnBanco}" styleClass="DispBlock" />
					<p:calendar value="#{cobroCreditoBean.pagosCredito.fechaCheque}"
						rendered="#{cobroCreditoBean.bnBanco}" navigator="true"
						styleClass="DispBlock CalendarioW90" />
					<p:outputLabel value="#{cobroCreditoBean.chequeTarjetaCuenta}"
						rendered="#{cobroCreditoBean.bnTarjeta}" styleClass="DispBlock" />
					<p:inputText value="#{cobroCreditoBean.pagosCredito.chequeVaucher}"
						rendered="#{cobroCreditoBean.bnTarjeta}"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="FECHA GIRO"
						rendered="#{cobroCreditoBean.bnBanco}" styleClass="DispBlock" />
					<p:calendar value="#{cobroCreditoBean.pagosCredito.fechaGiro}"
						rendered="#{cobroCreditoBean.bnBanco}" navigator="true"
						styleClass="DispBlock CalendarioW90" />
				</div>
				<div id="tablaIngreso" class="divDatosDer50">
					<p:outputLabel value="MONTO" styleClass="DispBlock" />
					<p:inputText value="#{cobroCreditoBean.pagosCredito.cuota}"
						required="true" requiredMessage="ESCRIBA EL MONTO"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="BANCO" rendered="#{cobroCreditoBean.bnBanco}"
						styleClass="DispBlock" />
					<p:selectOneMenu rendered="#{cobroCreditoBean.bnBanco}"
						value="#{cobroCreditoBean.banco.id}" filter="true"
						filterMatchMode="contains" styleClass="DispBlock Wid90">
						<f:selectItem itemLabel="ESCOJA UN BANCO" itemValue="" />
						<f:selectItems value="#{bancoBean.listaBancos}" var="banco"
							itemValue="#{banco.id}" itemLabel="#{banco.nombre}" />
					</p:selectOneMenu>
					<p:outputLabel value="#{cobroCreditoBean.chequeTarjetaVaucher}"
						rendered="#{cobroCreditoBean.bnTarjeta}" styleClass="DispBlock" />
					<p:inputText value="#{cobroCreditoBean.pagosCredito.cuentaTarjeta}"
						rendered="#{cobroCreditoBean.bnTarjeta}"
						styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton id="btnPagar" value="Agregar Pago"
					actionListener="#{cobroCreditoBean.pagarCredito}"
					update="formPagoCuotaTipo, :formPagoCuota, :tablaPagosCredito, :mensaje"
					disabled="#{cobroCreditoBean.bnCredito eq true ? true:false}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<p:dataTable id="tablaPagosCredito" var="pagoCredito"
				value="#{cobroCreditoBean.detallesCredito.pagoCreditos}">
				<p:column headerText="Tipo de Pago">
					<p:outputLabel value="#{pagoCredito.tipoPago.nombre}" />
				</p:column>
				<p:column headerText="Fecha">
					<p:outputLabel value="#{pagoCredito.fechaPago}">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:outputLabel>
				</p:column>
				<p:column headerText="Cuota">
					<p:outputLabel value="#{pagoCredito.cuota}" />
				</p:column>
			</p:dataTable>
			<p:separator />
			<p:commandButton value="#{msg['btn.guardar']}"
				oncomplete="PF('dialogoPagoCredito').hide()"
				update=":formPago:tablaCuotas, formPagoCuota"
				icon="#{msg['i.guardar']}" styleClass="GreenButton" />
			<p:commandButton value="#{msg['btn.cancelar']}"
				oncomplete="PF('dialogoPagoCredito').hide()"
				update=":formPago:tablaCuotas, formPagoCuota"
				actionListener="#{cobroCreditoBean.cancelarDetalleCredito}"
				icon="#{msg['i.cancelar']}" styleClass="RedButton" />

		</p:dialog>

		<p:panel id="panelMostrar" header="Detalle de Garantes"
			styleClass="DispNone">
			<h:form id="formMostrar">
				<p:outputLabel value="# Credito" styleClass="DispBlock" />
				<p:inputText value="#{cobroCreditoBean.factura.credito.id}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:outputLabel value="Cliente" styleClass="DispBlock" />
				<p:inputText
					value=" #{cobroCreditoBean.factura.cliente.persona.cedula} - #{cobroCreditoBean.factura.cliente.persona.apellido} #{cobroCreditoBean.factura.cliente.persona.nombre}"
					readonly="true" styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaGarantes" var="garante"
					value="#{cobroCreditoBean.factura.credito.garantes}" rows="10"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:commandButton value="#{msg['btn.insertar']}"
							oncomplete="PF('dialogoGaranteInsertar').show()" id="btnNuevo"
							icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="Cedula">
						<p:outputLabel value="#{garante.cliente.persona.cedula}" />
					</p:column>
					<p:column headerText="Nombre/Apellidos">
						<p:outputLabel
							value="#{garante.cliente.persona.nombre} #{garante.cliente.persona.apellido}" />
					</p:column>
					<p:column headerText="Direccion">
						<p:outputLabel value="#{garante.cliente.persona.direccion}" />
					</p:column>
					<p:column headerText="Referencia">
						<p:outputLabel value="#{garante.cliente.persona.referencia}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<p:separator />
			<p:commandButton value="#{msg['btn.guardar']}"
				update=":formDataTable, :mensaje"
				actionListener="#{cobroCreditoBean.actualizar}"
				oncomplete="mostarPanelMostrar('')" id="btnGaranteAceptar"
				icon="#{msg['i.guardar']}" styleClass="GreenButton" />
			<p:commandButton value="#{msg['btn.cancelar']}"
				oncomplete="mostarPanelMostrar('')" id="btnGaranteCerrar"
				icon="#{msg['i.cancelar']}" styleClass="RedButton" />
		</p:panel>

		<p:dialog header="Insertar Garante" widgetVar="dialogoGaranteInsertar"
			resizable="false" modal="false" showEffect="clip" hideEffect="fold"
			id="dialogoNuevoGarante" width="50%">
			<h:form>
				<p:outputLabel value="Cedula/Ruc/Nombre/Apellido" />
				<p:inputText value="#{cobroCreditoBean.nombreCliente}" />
				<p:commandButton update=":formNuevoGarante:tablaClientes,:mensaje"
					icon="#{msg['i.buscar']}"
					actionListener="#{cobroCreditoBean.obtenerClientes}" />
			</h:form>
			<h:form id="formNuevoGarante">
				<p:dataTable id="tablaClientes" var="garante"
					value="#{cobroCreditoBean.listaGarantes}" paginator="true" rows="5"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom" rowKey="#{garante.id}"
					selection="#{cobroCreditoBean.personaGarante}"
					selectionMode="single">
					<p:ajax event="rowSelect" update=":formMostrar, :mensaje"
						listener="#{cobroCreditoBean.insertarGarante}"
						oncomplete="PF('dialogoGaranteInsertar').hide()" />
					<p:column headerText="CÉDULA">
                    	#{garante.cedula}
                    </p:column>
					<p:column headerText="APELLIDOS">
                        #{garante.apellido}
                    </p:column>
					<p:column headerText="NOMBRES">
                        #{garante.nombre}
                    </p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>