<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Credito</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Credito">
			<p:commandButton id="btnBuscarFactura" value="Buscar Factura"
				oncomplete="mostarPanel1('panelBuscarFactura')"
				icon="#{msg['i.buscar']}" update=":busquedaTabla"
				actionListener="#{creditoBean.limpiarObjetosBusqueda}" />

			<h:form id="datosFactura">
				<p:separator />
				<div class="divDatosIzq50">
					<p:outputLabel value="# Factura" styleClass="DispBlock" />
					<p:inputText
						value="#{creditoBean.factura.id} / #{creditoBean.factura.establecimiento}-#{creditoBean.factura.puntoEmision}-#{creditoBean.factura.secuencia}"
						readonly="true" styleClass="DispBlock Wid90" />
					<p:outputLabel value="Cliente" styleClass="DispBlock" />
					<p:inputText
						value="#{creditoBean.factura.cliente.persona.cedula} - #{creditoBean.factura.cliente.persona.apellido} #{creditoBean.factura.cliente.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div class="divDatosDer50">
					<p:outputLabel value="Fecha" styleClass="DispBlock" />
					<p:inputText value="#{creditoBean.factura.fechaInicio}"
						readonly="true" styleClass="DispBlock Wid90">
						<f:convertDateTime pattern="dd/MM/yyyy"
							timeZone="America/Guayaquil" />
					</p:inputText>
					<p:outputLabel value="Factura a nombre de" styleClass="DispBlock" />
					<p:inputText
						value="#{creditoBean.factura.clienteFactura.persona.cedula} - #{creditoBean.factura.clienteFactura.persona.apellido} #{creditoBean.factura.clienteFactura.persona.nombre}"
						readonly="true" styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:separator />
			</h:form>
			<h:form id="formCalcularCuotas">
				<div class="divDatosIzq50">
					<p:outputLabel value="Monto" styleClass="DispBlock" />
					<p:inputText value="#{creditoBean.montoCredito}" readonly="true"
						styleClass="DispBlock Wid90" />
					<p:outputLabel value="Interes" styleClass="DispBlock" />
					<p:inputText value="#{creditoBean.credito.interes}"
						styleClass="DispBlock Wid90" />
				</div>
				<div class="divDatosDer50">
					<p:outputLabel value="Fecha de comienzo" styleClass="DispBlock" />
					<p:calendar value="#{creditoBean.fechaInicio}" navigator="true"
						styleClass="DispBlock Wid90 calendario" />
					<p:outputLabel value="Meses" styleClass="DispBlock" />
					<p:inputText value="#{creditoBean.credito.meses}"
						styleClass="DispBlock Wid90" />
				</div>
				<div class="EmptyBox10"></div>
				<p:commandButton value="Calcular" icon="#{msg['i.calculadora']}"
					actionListener="#{creditoBean.calcularCredito}"
					update="formCalcularCuotas, :formGuardar, :formGarantes, :mensaje"
					disabled="#{creditoBean.bnCredito eq true ? true:false}" />
				<p:commandButton value="#{msg['btn.cancelar']}"
					icon="#{msg['i.cancelar']}"
					update="formCalcularCuotas, :formGuardar, :formGarantes "
					actionListener="#{creditoBean.cancelarCredito}" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaCuotas" var="detalleCredito"
					value="#{creditoBean.credito.detalleCreditos}" paginator="true"
					rows="10" emptyMessage="No hay informacion disponible."
					paginatorPosition="bottom">
					<p:column headerText="ORDEN">
						<p:outputLabel value="#{detalleCredito.orden}" />
					</p:column>
					<p:column headerText="FECHA">
						<p:outputLabel value="#{detalleCredito.fechaLimite}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="CUOTA">
						<p:outputLabel value="#{detalleCredito.cuota}" />
					</p:column>
					<p:columnGroup type="footer">
						<p:row>
							<p:column colspan="2" footerText="TOTAL: " />
							<p:column footerText="$ #{creditoBean.credito.monto}" />
						</p:row>
					</p:columnGroup>
				</p:dataTable>
			</h:form>
			<h:form id="formGarantes">
				<p:separator rendered="#{!creditoBean.bnGuardar}" />
				<p:outputLabel value="Garantes" rendered="#{!creditoBean.bnGuardar}"
					styleClass="DispBlock" />
				<p:dataTable var="garante" value="#{creditoBean.listaGarantes}"
					rendered="#{!creditoBean.bnGuardar}" paginator="true" rows="5"
					emptyMessage="#{msg['lbl.mensajeTabla']}" reflow="true"
					paginatorPosition="bottom">
					<f:facet name="header">
						<p:commandButton oncomplete="PF('buscarGarante').show()"
							update=":formGaranteBusqueda"
							actionListener="#{creditoBean.limpiarObjetosBusquedaGarante}"
							value="Agregar Garantes" icon="#{msg['i.nuevo']}" />
					</f:facet>
					<p:column headerText="Cedula">
						<p:outputLabel value="#{garante.cedula}" />
					</p:column>
					<p:column headerText="Apellido">
						<p:outputLabel value="#{garante.apellido}" />
					</p:column>
					<p:column headerText="Nombre">
						<p:outputLabel value="#{garante.nombre}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<h:form id="formGuardar">
				<p:separator />
				<p:commandButton value="GUARDAR"
					update="formGuardar, :datosFactura, :formCalcularCuotas, :formGarantes, :mensaje "
					actionListener="#{creditoBean.actualizar}" id="btnPagoAceptar"
					icon="#{msg['i.guardar']}"
					disabled="#{creditoBean.bnGuardar eq true ? true:false}" />
				<p:commandButton value="CANCELAR" id="btnPagoLimpiar"
					icon="#{msg['i.cancelar']}"
					actionListener="#{creditoBean.limpiarObjetos}"
					update="formGuardar, :datosFactura, :formCalcularCuotas, :formGarantes" />
			</h:form>
		</p:panel>

		<p:panel id="panelBuscarFactura" header="Buscar Factura"
			styleClass="DispNone">
			<h:form id="busquedaTabla">
				<p:outputLabel value="Cédula/Apellidos/Nombres"
					styleClass="DispBlock" />
				<p:inputText value="#{creditoBean.criterioBusquedaCliente}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="DispBlock Wid90" />
				<p:outputLabel value="# Factura" styleClass="DispBlock" />
				<p:inputText value="#{creditoBean.criterioBusquedaCodigo}"
					styleClass="DispBlock Wid90" />
				<div class="EmptyBox10"></div>
				<p:commandButton update="busquedaTabla, :mensaje"
					icon="#{msg['i.buscar']}" value="#{msg['btn.buscar']}"
					actionListener="#{creditoBean.obtener}" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaListadoEgresos" var="factura"
					value="#{creditoBean.listaFacturas}" paginator="true" rows="20"
					paginatorPosition="bottom" reflow="true"
					emptyMessage="#{msg['lbl.mensajeTabla']}" rowKey="#{factura.id}"
					selection="#{creditoBean.factura}" selectionMode="single">
					<p:ajax event="rowSelect"
						update=":formCalcularCuotas, :datosFactura, :formGarantes, :formGuardar"
						listener="#{creditoBean.cargarFactura}"
						oncomplete="mostarPanel1('panelBuscarFactura')" />
					<p:column headerText="CÉDULA" styleClass="centrar">  
            			#{factura.cliente.persona.cedula}
        			</p:column>
					<p:column headerText="CLIENTE" styleClass="centrar">   
            			#{factura.cliente.persona.apellido} #{factura.cliente.persona.nombre}
        			</p:column>
					<p:column headerText="# FACTURA" styleClass="centrar">    
            			#{factura.establecimiento}-#{factura.puntoEmision}-#{factura.secuencia}  
        			</p:column>
					<p:column headerText="FECHA" styleClass="centrar">
						<h:outputText value="#{factura.fechaInicio}">
							<f:convertDateTime pattern="dd/MM/yyyy"
								timeZone="America/Guayaquil" />
						</h:outputText>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:dialog header="Buscar Garante" widgetVar="buscarGarante"
			resizable="false" modal="false" showEffect="clip" hideEffect="fold"
			id="dialogoGarante" width="50%">
			<h:form id="formGaranteBusqueda">
				<p:outputLabel value="Cédula/Apellidos/Nombres"
					styleClass="DispBlock" />
				<p:inputText id="comboCedula"
					value="#{creditoBean.criterioBusqueda}"
					onblur="this.value=this.value.toUpperCase();"
					styleClass="Wid90 inputConButton" />
				<p:commandButton update="formGaranteBusqueda"
					icon="#{msg['i.buscar']}"
					actionListener="#{creditoBean.obtenerGarantesProBusqueda}"
					styleClass="botonBuscar" />
				<div class="EmptyBox10"></div>
				<p:dataTable id="tablaClientesGarante" var="cliente"
					value="#{creditoBean.listaGarantesBusqueda}" paginator="true"
					rows="10" emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom" rowKey="#{cliente.id}"
					selection="#{creditoBean.garante}" selectionMode="single">
					<p:ajax event="rowSelect"
						update=":formGarantes, :formGaranteBusqueda"
						listener="#{creditoBean.obtenerGarante}"
						oncomplete="PF('buscarGarante').hide()" />
					<p:column headerText="CEDULA" width="20%" styleClass="centrar">
							 	#{cliente.cedula}
						</p:column>
					<p:column headerText="APELLIDO" styleClass="centrar">
							 	#{cliente.apellido}
						</p:column>
					<p:column headerText="NOMBRE" styleClass="centrar">
							 	#{cliente.nombre}
						</p:column>
				</p:dataTable>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>