<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Reportes</ui:define>

	<ui:define name="content">
		<p:panel id="panel" header="Reportes">
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Provincia" styleClass="DispBlock" />
				<p:selectOneMenu id="comboProvincia" filter="true"
					filterMatchMode="contains"
					value="#{cuentasPorCobrarReport.provincia}"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Provincia" />
					<f:selectItems value="#{cuentasPorCobrarReport.listaProvincias}"
						var="provincia" itemValue="#{provincia}"
						itemLabel="#{provincia.nombre}" />
					<p:ajax event="change"
						listener="#{cuentasPorCobrarReport.cargarCiudades}"
						update="comboCiudad" />
				</p:selectOneMenu>
				<p:outputLabel value="Ciudad" styleClass="DispBlock" />
				<p:selectOneMenu id="comboCiudad"
					value="#{cuentasPorCobrarReport.ciudad.id}" filter="true"
					filterMatchMode="contains" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Ciudad" />
					<f:selectItems value="#{cuentasPorCobrarReport.listaCiudades}"
						var="ciudad" itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
				</p:selectOneMenu>
				<p:outputLabel value="Vendedor" styleClass="DispBlock" />
				<p:selectOneMenu value="#{cuentasPorCobrarReport.vendedorId}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja un Vendedor" />
					<f:selectItems value="#{cuentasPorCobrarReport.listaVendedores}"
						var="vendedor" itemValue="#{vendedor.id}"
						itemLabel="#{vendedor.cedula} - #{vendedor.apellido} #{vendedor.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{cuentasPorCobrarReport.reporteCobranzaFactura}"
					value="Cobros de Facturas" ajax="false"
					update="formCobranzaFactura" styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<p:outputLabel value="Provincia" styleClass="DispBlock" />
				<p:selectOneMenu id="comboProvincia" filter="true"
					filterMatchMode="contains"
					value="#{cuentasPorCobrarReport.provincia}" styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Provincia" />
					<f:selectItems value="#{cuentasPorCobrarReport.listaProvincias}"
						var="provincia" itemValue="#{provincia}"
						itemLabel="#{provincia.nombre}" />
					<p:ajax event="change"
						listener="#{cuentasPorCobrarReport.cargarCiudades}"
						update="comboCiudad" />
				</p:selectOneMenu>
				<p:outputLabel value="Ciudad" styleClass="DispBlock" />
				<p:selectOneMenu id="comboCiudad"
					value="#{cuentasPorCobrarReport.ciudad.id}" filter="true"
					filterMatchMode="contains"  styleClass="DispBlock Wid90">
					<f:selectItem itemLabel="Escoja una Ciudad" />
					<f:selectItems value="#{cuentasPorCobrarReport.listaCiudades}"
						var="ciudad" itemValue="#{ciudad.id}" itemLabel="#{ciudad.nombre}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{cuentasPorCobrarReport.reporteCobranza}"
					value="Cobros de Creditos" ajax="false" update=":mensaje"
					styleClass="DispBlock Wid90" />
			</h:form>
			<h:form styleClass="TexAlCenter formReportes">
				<i class="fa fa-line-chart Fs130 blue DispBlock"></i>
				<div class="EmptyBox10"></div>
				<p:commandButton
					actionListener="#{cuentasPorCobrarReport.reporteCentralRiesgo}"
					value="Central de Riesgo" ajax="false" styleClass="DispBlock Wid90" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>