<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Firmar Comprobantes</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Documentos Generados">
			<h:form id="formDataTable">
				<p:dataTable id="tablaDocumentosGenerados" var="docGenerados"
					scrollable="true" reflow="true" paginator="true" rows="10"
					value="#{firmarComprobantesBean.listaDocumentosGenerados}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:commandButton value="Obtener" update=":formDataTable, :mensaje"
							icon="#{msg['i.actualizar']}"
							actionListener="#{firmarComprobantesBean.obtener}" />
						<p:commandButton value="Firmar Todos"
							update=":formDataTable, :mensaje" icon="#{msg['i.firmar']}"
							actionListener="#{firmarComprobantesBean.firmarTodos}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:tooltip for="btnFirmar" value="#{msg['lbl.firmar']}" />
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:commandButton id="btnFirmar" update=":mensaje, :formDataTable"
							action="#{firmarComprobantesBean.firmar(docGenerados)}"
							icon="#{msg['i.firmar']}" />
						<p:commandButton id="btnMostrar"
							update=":mensaje, :formDocumentoXML" icon="#{msg['i.mostrar']}"
							oncomplete="mostarPanelMostrar('')">
							<f:setPropertyActionListener value="#{docGenerados}"
								target="#{firmarComprobantesBean.documentoElectronico}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Nombre Documento"
						filterBy="#{docGenerados.nombreDocumento}"
						filterMatchMode="contains" >
						<p:outputLabel value="#{docGenerados.nombreDocumento}" />
					</p:column>
					<p:column headerText="Tipo Documento"
						filterBy="#{docGenerados.tipoDocumento}"
						filterMatchMode="contains">
						<p:outputLabel value="#{docGenerados.tipoDocumento}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formDocumentoXML">
				<p:inputTextarea
					value="#{firmarComprobantesBean.documentoElectronico.documento}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>