<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Subir Comprobantes</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal"
			header="Documentos Autorizados NO Subidos">
			<h:form id="formDataTable">
				<p:dataTable id="tablaDocumentosAutorizados" var="docAutorizados"
					scrollable="true" reflow="true" paginator="true" rows="10"
					value="#{subirComprobantesBean.listaDocumentosAutorizados}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<f:facet name="header">
						<p:commandButton value="Obtener" update=":formDataTable, :mensaje"
							icon="#{msg['i.actualizar']}"
							actionListener="#{subirComprobantesBean.obtener}" />
						<p:commandButton value="Subir Todos"
							update=":formDataTable, :mensaje" icon="#{msg['i.subir']}"
							actionListener="#{subirComprobantesBean.subirTodos}" />
					</f:facet>
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:tooltip for="btnXML" value="#{msg['lbl.subir']}" />
						<p:commandButton id="btnXML" ajax="false"
							action="#{subirComprobantesBean.subir(docAutorizados)}"
							icon="#{msg['i.subir']}">
							<p:fileDownload value="#{subirComprobantesBean.documento}" />
						</p:commandButton>
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:commandButton id="btnMostrar"
							update=":mensaje, :formDocumentoXML" icon="#{msg['i.mostrar']}"
							oncomplete="mostarPanelMostrar('')">
							<f:setPropertyActionListener value="#{docAutorizados}"
								target="#{subirComprobantesBean.documentoElectronico}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Nombre Documento" filterBy="#{docFirmados}"
						filterMatchMode="contains">
						<p:outputLabel value="#{docAutorizados.nombreDocumento}" />
					</p:column>
					<p:column headerText="Tipo Documento"
						filterBy="#{docFirmados.tipoDocumento}" filterMatchMode="contains">
						<p:outputLabel value="#{docAutorizados.tipoDocumento}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formDocumentoXML">
				<p:inputTextarea
					value="#{subirComprobantesBean.documentoElectronico.documento}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>