<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Ver RIDE</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Documentos Autorizados">
			<h:form id="formBusqueda">
				<h:outputLabel value="Persona" styleClass="DispBlock" />
				<p:autoComplete id="autoCompletarPersona" effect="drop"
					placeholder="Minimo 4 Caracteres"
					emptyMessage="#{msg['lbl.mensajeTabla']}" minQueryLength="4"
					maxResults="20" value="#{visualizacionRideBean.persona}"
					completeMethod="#{visualizacionRideBean.obtenerPersonaPorBusqueda}"
					styleClass="DispBlock Wid90 autoCompletar">
					<p:ajax event="itemSelect" id="prueba"
						listener="#{visualizacionRideBean.cargarPersona}"
						update="autoCompletarPersona, :mensaje" />
				</p:autoComplete>
				<h:outputLabel value="Mes" styleClass="DispBlock" />
				<p:selectOneMenu id="mes" value="#{visualizacionRideBean.mes}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{visualizacionRideBean.listaMes}" var="mes"
						itemValue="#{mes}" itemLabel="#{mes.nombre}" />
				</p:selectOneMenu>
				<h:outputLabel value="Año" styleClass="DispBlock" />
				<p:selectOneMenu id="anio" value="#{visualizacionRideBean.anio}"
					filter="true" filterMatchMode="contains"
					styleClass="DispBlock Wid90">
					<f:selectItems value="#{visualizacionRideBean.listaAnio}"
						var="anio" itemValue="#{anio}" itemLabel="#{anio.id}" />
				</p:selectOneMenu>
				<div class="EmptyBox10"></div>
				<p:commandButton id="buscar"
					update=":formDataTable:tablaDocumentosAutorizados, :mensaje"
					value="#{msg['btn.buscar']}"
					actionListener="#{visualizacionRideBean.obtener}"
					icon="#{msg['i.buscar']}" />
				<div class="EmptyBox10"></div>
			</h:form>
			<h:form id="formDataTable">
				<p:dataTable id="tablaDocumentosAutorizados" var="docAutorizados"
					scrollable="true" paginator="true" rows="10" reflow="true"
					value="#{visualizacionRideBean.listaDocumentosAutorizados}"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					paginatorPosition="bottom"
					emptyMessage="#{msg['lbl.mensajeTabla']}">
					<p:column headerText="#{msg['lbl.gestionar']}" styleClass="centrar">
						<p:tooltip for="btnXML" value="#{msg['lbl.descargar']}" />
						<p:commandButton id="btnXML" ajax="false"
							action="#{visualizacionRideBean.descargarXML(docAutorizados)}"
							icon="#{msg['i.descargar']}">
							<p:fileDownload value="#{visualizacionRideBean.documento}" />
						</p:commandButton>
						<p:tooltip for="btnVerRide" value="#{msg['lbl.ver']}" />
						<p:commandButton id="btnVerRide" ajax="false"
							action="#{visualizacionRideBean.verRide(docAutorizados)}"
							icon="#{msg['i.pdf']}" />
						<p:tooltip for="btnEnvioCorreo" value="#{msg['lbl.enviar']}" />
						<p:commandButton id="btnEnvioCorreo" ajax="false"
							action="#{visualizacionRideBean.enviarCorreo(docAutorizados)}"
							icon="#{msg['i.enviar']}" />
						<p:tooltip for="btnMostrar" value="#{msg['lbl.mostrar']}" />
						<p:commandButton id="btnMostrar"
							update=":mensaje, :formDocumentoXML" icon="#{msg['i.mostrar']}"
							oncomplete="mostarPanelMostrar('')">
							<f:setPropertyActionListener value="#{docAutorizados}"
								target="#{visualizacionRideBean.documentoElectronico}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Nombre Documento" filterBy="#{docAutorizados.nombreDocumento}"
						filterMatchMode="contains" styleClass="centrar">
						<p:outputLabel value="#{docAutorizados.nombreDocumento}" />
					</p:column>
					<p:column headerText="Tipo Documento"
						filterBy="#{docFirmados.tipoDocumento}" filterMatchMode="contains"
						styleClass="centrar">
						<p:outputLabel value="#{docAutorizados.tipoDocumento}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelMostrar" header="#{msg['lbl.mostrar']}"
			styleClass="DispNone">
			<h:form id="formDocumentoXML">
				<p:inputTextarea
					value="#{visualizacionRideBean.documentoElectronico.documento}"
					readonly="true" styleClass="DispBlock Wid90" />
				<p:separator />
				<p:commandButton value="#{msg['btn.atras']}"
					oncomplete="mostarPanelMostrar('')" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>