<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<link rel="icon" type="image/png"
		href="/negosys/resources/spark-layout/images/favicon.png" />
	<title>Negosys</title>
	<h:outputScript name="js/layout.js" library="spark-layout" />
	<h:outputScript name="js/funciones.js" library="spark-layout" />

	<h:outputText value="&lt;!--[if gte IE 9]&gt;" escape="false" />
	<style type="text/css">
/* styles for IE 9 */
</style>
	<h:outputText value="&lt;![endif]--&gt;" escape="false" />

	<ui:insert name="head" />
</h:head>

<h:body>

	<div id="layout-portlets-cover">
		<div
			class="other-pages-box Container40 Responsive50 MarAuto Fnone TexAlCenter ShadowGray MarTop10"
			style="margin-top: 5%; background-image: url(/negosys/resources/spark-layout/images/loginpageillust.svg); background-repeat: no-repeat; background-position: center; background-size: cover;">
			<div class="Container90 Fnone MarAuto TexAlCenter">
				<form action='${loginUrl}' method='post' class="login-form">
					<div class="EmptyBox50"></div>
					<h:graphicImage name="images/LOGO.svg" library="spark-layout"
						styleClass="Container80 Fnone MarAuto MarTop20 MarBot10" />
					<div class="EmptyBox20"></div>
					<p:inputText id="username" value="" placeholder="Usuario"
						styleClass="TextAlCenter Container80 Fnone MarAuto Fs18" />
					<div class="EmptyBox10"></div>
					<p:password id="password" value="" placeholder="Contraseña"
						styleClass="TextAlCenter Container80 Fnone MarAuto Fs18"
						feedback="false" />
					<div class="EmptyBox30"></div>
					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<p:commandButton value="Ingresar"
						styleClass="Container80 Fnone MarAuto Fs16"
						onclick="clickIngresar()" />
					<button id="btnSubmit" type="submit" name="submit"
						style="display: none;" />
					<div class="EmptyBox10"></div>
				</form>
				<div class="Seperator"></div>
				<div class="EmptyBox10"></div>
				<p:button value="¿Olvidaste tu contraseña?"
					styleClass="Container80 Fnone MarAuto Fs16 RedButton" href="#"></p:button>
				<div class="EmptyBox50"></div>

			</div>
		</div>
	</div>

	<h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
	<h:outputStylesheet name="css/animate.css" library="spark-layout" />
	<h:outputStylesheet name="css/spark-layout-blue.css"
		library="spark-layout" />
	<h:outputStylesheet name="css/estilos.css" library="spark-layout" />
</h:body>

</html>