<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <link rel="icon" type="image/png"
			href="/negosys/resources/spark-layout/images/favicon.png" />
        <title>Negosys-<ui:insert name="title" /></title>
        <h:outputScript name="js/layout.js" library="spark-layout" />
		<h:outputScript name="js/funciones.js" library="spark-layout" />
        <ui:insert name="head" />
    </h:head>

    <h:body>    
        <div id="menu-mask"></div>

        <ui:include src="topbar.xhtml" />

        <ui:include src="layoutmenu.xhtml" />

        <div id="layout-portlets-cover">
        	<p:growl id="mensaje" showDetail="true" life="7000"
			showSummary="false" severity="info, warn, error, fatal"/>
            <ui:insert name="content">
	        	Template
	        </ui:insert>
            <div class="layout-portlets-box TexAlCenter">
                <span class="Fs14 gray FontRalewayRegular">
                	Teléfonos: 2934104 - 0999308011 | E-mail: 
					<a class="blue" href="mailto:soporte@redepronik.com.ec">
						soporte@redepronik.com.ec
					</a>
				</span>
				<span class="Fs14 gray FontRalewayRegular Fright">
					<a href="//facebook.com/redepronik" target="_blank">
						<i class="fa fa-facebook-square Fs40 blue"></i>
					</a>
					<a href="//twitter.com/redepronik" target="_blank" style="margin-left: 10px;">
						<i class="fa fa-twitter-square Fs40 blue"></i>
					</a>
					<a href="//plus.google.com/+RedepronikEc" target="_blank" style="margin-left: 10px;">
						<i class="fa fa-google-plus-square Fs40 blue"></i>
					</a>
				</span>
				<br></br>
				<span class="Fs14 gray FontRalewayRegular">
					© 2017
					<a class="blue" href="//www.redepronik.com.ec" target="_blank">
						Redepronik Systems
					</a>
					Todos Los Derechos Reservados
				</span>
            </div>
        </div>

      	<p:ajaxStatus id="ajax" onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="images/preloader.gif" library="spark-layout" />
		</p:dialog>

        <h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
        <h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
        <h:outputStylesheet name="css/animate.css" library="spark-layout" />
        <h:outputStylesheet name="css/spark-layout-blue.css" library="spark-layout" />
        <h:outputStylesheet name="css/estilos.css" library="spark-layout" />
    </h:body>

</html>