<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui">
    
    
    <div id="layout-topbar" class="ShadowGray">
    	<div id="layout-topbar-indent">
        	<a href="/negosys/views/home.jsf"><h:graphicImage name="images/LOGO.svg" styleClass="Fleft" library="spark-layout" id="logo" class="Fleft"/></a>
            <a href="#" id="mobile-menu-button" class="BordRad3 white ShowOnMobile"><i class="fa fa-bars"></i> Menú</a>
            <a href="#" id="mobile-menu-button-gray" class="BordRad3 white ShowOnMobile"><i class="fa fa-caret-down"></i> Top Menú</a>
            
            <ul id="layout-topbar-menu">
            	<li>
                	<a href="/negosys/logout.jsf" class="Animated05"><i class="fa fa-sign-out"></i> Salir</a>
                </li>
                <li class="fa fa-ellipsis-v menu-separator"></li>
                <li>
                	<a class="Animated05 CursPointer"><i class="fa fa-user"></i> Bienvenid@: <h:outputText value="#{menuBean.nombreUsuario}" /> <i class="fa fa-chevron-down Fs14 Fright ShowOnMobile"></i></a>
                    <ul style="width:200px; margin-left:-10px;" class="Animated03 submenu">
                    	<li><a href="/negosys/views/seguridad/cambiarClave.jsf" class="Animated05"><i class="fa fa-key"></i> Cambiar Contraseña</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    
</ui:composition>
