<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="title">Nuevo Pedido</ui:define>

	<ui:define name="content">
		<p:panel id="panelPrincipal" header="Nuevo Pedido">
			<div id="datosPedido" class="divDatosIzq50">
				<h:form id="formCliente">
					<p:remoteCommand name="obtenerClienteRC"
						actionListener="#{nuevoPedidoBean.obtenerCliente}"
						update="txtCriterioCliente, :mensaje" />
					<p:outputLabel value="CLIENTE" styleClass="DispBlock" />
					<p:inputText id="txtCriterioCliente"
						placeholder="Ingrese el codigo del cliente"
						value="#{nuevoPedidoBean.cliente}" onblur="obtenerClienteRC()"
						onkeypress="if (event.keyCode == 13) { obtenerClienteRC(); return false; }"
						styleClass="DispBlock Wid90" />

					<p:outputLabel value="ESTABLEIMIENTO" styleClass="DispBlock" />
					<p:selectOneMenu id="comboLocal"
						value="#{nuevoPedidoBean.pedido.establecimiento}"
						styleClass="DispBlock Wid90">
						<f:selectItems value="#{nuevoPedidoBean.listaLocales}" var="local"
							itemValue="#{local.codigoEstablecimiento}"
							itemLabel="#{local.nombre}" />
						<p:ajax update="comboLocal" event="change" />
					</p:selectOneMenu>
				</h:form>
			</div>

			<div id="datosTotales" class="divDatosDer50">
				<h:form id="formTotales">
					<div id="datosIzq" class="divDatosIzq50">
						<h:outputText value="SUBTOTAL 12-14%:" styleClass="DispBlock" />
						<p:outputLabel id="subTotalIva" readonly="true"
							styleClass="DispBlock Wid90" />

						<h:outputText value="SUBTOTAL 0%:" styleClass="DispBlock" />
						<p:outputLabel id="subTotal0" readonly="true"
							styleClass="DispBlock Wid90" />

						<h:outputText value="SUBTOTAL SIN IMPUESTO:"
							styleClass="DispBlock" />
						<p:outputLabel id="subTotal" readonly="true"
							styleClass="DispBlock Wid90" />
					</div>
					<div id="datosDer" class="divDatosDer50">
						<h:outputText value="TOTAL DESCUENTO:" styleClass="DispBlock" />
						<p:outputLabel id="descuento" readonly="true"
							styleClass="DispBlock Wid90" />

						<h:outputText value="IVA 12-14% :" styleClass="DispBlock" />
						<p:outputLabel id="iva" readonly="true"
							styleClass="DispBlock Wid90" />

						<h:outputText value="VALOR TOTAL :" styleClass="DispBlock" />
						<p:outputLabel id="total" readonly="true"
							styleClass="DispBlock Wid90 red Fs20 FontBold" />
					</div>
				</h:form>
			</div>
			<div class="EmptyBox10"></div>
			<p:commandButton value="#{msg['btn.guardar']}"
				update=":formCliente, :formDataTable, :formTotales, :mensaje"
				actionListener="#{nuevoPedidoBean.insertar}"
				icon="#{msg['i.guardar']}" styleClass="GreenButton" />

			<p:commandButton value="#{msg['btn.nuevo']}"
				update=":formCliente, :formDataTable, :formTotales, :mensaje"
				icon="#{msg['i.nuevoDocumento']}"
				actionListener="#{nuevoPedidoBean.limpiar}"
				styleClass="OrangeButton" />
			<div class="EmptyBox10"></div>

			<h:form id="formDataTable">

				<p:dataTable id="tablaDetallePedido" var="facturaReporte"
					reflow="true" value="#{nuevoPedidoBean.listaFacturaReporte}"
					paginator="true" rows="10"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom" scrollable="true">

					<f:facet name="header">
						<p:commandButton update=":formBusquedaProducto"
							onclick="mostarPanelInsertar('')" id="btnNuevo"
							icon="#{msg['i.nuevo']}" value="Insertar Producto" />
					</f:facet>

					<p:column headerText="Estado" styleClass="Wid7_5">
						<p:selectOneMenu id="estado" value="#{facturaReporte.estado}"
							styleClass="Wid90"
							onchange="cambiarEstado(this.id, #{facturaReporte.codigo});">
							<f:selectItems
								value="#{nuevoPedidoBean.listaEstadoProductoVenta}" var="estado"
								itemValue="#{estado}" itemLabel="#{estado.nombre}" />
						</p:selectOneMenu>
					</p:column>

					<p:column headerText="Imp." styleClass="Wid3">
						<h:outputLabel id="impuesto" value="#{facturaReporte.impuesto}" />
					</p:column>

					<p:column headerText="Producto" styleClass="Wid20">
						<p:outputLabel id="txtProducto"
							value="#{facturaReporte.codigo} || #{facturaReporte.descripcion}"
							styleClass="Wid90" />
					</p:column>

					<p:column headerText="Cantidad" styleClass="Wid7_5">
						<p:inputText id="cantidad" value="#{facturaReporte.cantidad}"
							styleClass="Wid90" onchange="calcularImporte(this.id);" />
					</p:column>

					<p:column headerText="Tipo Precio" styleClass="Wid7_5">
						<p:selectOneMenu id="tipoPrecio" 
							value="#{facturaReporte.precioId}" styleClass="Wid90"
							onchange="cambiarTipoPrecio(this.id, #{facturaReporte.codigo});">
							<f:selectItems 
								value="#{facturaReporte.producto.tipoPrecioProductos}"
								var="precio" itemValue="#{precio.id}"
								itemLabel="#{precio.nombre}" />
						</p:selectOneMenu>
					</p:column>

					<p:column headerText="P. Unit." styleClass="Wid7_5 TexAlRight">
						<p:outputLabel id="precioUnitario"
							value="#{facturaReporte.precioUnitVenta}" styleClass="Wid90" />
					</p:column>

					<p:column headerText="Importe" styleClass="Wid7_5 TexAlRight">
						<p:outputLabel id="importe" value="#{facturaReporte.importe}"
							styleClass="Wid90" />
					</p:column>

				</p:dataTable>
			</h:form>
		</p:panel>

		<p:panel id="panelInsertar" header="AÑADIR PRODUCTO"
			styleClass="DispNone">

			<h:form id="formBusquedaProducto">
				<p:outputLabel value="Producto" styleClass="DispBlock" />
				<p:inputText value="#{nuevoPedidoBean.criterioBusquedaRapida}"
					styleClass="Wid90 inputConButton" />
				<p:commandButton id="btnBusquedaRapida"
					update="tablaBusquedaProductos, :mensaje" icon="#{msg['i.buscar']}"
					actionListener="#{nuevoPedidoBean.busquedaRapida}"
					styleClass="botonBuscar" />

				<div class="EmptyBox10"></div>
				<p:commandButton value="Regresar"
					update=":formDataTable:tablaDetallePedido"
					actionListener="#{nuevoPedidoBean.guardarDetallePedido}"
					oncomplete="mostarPanelInsertar('');" id="btnAtras"
					icon="#{msg['i.atras']}" styleClass="OrangeButton" />
				<div class="EmptyBox10"></div>

				<p:dataTable id="tablaBusquedaProductos" var="producto"
					paginator="true" rows="10" scrollable="true"
					styleClass="ui-datatable-scrollable-body"
					value="#{nuevoPedidoBean.listaBusquedaRapida}" editable="true"
					emptyMessage="#{msg['lbl.mensajeTabla']}"
					paginatorPosition="bottom" selectionMode="single"
					selection="#{nuevoPedidoBean.producto}" rowKey="#{producto.id}">

					<p:ajax event="rowSelect"
						listener="#{nuevoPedidoBean.insertarProductoRapido}"
						update=":mensaje" />

					<p:column headerText="EAN" style="width:100px">
						#{producto.ean}
					</p:column>

					<p:column headerText="NOMBRE" style="width:300px">
						#{producto.nombre}
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>